<style type="text/css">
	ul {
	    padding-left: 0;
	}
	textarea[disabled],
	input[disabled] {
	    cursor: default !important;
	}
	.form-control[disabled] {
	    background-color: #fafafa;
	}
	.SFFB {
	    border-width: 0 1px 1px 1px;
	    border-style: solid;
	    border-color: #ebebeb;
	    padding: 3px;
	    margin-bottom: 5px;
	}
	.k-grid-cancel-changes {
	    margin-right: 10px;
	}
	.k-grid-save-changes {
	    margin-right: 10px;
	}
	.k-grid-edit-changes {
	    margin-right: 10px;
	}
	.banksdata-action {
	    margin-right: 10px;
	    margin-top: -5px;
	}
	.k-grid .k-grid-header .k-header .k-link {
	    height: auto;
	}
	.headerdatabankgrid {
	    text-align: center;
	}
	#toptables1 > div > div.k-grid-content > table > tbody > tr {
	    background-color: #eee;
	}
	#toptables2 > div > div.k-grid-content > table > tbody > tr {
	    background-color: #eee;
	}
	#toptables3 > div > div.k-grid-content > table > tbody > tr {
	    background-color: #eee;
	}
	#toptables4 > div > div.k-grid-content > table > tbody > tr {
	    background-color: #eee;
	}
	#toptables5 > div > div.k-grid-content > table > tbody > tr {
	    background-color: #eee;
	}
	#toptables6 > div > div.k-grid-content > table > tbody > tr {
	    background-color: #eee;
	}
	button.saveupdate {
	    margin-right: 10px;
	}
	@media (min-width: 768px) {
	    .modal-dialog {
	        width: 1000px;
	        margin: 30px auto;
	    }
	}
	.form-last-confirmation-info {
	    padding-bottom: 10px;
	    text-align: right;
	    font-style: italic;
	    color: #27ae60;
	    margin-right: 20px;
	}
	.headernfb {
	    background-color: rgba(119, 119, 119, 0.75);
	    color: white;
	    text-align: center;
	}
	.headersecfb {
	    background-color: #f5f5f5;
	    color: black;
	    text-align: center;
	}
	.k-grid .k-grid-header .k-header {
	    white-space: normal;
	}
	#topgrid {
	    min-width: 500px;
	}
	/*div.k-grid-header > div > table > thead > tr:nth-child(1) > th  {
		background-color: #313d50 !important;
		color: #fff !important;
	}*/
	
	div.k-grid-header > div > table > thead > tr:nth-child(2) > th {
	    background-color: rgba(128, 149, 176, 1) !important;
	    color: white !important;
	    /*overflow-y: hidden !important;*/
	}
	.satu {
	    border-top: 1px solid #f1f1f1;
	    padding: 33px
	}
	.k-grid-content {
	    overflow-y: hidden !important;
	    overflow-x: scroll;
	}
	.k-grid-header {
	    padding-right: 0px !important;
	}
	.bgwhite {
	    background: #ffffff !important;
	    border: 0 !important;
	}
	.swal2-confirm {
	    margin-right: 3px;
	}
	#backbutton {
	    text-align: left;
	}

	.k-grid-header .k-header{
      background-color: #798da7 !important;
    }
	/*.panel-body{
	margin-top: px !important;
}*/
</style>
<div class="col-md-12" data-bind="visible: setup.detailIsShow" style="padding-bottom: 15px;">
		<button id="backbutton" class="btn btn-sm btn-flat btn-danger" onclick='setup.getBack()'><i class="fa fa-arrow-left"></i> Back</button>
		<button id="accept" data-bind="visible:model.IsGranted('accept')" class="btn btn-sm btn-flat btn-success" onclick="setup.getAccept()">Accept</button>
		<button id="sendback" class="btn btn-sm btn-flat btn-warning" data-bind="visible:model.IsGranted('reject')" onclick="setup.getSendBack()">Reject</button>
		
</div>
<div class="col-md-12">
	<div class="form-container" data-bind="visible: setup.detailIsShow">
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<ul class="collapsibleDeal" data-collapsible="accordion">
				<li>
					<div class="collapsible-header header-bgcolor"><i class="fa fa-list"></i>Account Set-up Details <i class="fa fa-chefron-down pull-right"></i></div>
					<div class="collapsible-body">
					 	<div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-3">City Name</label>
				            	<div class="col-sm-9">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value: setup.AccounDetails.cityname()">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <!-- <div class="clearfix"></div> -->
			            <div class="col-sm-6" id="DealNo">
			            	<div class="form-group">
				            	<label class="form-label col-sm-3">Deal No.</label>
				            	<div class="col-sm-9">
				            		<input type="text"  class="input-sm form-control" disabled style="width: 100%;" data-bind='value: setup.AccounDetails.dealno()'>
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-3">RM Name</label>
				            	<div class="col-sm-9">
				            		<input disabled type="text"  class="input-sm form-control" style="width: 100%;" data-bind="value: setup.AccounDetails.rmname()">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <!-- <div class="clearfix"></div> -->
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-3">Credit Analyst</label>
				            	<div class="col-sm-9">
				            		<input disabled type="text" class="acct input-sm form-control disable" style="width: 100%;" data-bind="value: setup.AccounDetails.creditanalyst()">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-3">Lead Distributor</label>
				            	<div class="col-sm-9">
				            		<input disabled id="acct" type="text" class="acct input-sm form-control" style="width: 100%;" data-bind="value: setup.AccounDetails.leaddistributor()">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <!-- <div class="clearfix"></div> -->
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-3">Product</label>
				            	<div class="col-sm-9">
				            		<input disabled type="text" class="acct input-sm form-control" style="width: 100%;" data-bind="value: setup.AccounDetails.product()">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-3">Scheme</label>
				            	<div class="col-sm-9">
				            		<input disabled type="text" class="acct input-sm form-control" style="width: 100%;" data-bind="value: setup.AccounDetails.scheme()">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="clearfix"></div>
					</div>
				</li>
				<li data-bind="with: setup.LoanDetails">
					<div class="collapsible-header header-bgcolor"><i class="fa fa-list"></i>Loan Details <i class="fa fa-chefron-down pull-right"></i></div>
					<div class="collapsible-body">
						<div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">Requested Loan Amount (Rs. Lacs)</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value: proposedloanamount()">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">Proposed Amount of Limit (Rs. Lacs)</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value: requestedlimitamount">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">Proposed Rate of Interest (ROI) %</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value:proposedrateinterest">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">Limit Tenor (Months)</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value:limittenor">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">If Existing Customer</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value: ifexistingcustomer">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">If Yes, Existing Limit Amount (Rs. Lacs)</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text" class="disable input-sm form-control" style="width: 100%;" data-bind="value: ifyeseistinglimitamount">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">Existing ROI %</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value: existingroi">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">Existing Processing Fee %</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text" class="disable input-sm form-control" style="width: 100%;" data-bind="value: existingpf">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">First Agreement Date</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value: firstagreementdate">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">Recent Agreement Date</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value: recenetagreementdate">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group">
				            	<label class="form-label col-sm-5">Vintage with X10 (in months)</label>
				            	<div class="col-sm-7">
				            		<input disabled type="text"  class="disable input-sm form-control" style="width: 100%;" data-bind="value: vintagewithx10">
				            	</div>
				            	<div class="clearfix"></div>
			            	</div>
			            </div>

			             <div class="clearfix"></div>
					</div>
				</li>
				<li data-bind="with: setup.applicantdetail">
					<div class="collapsible-header header-bgcolor"><i class="fa fa-list"></i>Customer Application Details <i class="fa fa-chefron-down pull-right"></i></div>
					<div class="collapsible-body" style="margin-bottom: -23px;">
						<div class="panel-heading"><h5 class="no-margin" style="font-weight: bold;">General Details</h5></div>
						<div class="row">
					        <div class="col-sm-6">
					          <div class="form-group col-sm-12">
					            <label for="inputPassword3" class="col-sm-4 form-label">Name of the Applicant </label>
					            <div class="col-sm-8">
					                <input disabled class="form-control input-sm" data-bind="value: CustomerName"/>
					            </div>
					          </div>

					          <div class="form-group col-sm-12">
					            <label for="inputEmail3" class="col-sm-4 form-label">Constitution of the Entity </label>
					            <div class="col-sm-8">
					              <input disabled class="form-control input-sm" data-bind="value: CustomerConstitution"/>
					            </div>
					          </div>

					          <div class="form-group col-sm-12">
					            <label for="inputEmail3" class="col-sm-4 form-label">Date of Incorporation </label>
					            <div class="col-sm-8">
					              <input disabled class="form-control input-sm" data-bind="value: DateOfIncorporation" />
					            </div>
					          </div>


					        </div>

					        <div class="col-sm-6">
					        	<div class="form-group col-sm-12">
						            <label for="inputEmail3" class="col-sm-4 form-label">Tax Identification Number (TIN) </label>
						            <div class="col-sm-8">
						              <input disabled class="form-control input-sm" data-bind="value: TIN"/>
						            </div>
					            </div>

					            <div class="form-group col-sm-12">
						            <label for="inputEmail3" class="col-sm-4 form-label">Registration Number </label>
						            <div class="col-sm-8">
						              	<input type="text" disabled id="CustomerRegistrationNumber" class="form-control input-sm" data-bind="value:CustomerRegistrationNumber"/>
						            </div>
						        </div>

								<div class="form-group col-sm-12">
									<label for="inputEmail3" class="col-sm-4 form-label">PAN Number </label>
									<div class="col-sm-8">
									  <input disabled class="form-control input-sm" data-bind="value: CustomerPan"/>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-heading"><h5 class="no-margin" style="font-weight: bold;">Company Background Details</h5></div>
						<div class="row">
							<div class="col-sm-6">
					        	<div class="form-group col-sm-12">
						            <label for="inputEmail3" class="col-sm-4 form-label">Nature of Business </label>
						            <div class="col-sm-8">
						              <input disabled type="number" id="AnnualTurnOver" class="form-control input-sm" validationMessage="Annual Turnover required" required data-bind="value: NatureOfBussiness"/>
						            </div>
					            </div>

								<div class="form-group col-sm-12">
									<label for="inputEmail3" class="col-sm-4 form-label">User Group Companies </label>
									<div class="col-sm-8">
									  <input disabled class="form-control input-sm" id="UserGroupCompanies" validationMessage="User Group Companies required" required data-bind="value: UserGroupCompanies" />
									</div>
								</div>

								
							</div>
							<div class="col-sm-6">
						        	<div class="form-group col-sm-12">
							            <label for="inputEmail3" class="col-sm-4 form-label">No of Employees </label>
							            <div class="col-sm-8">
							              <input disabled type="number" id="AnnualTurnOver" class="form-control input-sm" validationMessage="Annual Turnover required" required data-bind="value: NoOfEmployees" />
							            </div>
						            </div>

						            <div class="form-group col-sm-12">
									<label for="inputEmail3" class="col-sm-4 form-label">No of Years in Business </label>
									<div class="col-sm-8">
									  <input disabled class="form-control input-sm" id="UserGroupCompanies" validationMessage="User Group Companies required" required data-bind="value: YearsInBusiness" />
									</div>
								</div>

									<!-- <div class="form-group col-sm-12">
										<label for="inputEmail3" class="col-sm-4 form-label">Requested Loan Amount </label>
										<div class="col-sm-8">
										  <input disabled class="form-control input-sm" id="UserGroupCompanies" validationMessage="User Group Companies required" required data-bind="value: AmountLoan" />
										</div>
									</div> -->
								</div>
						</div>
						<div class="panel-heading"><h5 class="no-margin" style="font-weight: bold;">Company Address Details</h5></div>
					    <!-- <div class="panel-body"> -->
					     <div class="row">
					        <div class="col-sm-12" style="margin-left: 10px;">
					          <div class="col-sm-4 well well-sm" data-bind="with: registeredaddress">
					            <img src="/static/img/sign-check.svg" class="pull-right" style="padding-top: 5px;height: 23px;" data-bind="visible:setup.applicantdetail.registeredaddress.CorrespondeceAddress().toUpperCase() == 'YES'"><h5 style="font-weight: bold;">Registered</h5>
					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" disabled class="col-sm-4 form-control-label">Address :</label>
					              <div class="col-sm-8">
					                <textarea disabled class="Address form-control input-sm" data-bind="value: AddressRegistered"></textarea>
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Landmark :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled class="Landmark form-control input-sm" date-bind="value: LandmarkRegistered"/>
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3"  class="col-sm-4 form-control-label">City :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="CityRegistered" class="City form-control input-sm" data-bind="value: CityRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Pin Code :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled class="Pincode form-control input-sm" data-bind="value: PincodeRegistered"/>
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">State :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled class="State form-control input-sm" data-bind="value: StateRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Tel1 :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="PhoneRegistered" class="Phone form-control input-sm" data-bind="value: PhoneRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Mobile No. :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="MobileRegistered" class="Mobile form-control input-sm" data-bind="value: MobileRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Contact Person :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="ContactPersonRegistered" class="ContactPerson form-control input-sm" data-bind="value: ContactPersonRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Email :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="EmailRegistered" class="Email form-control input-sm" data-bind="value: EmailRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Ownership :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled class="Ownership form-control input-sm" data-bind="value: Ownership" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">No. of years at above address :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="NoOfYearsAtAboveAddressRegistered" class="NoOfYears form-control input-sm" data-bind="value: NoOfYearsAtAboveAddressRegistered" />
					              </div>
					            </div>
					          </div>
					          <div class="col-sm-4 well well-sm" data-bind="with: addresscorrespondence">
					            <img src="/static/img/sign-check.svg" class="pull-right" style="padding-top: 5px;height: 23px;" data-bind="visible:setup.applicantdetail.addresscorrespondence.CorrespondeceAddress().toUpperCase() == 'YES'"><h5 style="font-weight: bold;">Residence</h5>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Address :</label>
					              <div class="col-sm-8">
					                <textarea disabled class="Address form-control input-sm" data-bind="value: AddressRegistered"></textarea>
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Landmark :</label>
					              <div class="col-sm-8">
					                <input type="text" class="Landmark form-control input-sm" disabled date-bind="value: LandmarkRegistered"/>
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">City :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="CityRegistered" class="City form-control input-sm" data-bind="value: CityRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Pin Code :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled class="Pincode form-control input-sm" data-bind="value: PincodeRegistered"/>
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">State :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled class="State form-control input-sm" data-bind="value: StateRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Tel1 :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="PhoneRegistered" class="Phone form-control input-sm" data-bind="value: PhoneRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Mobile No. :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="MobileRegistered" class="Mobile form-control input-sm" data-bind="value: MobileRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Contact Person :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="ContactPersonRegistered" class="ContactPerson form-control input-sm" data-bind="value: ContactPersonRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Email :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled id="EmailRegistered" class="Email form-control input-sm" data-bind="value: EmailRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Ownership :</label>
					              <div class="col-sm-8">
					                <input type="text" disabled class="Ownership form-control input-sm" data-bind="value: Ownership" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">No. of years at above address :</label>
					              <div class="col-sm-8">
					                <input disabled type="text" id="NoOfYearsAtAboveAddressRegistered" class="NoOfYears form-control input-sm" data-bind="value: NoOfYearsAtAboveAddressRegistered" />
					              </div>
					            </div>
					          </div>
					          <div class="col-sm-4 well well-sm" data-bind="with: siteworkaddress">
					            <img src="/static/img/sign-check.svg" class="pull-right" style="padding-top: 5px;height: 23px;" data-bind="visible:setup.applicantdetail.siteworkaddress.CorrespondeceAddress().toUpperCase() == 'YES'"><h5 style="font-weight: bold;">Site/Work</h5>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Address :</label>
					              <div class="col-sm-8">
					                <textarea disabled class="Address form-control input-sm" data-bind="value: AddressRegistered"></textarea>
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Landmark :</label>
					              <div class="col-sm-8">
					                <input type="text" class="Landmark form-control input-sm" disabled date-bind="value: LandmarkRegistered"/>
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">City :</label>
					              <div class="col-sm-8">
					                <input disabled type="text" id="CityRegistered" class="City form-control input-sm" data-bind="value: CityRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Pin Code :</label>
					              <div class="col-sm-8">
					                <input disabled type="number" class="Pincode form-control input-sm" data-bind="value: PincodeRegistered"/>
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">State :</label>
					              <div class="col-sm-8">
					                <input disabled type="text" class="State form-control input-sm" data-bind="value: StateRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Tel1 :</label>
					              <div class="col-sm-8">
					                <input disabled type="text" id="PhoneRegistered" class="Phone form-control input-sm" data-bind="value: PhoneRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Mobile No. :</label>
					              <div class="col-sm-8">
					                <input disabled type="text" id="MobileRegistered" class="Mobile form-control input-sm" data-bind="value: MobileRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Contact Person :</label>
					              <div class="col-sm-8">
					                <input disabled type="text" id="ContactPersonRegistered" class="ContactPerson form-control input-sm" data-bind="value: ContactPersonRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Email :</label>
					              <div class="col-sm-8">
					                <input disabled type="text" id="EmailRegistered" class="Email form-control input-sm" data-bind="value: EmailRegistered" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">Ownership :</label>
					              <div class="col-sm-8">
					                <input disabled type="text" class="Ownership form-control input-sm" data-bind="value: Ownership" />
					              </div>
					            </div>

					            <div class="form-group col-sm-12">
					              <label for="inputEmail3" class="col-sm-4 form-control-label">No. of years at above address :</label>
					              <div class="col-sm-8">
					                <input disabled type="text" id="NoOfYearsAtAboveAddressRegistered" class="NoOfYears form-control input-sm" data-bind="value: NoOfYearsAtAboveAddressRegistered" />
					              </div>
					            </div>
					          </div>
					        </div>
					    </div>
					    <!-- </div> -->
					    <div class="panel-heading"><h5 class="no-margin" style="font-weight: bold;">Financial Information - Existing Relationship With X10 Financial Services Limited</h5></div>
					    <div class="row">
					    	<div class="col-sm-12" style="margin-left: 9px;">
					    		<!-- <center><h5 class="no-margin" style="font-weight: bold">Existing Relationship With X10 Financial Services Limited</h5></center> -->
					    		<div id="grid-ex"></div>
					    	</div>
					    </div>
					     <div class="panel-heading"><h5 class="no-margin" style="font-weight: bold;">Details of Promoters/Directors/Guarantors/Management</h5></div>
					    <div>
						    <div class="row" style="margin-left: 50px;" data-bind="foreach: setup.detailofpromoters()">
						    	<div class="col-md-12" style="border-bottom: 0.5px solid #ccc;padding : 10px;">

									<form id="biodata" class="col-sm-12">
										<div class="col-sm-2">
										  <img class="imgCustomerProfile" src="/static/img/user/no-image.jpg"/>
										</div>
										<div class="col-sm-5">
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Name :</label>
										    </div>
										    <div class="col-sm-7 widthfield">	
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Name" type="text" class="form-control input-sm " />
										    </div>
										  </div>

										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Father’s/Spouse Name :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].FatherName" type="text" class="form-control input-sm" />
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Gender :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Gender" type="text" class="form-control input-sm " />
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Date of Birth :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].DateOfBirth, attr:{'id':'promotor'+$index()}" type="text" id="DateOfBirth" class="DateOfBirth form-control input-sm" />
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Marital Status :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].MaritalStatus" type="text" id="MaritalStatus" class="MaritalStatus form-control input-sm"/>
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Shareholding Percentage :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].ShareHoldingPercentage" type="text" id="Address" name="address" class="form-control input-sm Address" />
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Guarantor :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Guarantor" type="text" id="Address" name="address" class="form-control input-sm Address" />
										    </div>
										  </div>

										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Director :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Director" type="text" id="Address" name="address" class="form-control input-sm Address" />
										    </div>
										  </div>

										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Promotor :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Promotor" type="text" id="Address" name="address" class="form-control input-sm Address" />
										    </div>
										  </div>

										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Educational Qualification :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Education" type="text" id="Education" name="education" class="form-control input-sm Education"/>
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Designation :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Designation, attr:{'id':'design'+$index()}" type="text" id="Address" name="address" class="form-control input-sm Address" />
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">PAN Number:</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].PAN" type="text" id="PAN" name="pan" class="form-control input-sm PAN" />
										    </div>
										  </div>
										</div>
										<div class="col-sm-5">
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Position:</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Position, attr:{'id':'position'+$index()}" type="text" id="Address" name="address" class="form-control input-sm Address" />
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Residence Address :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Address" type="text" id="Address" name="address" class="form-control input-sm Address" />
										    </div>
										  </div>

										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Landmark :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Landmark" type="text" id="Landmark" name="landmark" class="form-control input-sm Landmark"/>
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">City :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].City" type="text" id="City" name="city" class="form-control input-sm City"/>
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">State :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].State" type="text" id="State" name="state" class="form-control input-sm State"/>
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Pin Code :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Pincode " type="text" id="Pincode" name="pincode" class="form-control input-sm Pincode"/>
										    </div>
										  </div>

										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Tel1 :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Phone" type="text" id="Phone" name="phone" class="form-control input-sm Phone"/>
										    </div>
										  </div>

										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Moblie Number :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Mobile" type="text" id="Mobile" name="hp" class="form-control input-sm Mobile"/>
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Ownership :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Ownership" type="text" id="Ownership" class="Ownership form-control input-sm" />	
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">No. of Years in this Address :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].NoOfYears" type="text" id="NoOfYears" name="noyear" class="form-control input-sm NoOfYears" required  />
										    </div>
										  </div>
										  <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">Market Value :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].ValueOfPot" type="number" id="ValueOfPot" name="valueplot" class="form-control input-sm ValueOfPot"/>
										    </div>
										  </div>
										   <div class="col-sm-12 form-group">
										    <div class="col-sm-5 widthlable">
										      <label for="Acc" class="control-label">E-mail :</label>
										    </div>
										    <div class="col-sm-7 widthfield">
										      <input disabled data-bind="value: setup.detailofpromoters()[$index()].Email" type="text" id="email" name="email" class="form-control input-sm Email"/>
										    </div>
										  </div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="panel-heading"><h5 class="no-margin" style="font-weight: bold;">Details of Reference</h5></div>
						<div class="row" style="padding: 10px" data-bind="foreach: setup.detailOfRefrence()">
							<div class="col-sm-6">
			                    <div class="panel panel-default">
			                      <div>
			                        <div class="panel-body">
			                          <div class="col-sm-12 form-group">
			                            <div class="col-sm-4 widthlable">
			                              <label for="Acc" class="control-label">Name :</label>
			                            </div>
			                            <div class="col-sm-8 widthfield">
			                              <input type="text" disabled data-bind="value: Name" id="namedetail" name="Name" class=" form-control input-sm"/>
			                            </div>
			                          </div>
			                          <div class="col-sm-12 form-group">
			                            <div class="col-sm-4 widthlable">
			                              <label for="Acc" class="control-label">Address :</label>
			                            </div>
			                            <div class="col-sm-8 widthfield">
			                              <input disabled  type="text" id="addressdetail" data-bind="value: Address" name="Address" class="form-control input-sm"/>
			                            </div>
			                          </div>
			                          <div class="col-sm-12 form-group">
			                            <div class="col-sm-4 widthlable">
			                              <label for="Acc" class="control-label">Contact no :</label>
			                            </div>
			                            <div class="col-sm-8 widthfield">
			                              <input disabled type="number" data-bind="value: ContactNo"  name="ContactNo" class="form-control input-sm"/>
			                            </div>
			                          </div>
			                          <div class="col-sm-12 form-group">
			                            <div class="col-sm-4 widthlable">
			                              <label for="Acc" class="control-label">Relation of Applicant :</label>
			                            </div>
			                            <div class="col-sm-8 widthfield">
			                              <input disabled type="text" data-bind="value: RelationAplicant" id="relationdetail" name="RelationAplicant" class="form-control input-sm"/>
			                            </div>
			                          </div>
			                        </div>
			                      </div>
			                    </div>
			                </div>
						</div>
					</div>
				</li>
				<li>
					<!-- <div> -->
						<div class="collapsible-header header-bgcolor"><i class="fa fa-list"></i>Internal RTR Details <i class="fa fa-chefron-down pull-right"></i></div>
						<div class="collapsible-body">
							<div class="col-sm-12" style="padding-bottom: 15px;">
								<div id="topgrid"></div>
							</div>
							<div class="col-md-12">
								<div id="unselect"></div>
							</div>
						</div>
					<!-- </div> -->
				</li>
			</ul>
		</div>
	</div>
</div>