{{template "dataaccess.html" .}}

<script>document.write('<script src="/static/core/dealsetup-top.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script><script src="/static/core/dealsetup-bottom.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

<style type="text/css">
	a{
		cursor: pointer;
	}
</style>
{{template "dealfilter.html"}}

<div class="col-md-12 col-sm-12 ez panel-content" data-bind="with: setup,visible:model.IsGranted('view')" >
	<div class="panel">
		<div class="panel-body">
			<div class="col-md-12" data-bind="visible: !(setup.detailIsShow())">
				<!-- <div class="col-md-4">
					<div class="form-group col-sm-12 filterhide">
				     	<label class="col-sm-3 form-control-label margin-top5px">Customer Name</label>
				     	<div class="col-sm-9">
					 			<input type="text" style="width: 100%;" name="customerName" class="form-control k-textbox" data-bind="value: searchValueCustomerName, event:{change: onChangeSearchCustomerName}">
					 		<input type="text" style="width: 100%;" name="customerName" class="form-control k-textbox" data-bind="value: searchValueCustomerName">
					    </div>
					    <div class="clearfix"></div>
				    </div>
				</div> -->
				<!-- <div class="col-md-4">
					<div class="form-group col-sm-12 filterhide">
				     	<label class="col-sm-3 form-control-label margin-top5px">Deal No</label>
				     	<div class="col-sm-9">
					 			<input type="text" style="width: 100%;" name="dealno" class="form-control k-textbox" data-bind="value: searchValueDealNo, event:{change: onChangeSearchDealNo}" >
					 <input type="text" style="width: 100%;" name="dealno" class="form-control k-textbox" data-bind="value: searchValueDealNo" >
					    </div>
					    <div class="clearfix"></div>
				    </div>
				</div> -->
				<!-- <div class="col-md-4">
					<div class="form-group col-sm-12 filterhide">
				     	<button class="btn btn-sm btn-primary btn-flat" data-bind="click:createGrid">Refresh</button>
				     	<button class="btn btn-sm btn-danger btn-flat" data-bind="click: resetDealSetup">Reset</button>
				    </div>
				</div> -->
			</div>
			<div class="col-md-12" data-bind="visible: !(setup.detailIsShow())">
				{{template "top.html"}}
			</div>
			<div class="col-md-12">
				{{template "bottom.html"}}
			</div>
		</div>
	</div>	
</div>

<div id="current" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm" style="width: 50%;">
		<!-- <form class="form-add"> -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Status History</h4>
				</div>
				<div class="modal-body">
					<!-- <div class="col-md-12"> -->
						<div id="currentStatus"></div>
					<!-- </div> -->
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-sm btn-flat btn-primary" data-dismiss="modal" data-bind="click: adf.onclickDismissModal">Save</button> -->
					<button type="button" class="btn btn-sm btn-flat btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		<!-- </form> -->
	</div>
</div>