<style>
    .no-padding{
        padding-left : 0px;
        padding-right : 0px;
    }
    .summary{
        padding-left : 10px;
    }
    .finance{
        text-align: left;
    }
</style>

<script type="text/html" id="topcust-product-template">

    <!-- ko if: loanApproval.companyBackgroundData().isEmptyMostLength -->
        <tr>
            <td class="col-sm-2 text-center text-bold">Top Customers Name</td>
            <td class="col-sm-4"></td>
            <td class="col-sm-2 text-center text-bold">Products</td>
            <td class="col-sm-4""></td>
        </tr>
    <!-- /ko -->

    <!-- ko ifnot: loanApproval.companyBackgroundData().isEmptyMostLength -->
        <!-- ko foreach: loanApproval.companyBackgroundData().mostLength -->
            <tr>
                <!-- ko if: $index() == 0-->
                    <td class="col-sm-2 text-center text-bold" data-bind="attr: { rowspan: loanApproval.companyBackgroundData().mostLength().length }">
                        Top Customers Name
                    </td>
                    <td class="col-sm-4" data-bind="text: loanApproval.companyBackgroundData().topCustomersName()[$index()]"></td>
                    <td class="col-sm-2 text-center text-bold" data-bind="attr: { rowspan: loanApproval.companyBackgroundData().mostLength().length }">
                        Products
                    </td>
                    <td class="col-sm-4" data-bind="text: loanApproval.companyBackgroundData().topProducts()[$index()]"></td>
                <!-- /ko -->
                <!-- ko ifnot: $index() == 0 -->
                    <td class="col-sm-4" data-bind="text: loanApproval.companyBackgroundData().topCustomersName()[$index()]"></td>
                    <td class="col-sm-4" data-bind="text: loanApproval.companyBackgroundData().topProducts()[$index()]"></td>
                <!-- /ko -->
            </tr>
        <!-- /ko -->
    <!-- /ko -->
</script>

<script type="text/html" id="expansion-comment-template">
    <!-- ko foreach: loanapproval.commentfinance -->
        <tr>
            <!-- ko if: $index() == 0-->
                <td class="col-sm-2 center text-bold"
                data-bind="attr: { rowspan: loanapproval.commentfinance().length }">
                    Expansion Plan</td>
                
                <td class="col-sm-4" 
                data-bind="attr: { rowspan: loanapproval.commentfinance().length }, 
                text:loanapproval.expansionplan"></td>
                
                <td class="col-sm-2 center text-bold"
                data-bind="attr: { rowspan: loanapproval.commentfinance().length }">
                    Comments On Financial</td>
            <!-- /ko -->
            
            <td class="col-sm-4 finance" data-bind="text: loanapproval.commentfinance()[$index()]"></td>
        </tr>
    <!-- /ko -->
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="compbackgrid"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="k-grid">
                <table class="table-bordered companyTable" style="word-break: break-word" data-bind="template: { name: 'topcust-product-template' }">
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="k-grid">
                <table class="table-bordered" data-bind="template: { name: 'expansion-comment-template' }">
                </table>
            </div>
        </div>
    </div>
</div>