<div class="container-fluid">

	<div class="k-grid">
	    <table class="table-bordered" style="word-break: break-word">
	    	<tr>
	    		<td class="col-sm-3">Amount Recommended</td>
	    		<td data-bind="text: apcom.Amount()"></td>
	    	</tr>
	    	<tr>
	    		<td class="col-sm-3">Basis of Recommendation (Minimum 5 points)</td>
	    		<td data-bind="text: apcom.Recommendations()"></td>
	    	</tr>
	    	<tr>
	    		<td class="col-sm-3">Recommended Sanction Condition</td>
	    		<td data-bind="text: apcom.RecommendedCondition()"></td>
	    	</tr>
	    </table>
	</div>

</div>