<div class="container-fluid">

	<div class="k-grid">
	    <table class="table-bordered" style="word-break: break-word">
	    	<tr>
	    		<td class="col-sm-3">Date</td>
	    		<td data-bind="text: apcom.Date()"></td>
	    	</tr>
	    	<tr>
	    		<td class="col-sm-3">Amount</td>
	    		<td data-bind="text: apcom.LeftAmount()"></td>
	    	</tr>
	    	<tr>
	    		<td class="col-sm-3">ROI (%)</td>
	    		<td data-bind="text: apcom.ROI()"></td>
	    	</tr>
	    	<tr>
	    		<td class="col-sm-3">PF</td>
	    		<td data-bind="text: apcom.PF()"></td>
	    	</tr>
	    	<tr>
	    		<td class="col-sm-3">PG</td>
	    		<td data-bind="text: apcom.PG()"></td>
	    	</tr>
	    	<tr>
	    		<td class="col-sm-3">Security</td>
	    		<td data-bind="text: apcom.Security()"></td>
	    	</tr>
	    	<tr>
	    		<td class="col-sm-3">Other Conditions</td>
	    		<td data-bind="text: apcom.OtherConditions()"></td>
	    	</tr>
	    	<tr>
	    		<td class="col-sm-3">Committee Remarks</td>
	    		<td data-bind="text: apcom.CommitteeRemarks()"></td>
	    	</tr>
	    </table>
	</div>

</div>