{{template "dataaccess.html" .}}


<style type="text/css">
  table {
    font-size: 10px;
  }

  .table>thead>tr>th {
    vertical-align: middle;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }

  .no-padding {
    padding: 0px;
  }

  .spacer {
    padding: 5px;
  }
  .comment-container{
    margin-top: -10px;
    padding-bottom: 5px;
  }
  .no-margin{
    margin: 0px;
  }
  .comment-a{
    text-decoration: none!important;
  }
  .k-grid td , th{
    padding:7px;
    min-width: 80px;
  }

  .k-grid .onlyNumb{
    text-align: right;
  }

  .container-companysummary{
    max-height: 450px;
    overflow: scroll;
    border: 1px solid #e4e4e4;
    padding: 0px;
  }

  .container-cibil{
    margin-left: 20px;
    margin-right: 20px;
  }

   .width-container{
    width: 58.333333%
  }

@media (min-width: 1000px){
    .width-container{
      width: 64.333333%
    }
    .container-cibil {
      margin-left: 5px;
      margin-right: 5px;
    }
}

@media (min-width: 1200px){
  .width-container{
    width: 67.333333%
  }
  .container-cibil {
    margin-left: 10px;
    margin-right: 10px;
}
}

  .swal2-cancel{
    margin-left: 10px;
  }
  .swal-custom {
    width: 22% !important;
    margin-left: -32% !important;
    margin-top: -3% !important;
    top: 40% !important;
    position: absolute;
  }
  .custom-table>tbody>tr>td {
    padding: 0px;
  }
  .CBComment{
    z-index: 99999999;
  }

  .comment-body{
    max-height: 500px;
    overflow-y: scroll;
  }

  .no-border td{
    border: none!important;
  }
  .jancok:hover {
    background-color: white !important;
    background-image: none !important;
  }
  .panel {
    background-color: white;
  }
  .panel-heading-collapsible {
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
    background-color: #313d50;
    color: white;
    text-align: center;
  }
</style>
<script>document.write('<script src="/static/core/cibilnew.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

<!-- <div class="spacer"></div> -->
{{template "filter.html"}}

<div data-bind="with: cibil,visible:model.IsGranted('view')" style="background-color: white;">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 col-sm-12 ez panel-content">
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12 col-sm-12 ez panel-content">
        <div class="panel-body">
          <div class="row">
            <!-- <div class="col-md-12"></div> -->
            <!-- <div class="col-md-12"><span class="pull-right" style="margin-bottom: 13px"></span></div> -->
            <div class="col-md-12">
              <div class="row">
                <!-- <div class="col-md-8"> -->
                  <!-- <div class="row"> -->
                    <!-- <div class="col-md-4"></div> -->
                    <div class="col-md-6 comment-container">
                      <label style="font-weight: bold !important;">Comment: </label>
                      <a href="#" class="comment-a">
                      <img class="btn-comment img-responsives no-margin" style="height: 33px !important;" data-bind="click:cibil.ShowComment" src="/static/img/user_comment.png" >
                      </a>
                      <button class="btn btn-sm btn-confirm btn-disabled1" onclick="updateConfirmCibil()" data-bind="text: ConfirmText, enable: (cibil.cibilStatus() == 1)"></button>
                      <button class="btn btn-sm btn-freeze" data-bind="text: FreezeText, click:cibil.eventfreeze">Freeze</button>
                    </div>
                    <div class="col-md-6" style="text-align: right;"><span class="confirmdate"></span></div>
                    <!-- <div class="col-md-1"></div> -->
                  <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="col-md-4"> -->

                <!-- </div> -->
              </div>
              <!-- <div class="spacer"></div> -->
              <div class="row container-all">
                <div class="col-md-9 container-cibil width-container" id="test">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="panel reportSummary">
                        <div class="panel-heading panel-heading-collapsible">
                          <span data-bind="text:r.titleCibil()">Company Summary</span>
                        </div>
                        <div class="panel-body no-margin no-padding">
                          {{template "cibilgridnew.html"}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 container-cibil" style="margin-left: 5%">
                  <div class="row">
                    <div class="col-ms-12">
                      <div class="panel promoters">
                        <div class="panel-heading panel-heading-collapsible">Promoters / Directors / Guarantors</div>
                        <div class="panel-body no-margin no-padding">
                          {{template "panelcibilnew.html"}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <ul class="entryreportCibil active" data-collapsible="accordion" style="margin-left: -41px;">
                    <li>
                      <div class="collapsible-header header-bgcolor active" style="text-align: center; "><i class="fa fa-list"></i>Please edit following details for the Borrower<i class="fa fa-chevron-down pull-right"></i></div>
                      <div class="collapsible-body no-margin no-padding">
                      {{template "entryreportcibilnew.html"}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <ul class="collapsiblecibil" data-collapsible="accordion" style="margin-left: -41px;">
        <li>
          <div class="collapsible-header header-bgcolor active"><i class="fa fa-list"></i>Company CIBIL Score <i class="fa fa-chevron-down pull-right"></i></div>
          <div id="companyCibil" class="collapsible-body">
            {{template "panelcibildetails.html"}}
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <ul class="collapsibleguarantor" data-collapsible="accordion" style="margin-left: -41px;">
        <li>
          <div class="collapsible-header header-bgcolor active"><i class="fa fa-list"></i>Promotors / Directors / Guarantors CIBIL Score<i class="fa fa-chevron-down pull-right"></i></div>
          <div id="companyCibil" class="collapsible-body">
            {{template "panelcibilguarantors.html"}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
<div id="CBComment" class="modal fade modal-history">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Comments</h4>
        </div>
        <div class="modal-body comment-body">
          {{template "cibilcomment.html"}}
        </div>
      </div>
  </div>
</div>

</div>