<style type="text/css">
  .no-margin{
    font-weight: bolder;
    /*text-decoration: underline;*/
  }
  .k-state-disabled{
    background-color: #eee !important;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .k-state-disabled span, .k-state-disabled input{
    background-color: #eee !important;
  }

  .multifield .k-multiselect-wrap input {
    background-color: #fff !important;
  }
  span.k-dropdown-wrap.k-state-disabled .k-input{
    color: black !important;
  }
</style>
<script type="text/javascript">
model.PageTopMenu('{{.TopMenu}}');
model.PageId('{{.Menuname}}');
model.BreadCrumbs.push(new BreadCrumb("{{.TopMenu}}", "{{.TopMenu}}", "#", "", ""));
model.BreadCrumbs.push(new BreadCrumb('{{.Menuname}}', '{{.Menuname}}', "#", "active", ""));
model.Access = ko.observable('{{.Menuid}}');
model.View = ko.observable('{{.View}}');
model.Create= ko.observable('{{.Create}}');
model.Delete= ko.observable('{{.Delete}}');
model.Process= ko.observable('{{.Process}}');
model.Edit= ko.observable('{{.Edit}}')
model.User= ko.observable('{{.Username}}');
model.Rolename= ko.observable('{{.Rolename}}')
model.Fullname = ko.observable('{{.Fullname}}');

customerprofile = ko.observable({id: ""});
customerprofile().FinancialReport = ko.observable();
customerprofile().Status = ko.observable();
customerprofile().Freeze = ko.observable(false);
customerprofile().DateSave = ko.observable('');

NonRefundableProcessingFeesDetailsTemplate = {
  Amount : '',
  BankName : '',
  InstrumentDate : '',
  InstrumentNo : '',
  InstrumentType : ''
}
customerprofile().NonRefundableProcessingFeesDetails = {
  Amount : ko.observable(''),
  BankName : ko.observable(''),
  InstrumentDate : ko.observable(''),
  InstrumentNo : ko.observable(''),
  InstrumentType : ko.observable('')
}

var formVisibility = ko.observable(false)
model.All = ko.observable("customerprofile");

// filter().DealNumberSearchVal.subscribe(function(value){
//   refreshdata();
// })

function initEvents() {
    filter().CustomerSearchVal.subscribe(function () {
        formVisibility(false)
    })
    filter().DealNumberSearchVal.subscribe(function () {
        formVisibility(false)
    })

    //$('#refresh').remove()
}

formatnum =  function(number, decimalPlace) {
   decimalPlace = (typeof decimalPlace === "undefined" ? 0 : decimalPlace);

   var suffix = ((String(number).indexOf(".") > -1) ? String(number).split(".")[1].substring(0, decimalPlace) : "");
   var prefix = ((String(number).indexOf(".") > -1) ? String(number).split(".")[0] : String(number)).split("").reverse().join("");

   var result = "";
    for (var i = 0; i < prefix.length; i++) {
      result += prefix[i];
      if (i == 2)
          result += ",";
      else if (i > 2 && ((i - 2) % 2 == 0))
          result += ",";
    }

    result = result.split("").reverse().join("")

    if (suffix.length > 0) if (parseInt(suffix, 10) != 0) result = result + "." + suffix;
    result = result.replace(/- /g, "-");

    if(String(number).length % 2 != 0) {
      var res = result.split('')
      var remove = res.splice(0,1,'')
      result = res.join('')
    }

    result = result.replace(/\s+/g, '')

    return result;
}

function refreshFilter(){
  info.formVisibility(false)
  refreshdata(getMasterAccountDetails);
  initEvents()
  setTimeout(function(){
    $("input").css("z-index", "0")
  }, 500)
}

filter().CustomerSearchVal.subscribe(function(val){
  blanked();
});

function refreshdata(accountdetailsMaster){
  blanked();
  var param = {CustomerId: filter().CustomerSearchVal(), Dealno: filter().DealNumberSearchVal()}
  var url = "{{BaseUrl}}datacapturing/getcustomerprofiledetail";
  ajaxPost(url, param, function(data) {
    if (data.length > 0) {
      console.log(typeof callback)
      if(typeof accountdetailsMaster === "function") {
        accountdetailsMaster(formatDataPosition)
      }
      info.formVisibility(true)
      formVisibility(true)
      model.All(data[0]);
      // checkConfirmedOrNot(data[0].Status, 1, 2, data[0], [], "Customer Application");
      data[0].ApplicantDetail.DateOfIncorporation = data[0].ApplicantDetail.DateOfIncorporation+"";
      $(".grid2").getKendoGrid().dataSource.data([])
      $(".grid2").getKendoGrid().refresh()
      $(".grid3").getKendoGrid().dataSource.data([])
      $(".grid3").getKendoGrid().refresh()
      detail.biodata([]);
      $('.form-last-confirmation-info').html('');
      customerprofile().Status(data[0].Status);
      if(data[0].Status == 1){
        $('.form-last-confirmation-info').html('Last Confirmed on: '+kendo.toString(new Date(data[0].ConfirmedDate),"dd-MM-yyyy h:mm:ss tt") )
        info.ButtonLogic(1)
      } else if(data[0].Status == 0){
        if(data[0].DateSave != ""){
          $('.form-last-confirmation-info').html('Last Saved on: '+kendo.toString(new Date(data[0].DateSave),"dd-MM-yyyy h:mm:ss tt") )
          info.ButtonLogic(0)
        }else{
          $('.form-last-confirmation-info').html('');
          info.ButtonLogic(0)
        }

      } else if(data[0].Status == 2){
        $('.form-last-confirmation-info').html('Last Freezed on: '+kendo.toString(new Date(data[0].DateFreeze),"dd-MM-yyyy h:mm:ss tt") )
        info.ButtonLogic(2)
      }
      customerprofile().id = data[0].Id;
      customerprofile().ConfirmedBy = data[0].ConfirmedBy;
      customerprofile().ConfirmedDate = (new Date(moment(data[0].ConfirmedDate))).toISOString();
      
      if(customerprofile().ConfirmedDate === "0001-01-01T00:00:00Z") {
        customerprofile().ConfirmedDate = ""
      }

      ApplicantDetail.DateIncorporation(moment(data[0].ApplicantDetail.DateOfIncorporation).format("DD-MMM-YYYY"))
      if(ApplicantDetail.DateIncorporation() === "01-Jan-0001") {
        ApplicantDetail.DateIncorporation("")
      }
      data[0].ApplicantDetail.AmountLoan = formatnum(data[0].ApplicantDetail.AmountLoan)
      data[0].ApplicantDetail.RegisteredAddress.Title = "Registered";
      data[0].ApplicantDetail.AddressCorrespondence.Title = "Residence";
      data[0].ApplicantDetail.SiteWorkAddress.Title = "Site/Work";
      if (data[0].ApplicantDetail.NoOfEmployees == 0){
        data[0].ApplicantDetail.NoOfEmployees = ""
      }
      if (data[0].ApplicantDetail.GroupTurnOver == 0){
        data[0].ApplicantDetail.GroupTurnOver = ""
      }
      if (data[0].ApplicantDetail.CapitalExpansionPlans == 0){
        data[0].ApplicantDetail.CapitalExpansionPlans = ""
      }

      if(data[0].ApplicantDetail.CapitalExpansionPlansBool){
        $('#CapitalExpansionPlansBoolNone').prop("checked", false);
        $('#CapitalExpansionPlansBoolDetail').prop("checked", true);
      } else{
        $('#CapitalExpansionPlansBoolNone').prop("checked", true);
        $('#CapitalExpansionPlansBoolDetail').prop("checked", false);
      }

      // $(".grid2").getKendoGrid().dataSource.data(data[0].FinancialReport.DetailsPertainingBanker)
      // $(".grid2").getKendoGrid().refresh()
      // $(".grid3").getKendoGrid().dataSource.data(data[0].FinancialReport.ExistingRelationship)
      var ds1 = new kendo.data.DataSource({
        data:data[0].FinancialReport.PreviousLoansDetail,
        pageSize:10
      });
      $(".grid1").getKendoGrid().setDataSource(ds1)
      var ds = new kendo.data.DataSource({
        data:data[0].FinancialReport.PreviousLoansDetail,
        pageSize:10
      });

      var h1 = $('.grid1 .k-grid-content').height();

      if( h1 > 100){
          $('.grid1 .k-grid-content').height(100);
      }

      //console.log("***************************",(data[0].FinancialReport.DetailsPertainingBanker).length)

      if((data[0].FinancialReport.DetailsPertainingBanker).length > 0){
        $.each(data[0].FinancialReport.DetailsPertainingBanker, function(i, item){
          data[0].FinancialReport.DetailsPertainingBanker[i].TypeOfAc = (item.TypeOfAc).toString();
        })
      }

      var ds2 = new kendo.data.DataSource({
        data:data[0].FinancialReport.DetailsPertainingBanker,
        pageSize:10
      });
      $(".grid2").getKendoGrid().setDataSource(ds2)
      var ds = new kendo.data.DataSource({
        data:data[0].FinancialReport.ExistingRelationship,
        pageSize:10
      });

      var h2 = $('.grid2 .k-grid-content').height();

      if( h2 > 100){
          $('.grid2 .k-grid-content').height(100);
      }

      $(".grid3").getKendoGrid().setDataSource(ds)
      //$(".grid3").getKendoGrid().refresh()
      if (ApplicantDetail.Detail().length > 0 ){
        ApplicantDetail.Detail([]);
      }

      info.ifEmpty()
      ApplicantDetail.Detail.push(data[0].ApplicantDetail.RegisteredAddress);
      ApplicantDetail.Detail.push(data[0].ApplicantDetail.AddressCorrespondence);
      ApplicantDetail.Detail.push(data[0].ApplicantDetail.SiteWorkAddress);
      // console.log(data[0].ApplicantDetail.RegisteredAddress)
      // pushaddressfake();
      //data[0].ApplicantDetail.RegisteredAddress = ApplicantDetail.Detail()[0]
      customerprofile().ApplicantDetail(data[0].ApplicantDetail);
      data[0].NonRefundableProcessingFeesDetails.InstrumentDate = validateDateUTCFormat(data[0].NonRefundableProcessingFeesDetails.InstrumentDate, "DD-MMM-YYYY");

      customerprofile().FinancialReport(data[0].FinancialReport);

      if(data[0].NonRefundableProcessingFeesDetails.Amount != undefined) {
        customerprofile().NonRefundableProcessingFeesDetails.Amount(data[0].NonRefundableProcessingFeesDetails.Amount)
      }

      if(data[0].NonRefundableProcessingFeesDetails.BankName != undefined) {
        customerprofile().NonRefundableProcessingFeesDetails.BankName(data[0].NonRefundableProcessingFeesDetails.BankName)
      }

      if(data[0].NonRefundableProcessingFeesDetails.InstrumentDate != undefined) {
        customerprofile().NonRefundableProcessingFeesDetails.InstrumentDate(data[0].NonRefundableProcessingFeesDetails.InstrumentDate)
      }

      if(data[0].NonRefundableProcessingFeesDetails.InstrumentNo != undefined) {
        customerprofile().NonRefundableProcessingFeesDetails.InstrumentNo(data[0].NonRefundableProcessingFeesDetails.InstrumentNo)
      }

      if(data[0].NonRefundableProcessingFeesDetails.InstrumentType != undefined) {
        customerprofile().NonRefundableProcessingFeesDetails.InstrumentType(data[0].NonRefundableProcessingFeesDetails.InstrumentType)
      }

      $.each(data[0].DetailOfPromoters.Biodata, function(i,v){
        if(data[0].DetailOfPromoters.Biodata[i].PropertyOwned == null || data[0].DetailOfPromoters.Biodata[i].PropertyOwned.length == 0){
          data[0].DetailOfPromoters.Biodata[i].PropertyOwnedkendo = ko.observableArray([])
        } else{
          data[0].DetailOfPromoters.Biodata[i].PropertyOwnedkendo = ko.observableArray(data[0].DetailOfPromoters.Biodata[i].PropertyOwned)
        }

        if(data[0].DetailOfPromoters.Biodata[i].Gender === "M") {
          data[0].DetailOfPromoters.Biodata[i].Gender = "MALE"
        }else {
          data[0].DetailOfPromoters.Biodata[i].Gender = "FEMALE"
        }

        if(data[0].DetailOfPromoters.Biodata[i].MaritalStatus === "M") {
          data[0].DetailOfPromoters.Biodata[i].MaritalStatus = "Married"
        }else {
          data[0].DetailOfPromoters.Biodata[i].MaritalStatus = "Single"
        }

        if(typeof data[0].DetailOfPromoters.Biodata[i].Guarantor === "boolean") {
          if(data[0].DetailOfPromoters.Biodata[i].Guarantor) {
            data[0].DetailOfPromoters.Biodata[i].Guarantor = "Yes"
          } else {
            data[0].DetailOfPromoters.Biodata[i].Guarantor = "No"
          }
        }

        if(typeof data[0].DetailOfPromoters.Biodata[i].Director === "boolean") {
          if(data[0].DetailOfPromoters.Biodata[i].Director) {
            data[0].DetailOfPromoters.Biodata[i].Director = "Yes"
          } else {
            data[0].DetailOfPromoters.Biodata[i].Director = "No"
          }
        }

        if(typeof data[0].DetailOfPromoters.Biodata[i].Promotor === "boolean") {
          if(data[0].DetailOfPromoters.Biodata[i].Promotor) {
            data[0].DetailOfPromoters.Biodata[i].Promotor = "Yes"
          } else {
            data[0].DetailOfPromoters.Biodata[i].Promotor = "No"
          }
        }

        if(data[0].DetailOfPromoters.Biodata[i].Position === undefined || data[0].DetailOfPromoters.Biodata[i].Position == null) {
          data[0].DetailOfPromoters.Biodata[i].Position = ko.observable()
        } else {
          data[0].DetailOfPromoters.Biodata[i].Position = ko.observable(data[0].DetailOfPromoters.Biodata[i].Position)
        }

        if(data[0].DetailOfPromoters.Biodata[i].Designation === undefined || data[0].DetailOfPromoters.Biodata[i].Designation == null) {
          data[0].DetailOfPromoters.Biodata[i].Designation = ko.observable()
        } else {
          data[0].DetailOfPromoters.Biodata[i].Designation = ko.observable(data[0].DetailOfPromoters.Biodata[i].Designation)
        }

      })

      _.each(data[0].DetailOfPromoters.Biodata, function(row){
        row.AnniversaryDate = validateDateUTCFormat(row.AnniversaryDate, "DD-MMM-YYYY");
        row.DateOfBirth = validateDateUTCFormat(row.DateOfBirth, "DD-MM-YYYY");

        // Probably special case
        // Temporary disable
        // if(row.DateOfBirth === "01-Jan-0001") {
        //   row.DateOfBirth = ""
        // }
      })

      detail.biodata(data[0].DetailOfPromoters.Biodata)
      detail.detailReference(data[0].DetailOfPromoters.DetailOfReference)
      if (detail.detailReference().length == 0){
        detail.detailReference.push({Name: '',Address: '',ContactNo: '',RelationAplicant: ''});
      }
      // if (data[0].DetailOfPromoters.DetailOfReference.length > 0){
      //   detail.detailReference(data[0].DetailOfPromoters.DetailOfReference)
      // } else{
      //   detail.detailReference.push({Name: '',Address: '',ContactNo: '',RelationAplicant: ''});
      // }
      //data[0].DetailOfPromoters.Biodata = detail.biodata()
      // $("#cf").show();
      // $("#edit").show();
      // $("#ceedit").hide();
      // $("#vf").show();
      // $("#reset").show();
      info.initEvents();
      $("#pdf").show();

      if(parse("scrollto") != "Not found"){
               var topi = $($("#tab0 div:contains('"+ parse("scrollto") +"')")[$("#tab0 div:contains('"+ parse("scrollto") +"')").length -1]).offset().top;
                $('body').animate({
                  scrollTop: topi - 330
                })
      }

      if(parse("scrolltoinp") != "Not found"){
               var topi = $('input[id="'+parse("scrolltoinp")+'"]:eq(0)').offset().top;
                $('body').animate({
                  scrollTop: topi - 400
                })
      }
      // buttonlogicstatus(customerprofile().Status());
    }else if(filter().CustomerSearchVal() != "" && filter().DealNumberSearchVal() != "" ){
       swal("warning","Data not available", "warning");
    }else{
      blanked();
    }
  }, undefined);
}

function CapitalExpansionPlansBool(stat){
  customerprofile().ApplicantDetail().CapitalExpansionPlansBool = stat
  if(stat){
    $('#CapitalExpansionPlansBoolNone').prop("checked", false);
    $('#CapitalExpansionPlansBoolDetail').prop("checked", true);
  } else{
    $('#CapitalExpansionPlansBoolNone').prop("checked", true);
    $('#CapitalExpansionPlansBoolDetail').prop("checked", false);
  }
}

function pushaddressfake(){
  ApplicantDetail.Detail.push(
    {
      Title: ko.observable("Address for Correspondence"),ValueRegistered: "",LandmarkRegistered: "",PincodeRegistered: "",
      AddressRegistered:"",CityRegistered:"",StateRegistered:"",PhoneRegistered:"",MobileRegistered:"",ContactPersonRegistered:"",EmailRegistered:"",OfficeRegistered:"",NoOfYearsAtAboveAddressRegistered:"",AreaOfPlotRegistered:"",BuiltUpAreaRegistered:""
    }
  );
  ApplicantDetail.Detail.push(
    {
      Title: ko.observable("Site/Work Address"),ValueRegistered: "",LandmarkRegistered: "",PincodeRegistered: "",
      AddressRegistered:"",CityRegistered:"",StateRegistered:"",PhoneRegistered:"",MobileRegistered:"",ContactPersonRegistered:"",EmailRegistered:"",OfficeRegistered:"",NoOfYearsAtAboveAddressRegistered:"",AreaOfPlotRegistered:"",BuiltUpAreaRegistered:""
    }
  );
}

function pushaddressfakeComplete(){
   ApplicantDetail.Detail([]);
   ApplicantDetail.Detail.push(
    {
      Title: ko.observable("Registered Address"),ValueRegistered: "",LandmarkRegistered: "",PincodeRegistered: "",
      AddressRegistered:"",CityRegistered:"",StateRegistered:"",PhoneRegistered:"",MobileRegistered:"",ContactPersonRegistered:"",EmailRegistered:"",OfficeRegistered:"",NoOfYearsAtAboveAddressRegistered:"",AreaOfPlotRegistered:"",BuiltUpAreaRegistered:""
    }
  );
  ApplicantDetail.Detail.push(
    {
      Title: ko.observable("Address for Correspondence"),ValueRegistered: "",LandmarkRegistered: "",PincodeRegistered: "",
      AddressRegistered:"",CityRegistered:"",StateRegistered:"",PhoneRegistered:"",MobileRegistered:"",ContactPersonRegistered:"",EmailRegistered:"",OfficeRegistered:"",NoOfYearsAtAboveAddressRegistered:"",AreaOfPlotRegistered:"",BuiltUpAreaRegistered:""
    }
  );
  ApplicantDetail.Detail.push(
    {
      Title: ko.observable("Site/Work Address"),ValueRegistered: "",LandmarkRegistered: "",PincodeRegistered: "",
      AddressRegistered:"",CityRegistered:"",StateRegistered:"",PhoneRegistered:"",MobileRegistered:"",ContactPersonRegistered:"",EmailRegistered:"",OfficeRegistered:"",NoOfYearsAtAboveAddressRegistered:"",AreaOfPlotRegistered:"",BuiltUpAreaRegistered:""
    }
  );
}

var editmode = ko.observable(false);
function enableedit(){
  $(".cotainer-tab input").prop("disabled", false);
  $(".cotainer-tab textarea").prop("disabled", false);
  // $("#genderdropdown").data("kendoDropDownList").enable(true);
  // $("#Martialdropdown").data("kendoDropDownList").enable(true);
  // $("#Guarantodropdown").data("kendoDropDownList").enable(true);
  // $("#designation").data("kendoDropDownList").enable(true);
  // $("#ownership").data("kendoDropDownList").enable(true);
  // // $("#di").data("kendoDatePicker").enable(true);
  // // $("#datebirth").data("kendoDatePicker").enable(true);
  // $("#anniversarrydate").data("kendoDatePicker").enable(true);
  // $("#doi").data("kendoDatePicker").enable(true);
  // // $("#id").data("kendoDatePicker").enable(true);
  // $("#holdingpercent").data("kendoNumericTextBox").enable(true);
  editmode(true);
  // $("#a").data("kendoDropDownList").enable(true);
  // $("#b").data("kendoDropDownList").enable(true);
  // $("#c").data("kendoDropDownList").enable(true);
  // $("#d").data("kendoDropDownList").enable(true);
  $("#edit").hide();
  $("#ceedit").show();
  $(".btnsave").hide();
  EnableAllkendo(true);
  // for(var i in detail.biodata()){
  //   if(detail.biodata()[i].PropertyOwnedkendo().length == 0){
  //     detail.biodata()[i].PropertyOwnedkendo.push({PropertyType: "",Address: "",MarketValue: ""})
  //   }
  // }
}

function disableedit(){
  info.edit(false);
  try{
    for(var i in detail.biodata()){
        for(var x in detail.biodata()[i].PropertyOwnedkendo()){
      if(detail.biodata()[i].PropertyOwnedkendo()[x].Address == "" && detail.biodata()[i].PropertyOwnedkendo()[x].MarketValue == "" && detail.biodata()[i].PropertyOwnedkendo()[x].PropertyType == ""){
        detail.biodata()[i].PropertyOwnedkendo().splice(x,1);
      }
    }
  }

  editmode(false);
  // $("#edit").show();
  $("#ceedit").hide();
  $(".btnsave").hide();
  $(".cotainer-tab input").prop("disabled", true);
  $(".cotainer-tab textarea").prop("disabled", true);
  // $("#doi").data("kendoDatePicker").enable(false);
  // $("#genderdropdown").data("kendoDropDownList").enable(false);
  // $("#Martialdropdown").data("kendoDropDownList").enable(false);
  // $("#Guarantodropdown").data("kendoDropDownList").enable(false);
  // $("#designation").data("kendoDropDownList").enable(false);
  // $("#ownership").data("kendoDropDownList").enable(false);
  // $("#di").data("kendoDatePicker").enable(false);
  // $("#datebirth").data("kendoDatePicker").enable(false);
  // $("#anniversarrydate").data("kendoDatePicker").enable(false);
  // $("#doi").data("kendoDatePicker").enable(false);
  // $("#id").data("kendoDatePicker").enable(false);
  // $("#holdingpercent").data("kendoNumericTextBox").enable(false);
  EnableAllkendo(false);

}catch(e){
  console.log(e)
}

  // $("#a").data("kendoDropDownList").enable(false);
  // $("#b").data("kendoDropDownList").enable(false);
  // $("#c").data("kendoDropDownList").enable(false);
  // $("#d").data("kendoDropDownList").enable(false);
}

function EnableAllkendo(param){
  $("#biodata .k-widget").each(function(i,e){
    var $ddl = $(e).find("select").getKendoDropDownList();

    if($ddl == undefined)
    var $ddl = $(e).find("input").getKendoDropDownList();

    var $dtm = $(e).find("input").getKendoDatePicker();
    var $txt = $(e).find("input").eq(1).getKendoNumericTextBox();

    if($ddl != undefined)
    {
      $ddl.enable(param);
    }else if($dtm != undefined){
      $dtm.enable(param);
    }else if ($txt != undefined){
      $txt.enable(param);
    }
  });

  if(customerprofile().Status() === 0) {
    $(".ndisable").each(function(i,e){
      var $ddl = $(e).find("select").getKendoDropDownList();

      var $ddm = $(e).find("select").getKendoMultiSelect();

      if($ddl == undefined)
      var $ddl = $(e).find("input").getKendoDropDownList();

      var $dtm = $(e).find("input").getKendoDatePicker();
      var $txt = $(e).find("input").eq(1).getKendoNumericTextBox();

      if($ddl != undefined)
      {
        $ddl.enable(true);
      }else if($dtm != undefined){
        $dtm.enable(true);
      }else if ($txt != undefined){
        $txt.enable(true);
      }else if ($ddm != undefined) {
        $ddm.enable(true);
      }
    });
  } else if (customerprofile().Status() === 1) {
    $(".ndisable").each(function(i,e){
      var $ddl = $(e).find("select").getKendoDropDownList();

      var $ddm = $(e).find("select").getKendoMultiSelect();

      if($ddl == undefined)
      var $ddl = $(e).find("input").getKendoDropDownList();

      var $dtm = $(e).find("input").getKendoDatePicker();
      var $txt = $(e).find("input").eq(1).getKendoNumericTextBox();

      if($ddl != undefined)
      {
        $ddl.enable(false);
      }else if($dtm != undefined){
        $dtm.enable(false);
      }else if ($txt != undefined){
        $txt.enable(false);
      }else if ($ddm != undefined) {
        $ddm.enable(false);
      }
    });
  }

  $(".disabledropdown").each(function(i,e){
      var $ddl = $(e).find("select").getKendoDropDownList();

      if($ddl == undefined)
      var $ddl = $(e).find("input").getKendoDropDownList();

      var $dtm = $(e).find("input").getKendoDatePicker();
      var $txt = $(e).find("input").eq(1).getKendoNumericTextBox();

      if($ddl != undefined)
      {
        $ddl.enable(false);
      }else if($dtm != undefined){
        $dtm.enable(false);
      }else if ($txt != undefined){
        $txt.enable(false);
      }
    });
}

function reset(){
  filter().CustomerSearchVal('');
  filter().DealNumberSearchVal('');
  customerprofile().ApplicantDetail({});
  ApplicantDetail.Detail([]);
  // customerprofile().NonRefundableProcessingFeesDetails = ko.mapping.fromJS(NonRefundableProcessingFeesDetailsTemplate)
  //customerprofile().NonRefundableProcessingFeesDetails({});
  disableedit();
  // $("#cf").hide();
  // $("#vf").hide();
  $("#edit").hide();
  $("#ceedit").hide();
  $("#reset").hide();
  // $("#pdf").hide();
}

function blanked(){
  info.formVisibility(false)
  try{
  customerprofile().ApplicantDetail({});
  ApplicantDetail.Detail([]);
  pushaddressfakeComplete();
  customerprofile().FinancialReport().DetailsPertainingBanker = [];
  customerprofile().FinancialReport().ExistingRelationship = [];
  customerprofile().FinancialReport().PreviousLoansDetail = []; 
  
  //customerprofile().NonRefundableProcessingFeesDetails({})
  
  disableedit();
  // $("#cf").hide();
  // $("#vf").hide();
  $("#edit").hide();
  $("#ceedit").hide();
  $("#reset").hide();
  // $("#pdf").hide();
  detail.biodata([]);
  $(".grid1").getKendoGrid().dataSource.read()
  $(".grid2").getKendoGrid().dataSource.read()
  $(".grid3").getKendoGrid().dataSource.read()
}catch(e){
  console.log(e)
}
}

function confirmorverify(status){
  if(customerprofile().Status() == 0 && status == 2){
    sweetAlert("Please Confirm Data First", "", "warning");
    return;
  }
  if(status == 1){
    customerprofile().Status(status);
    info.getConfirmed();
  }else if (status == 2){
    customerprofile().Status(status);
    info.getFreeze();
  }else{
    customerprofile().Status(0);
    info.getReEnter();
  }


  save();
  // buttonlogicstatus(status);
  // $("#edit").hide();
  $("#ceedit").hide();
}

// SHORT FUNCTION TO CONVERT BETWEEN Date
function validateDateUTC(tgl) {
  var e = moment(tgl)

  if (!e.isValid())
    return ""

  // reparse to avoid any timezone from previous parse
  // this is hackis, fix should be on datetime widget
  // but at least it working
  var d = moment.utc(e.format("DD-MMM-YYYY"))

  // we save on afternoon to prevent time rollback
  d.hour(12)
  d.minute(0)
  d.second(0)
  d.millisecond(0)

  return d
}

function validateDateUTCISO(tgl) {
  var d = validateDateUTC(tgl)

  if (d == "")
    return ""

  return d.toISOString()
}

function validateDateUTCFormat(tgl, format) {
  var d = validateDateUTC(tgl)
  
  if (d == "")
    return ""
  
  return d.format(format)
}

function save1(){
  var grid2 = $(".grid2").data("kendoGrid").dataSource.data();
  customerprofile().FinancialReport().DetailsPertainingBanker = []
  $.each(grid2, function(i, data){
    customerprofile().FinancialReport().DetailsPertainingBanker.push({
      AcNo : data.AcNo,
      AddressContactNo: data.AddressContactNo,
      NameOfBanks: data.NameOfBanks,
      SrNo: data.SrNo,
      TypeOfAc : (data.TypeOfAc).toString(),
      YearOpening: parseInt(data.YearOpening)
    })
  });
  
  var grid1 = $(".grid1").data("kendoGrid").dataSource.data(); 
  customerprofile().FinancialReport().PreviousLoansDetail = []
  $.each(grid1, function(i, data){
    customerprofile().FinancialReport().PreviousLoansDetail.push({
      SrNo : data.SrNo,
      BanksFls: data.BanksFls,
      LoanAmount: parseFloat(data.LoanAmount),
      Tenure: parseFloat(data.Tenure),
      MonthlyInstallment: parseFloat(data.MonthlyInstallment),
      OutstandingAmount: parseFloat(data.OutstandingAmount),
      SecuredUnsecured: data.SecuredUnsecured,
    });
  });

  param = {};
  param.Id = customerprofile().id;
  param.Status = customerprofile().Status();
  param.DateSave = (new Date()).toISOString();
  param.DateFreeze = (new Date()).toISOString();
  param.ConfirmedBy = customerprofile().ConfirmedBy;
  param.ConfirmedDate = customerprofile().ConfirmedDate;
  
  param.NonRefundableProcessingFeesDetails = ko.mapping.toJS(customerprofile().NonRefundableProcessingFeesDetails);
  
  // var dateTemp = kendo.toString(new Date(param.NonRefundableProcessingFeesDetails.InstrumentDate), "dd-MM-yyyy");
  // var dateTempLength = dateTemp.split("-")
  // if(dateTempLength.length === 1) {
  //   param.NonRefundableProcessingFeesDetails.InstrumentDate = "0001-01-01T00:00:00Z"
  // }

  // add checking for empty or invalid date.
  param.NonRefundableProcessingFeesDetails.InstrumentDate = validateDateUTCISO(param.NonRefundableProcessingFeesDetails.InstrumentDate);
  param.FinancialReport = customerprofile().FinancialReport();
  param.DetailOfPromoters = customerprofile().DetailofPromoters();
  param.ApplicantDetail = customerprofile().ApplicantDetail();
  param.ApplicantDetail.DateOfIncorporation = (new Date(moment(param.ApplicantDetail.DateOfIncorporation))).toISOString();
  param.ApplicantDetail.RegisteredAddress = ApplicantDetail.Detail()[0];
  param.ApplicantDetail.AddressCorrespondence = ApplicantDetail.Detail()[1];
  param.ApplicantDetail.SiteWorkAddress = ApplicantDetail.Detail()[2];
  param.ApplicantDetail.AmountLoan = customerprofile().ApplicantDetail().AmountLoan.split(",").join("");

  $.each(detail.biodata(),function(i,v){
    $.each(detail.biodata()[i].PropertyOwnedkendo(),function(ii,vv){
      detail.biodata()[i].PropertyOwnedkendo()[ii].MarketValue = parseFloat(vv.MarketValue)
    })
    detail.biodata()[i].PropertyOwned = detail.biodata()[i].PropertyOwnedkendo();

    detail.biodata()[i].AnniversaryDate = validateDateUTCISO(detail.biodata()[i].AnniversaryDate);
    detail.biodata()[i].DateOfBirth = validateDateUTCISO(detail.biodata()[i].DateOfBirth);
  })

  param.DetailOfPromoters.Biodata = detail.biodata();
  param.DetailOfPromoters.DetailOfReference = detail.detailReference();

  var url = "{{BaseUrl}}datacapturing/savecustomerprofiledetail";
  ajaxPost(url, param, function(data) {
    if (data){
      swal("Sucessfully Saved", "", "success");
      // if(customerprofile().Status() == 1){
      //   $('.form-last-confirmation-info').html('Last Confirmed on: '+kendo.toString(new Date(),"dd-MM-yyyy h:mm:ss tt") )
      //   info.ButtonLogic(1)
      // } else if(customerprofile().Status() == 0){
        $('.form-last-confirmation-info').html('Last Saved on: '+kendo.toString(new Date(),"dd-MM-yyyy h:mm:ss tt") )
      //   info.ButtonLogic(0)
      // } else if(customerprofile().Status() == 2){
      //   $('.form-last-confirmation-info').html('Last Freezed on: '+kendo.toString(new Date(),"dd-MM-yyyy h:mm:ss tt") )
      //   info.ButtonLogic(2)
      // }
    }
  }, undefined);
}

function save(){
  var grid2 = $(".grid2").data("kendoGrid").dataSource.data();
  customerprofile().FinancialReport().DetailsPertainingBanker = []
  $.each(grid2, function(i, data){
    customerprofile().FinancialReport().DetailsPertainingBanker.push({
      AcNo : data.AcNo,
      AddressContactNo: data.AddressContactNo,
      NameOfBanks: data.NameOfBanks,
      SrNo: data.SrNo,
      TypeOfAc : data.TypeOfAc,
      YearOpening: data.YearOpening
    })
  });
  

  var grid1 = $(".grid1").data("kendoGrid").dataSource.data(); 
  customerprofile().FinancialReport().PreviousLoansDetail = []
  $.each(grid1, function(i, data){
    customerprofile().FinancialReport().PreviousLoansDetail.push({
      SrNo : data.SrNo,
      BanksFls: data.BanksFls,
      LoanAmount: parseFloat(data.LoanAmount),
      Tenure: parseFloat(data.Tenure),
      MonthlyInstallment: parseFloat(data.MonthlyInstallment),
      OutstandingAmount: parseFloat(data.OutstandingAmount),
      SecuredUnsecured: data.SecuredUnsecured,
    });
  });

  param = {};
  param.Id = customerprofile().id;
  param.Status = customerprofile().Status();
  param.DateSave = (new Date()).toISOString();
  param.DateFreeze = (new Date()).toISOString();
  param.ConfirmedBy = customerprofile().ConfirmedBy;
  param.ConfirmedDate = customerprofile().ConfirmedDate;
  param.NonRefundableProcessingFeesDetails = ko.mapping.toJS(customerprofile().NonRefundableProcessingFeesDetails);
  param.NonRefundableProcessingFeesDetails.InstrumentDate = validateDateUTCISO(param.NonRefundableProcessingFeesDetails.InstrumentDate)
  param.FinancialReport = customerprofile().FinancialReport();
  param.DetailOfPromoters = customerprofile().DetailofPromoters();
  param.ApplicantDetail = customerprofile().ApplicantDetail();
  param.ApplicantDetail.DateOfIncorporation = (new Date(param.ApplicantDetail.DateOfIncorporation)).toISOString();
  param.ApplicantDetail.RegisteredAddress = ApplicantDetail.Detail()[0];
  param.ApplicantDetail.AddressCorrespondence = ApplicantDetail.Detail()[1];
  param.ApplicantDetail.SiteWorkAddress = ApplicantDetail.Detail()[2];
  param.ApplicantDetail.AmountLoan = customerprofile().ApplicantDetail().AmountLoan.split(",").join("");

  $.each(detail.biodata(),function(i,v){
    $.each(detail.biodata()[i].PropertyOwnedkendo(),function(ii,vv){
      detail.biodata()[i].PropertyOwnedkendo()[ii].MarketValue = parseFloat(vv.MarketValue)
    })
    detail.biodata()[i].PropertyOwned = detail.biodata()[i].PropertyOwnedkendo();

    detail.biodata()[i].AnniversaryDate = validateDateUTCISO(detail.biodata()[i].AnniversaryDate)
    detail.biodata()[i].DateOfBirth = validateDateUTCISO(detail.biodata()[i].DateOfBirth)
  })

  param.DetailOfPromoters.Biodata = detail.biodata();
  param.DetailOfPromoters.DetailOfReference = detail.detailReference();

  var url = "{{BaseUrl}}datacapturing/savecustomerprofiledetail";
  ajaxPost(url, param, function(data) {
    if (data){
      if(customerprofile().Status() == 1){
        $('.form-last-confirmation-info').html('Last Confirmed on: '+kendo.toString(new Date(),"dd-MM-yyyy h:mm:ss tt") )
        info.ButtonLogic(1)
      } else if(customerprofile().Status() == 0){
        $('.form-last-confirmation-info').html('Last Saved on: '+kendo.toString(new Date(),"dd-MM-yyyy h:mm:ss tt") )
        info.ButtonLogic(0)
      } else if(customerprofile().Status() == 2){
        $('.form-last-confirmation-info').html('Last Freezed on: '+kendo.toString(new Date(),"dd-MM-yyyy h:mm:ss tt") )
        info.ButtonLogic(2)
      }
    }
  }, undefined);
}

function FilterInputNumber(event) {
  var keyCode = ('which' in event) ? event.which : event.keyCode;

  isNotWanted = (keyCode == 69 || keyCode == 101);
  return !isNotWanted;
};

function FilterInputAlphabet(event) {
  var keyCode = ('which' in event) ? event.which : event.keyCode;

  isNotWanted = true;
  if(keyCode >= 48 && keyCode <= 57) {
    isNotWanted = false;
  }

  return isNotWanted;
};

$(document).ready(function(){
  info.initEvents();
  reset();
  // setTimeout(function(){
  //   $("input").css("z-index", "-1")
  // }, 500)

});

</script>
<script>document.write('<script src="/static/core/detailsofpromotersdirectorsguarantors.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
<script>document.write('<script src="/static/core/customerprofileinfo.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

<style type="text/css">
  .btnsave{
    padding: 10px;
  }
  .mgright17{
    margin-bottom: 1px;
  }



.form-last-confirmation-info {
  padding-bottom: 10px;
  text-align: right;
  font-style: italic;
  color: #27ae60;
  margin-right: 10px;
}
.fixed{
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-top: -23px;
  margin-left: -26px;
  background-color: #f0f3f4;
}

.static{
  position: static;
  margin-top: -17px;
  margin-bottom: -11px;
}

input[disabled]{
  cursor: default !important;
}

.multifield .k-button {
  color: #676767;
}

.multifield .k-button:hover {
  color: #676767;
}

.multifield .k-state-disabled span, .k-state-disabled input {
  color: #ffff !important;
}
</style>


{{template "filter.html"}}
<div data-bind="with: info, visible: (formVisibility() == true)" style="display: none">
  <div class="col-sm-12 col-sm-12 ez panel-content" data-bind="visible: (formVisibility() == true)">
      <div class="panel ez no-padding hardcore">
        <!-- <div class="panel-heading"><h4 data-bind="html: model.currentTitle()" style="margin-top: 4px">&nbsp;</h4></div> -->
        <div class="panel-body">
          <!-- <div class="form-last-confirmation-info"></div> -->

          <div class="panel-body btnFixed static">
            <div class="panel-nav-button " >
              <!-- <button  type="button" id="ceedit" btn-sm class="btn btn-sm btn-success" onclick="disableedit()">Cancel Edit</button> -->
              <button  type="button" id="save" btn-sm class="btn btn-sm btn-save" data-bind="visible: (edit() != true)" onclick="save1()">Save</button>
              <button  type="button" id="edit" btn-sm class="btn btn-sm btn-save" onclick="enableedit()"> Edit</button>
               <button  type="button" id="cf" btn-sm class="btn btn-sm btn-confirm" onclick="confirmorverify(1)">Confirm</button>
               <button  type="button" id="re" btn-sm class="btn btn-sm btn-confirm" onclick="confirmorverify(0)">Re-Enter</button>
               <button  type="button" id="vf" btn-sm class="btn btn-sm btn-freeze" onclick="confirmorverify(2)">Freeze</button>
               <button  type="button" id="uvf" btn-sm class="btn btn-sm btn-unfreeze" onclick="confirmorverify(1)">Unfreeze</button>
               <!-- <button type="button" btn-sm class="btn btn-sm btn-default" > View All</button> -->
               <button  type="button" id="pdf" btn-sm class="btn btn-sm btn-primary" onclick="exportPDF();">Download as PDF</button>
              <!-- <button  id="pdf" class="btn-pdf" onclick="exportPDF();"><span></span></button> -->
              <span class="form-last-confirmation-info pull-right"></span>
            </div>
          </div>

          <!-- <ul id= "ontabs" class="nav nav-tabs" style=" margin-bottom: 1%;">
            <li id="li1" class="active"><a href="#tab0" data-toggle="tab">All Details</a></li>
            <li id="li1"><a href="#tab1" data-toggle="tab">Applicant Details</a></li>
            <li id="li2"><a href="#tab2" data-toggle="tab">Financial Information</a></li>
            <li id="li3"><a href="#tab3" data-toggle="tab">Non-Refundable Processing Fees Details</a></li>
            <li id="li4"><a href="#tab4" data-toggle="tab">Details of Promoters/Directors/Guarantors</a></li>
          </ul> -->
          <div class="tab-content cotainer-tab" style="margin-top: 10px">
            <div class="tab-pane active" id="tab0">
            <ul class="collapsible" data-collapsible="accordion">
            <li>
            <div class="collapsible-noreplace active"><i class="fa fa-list"></i>Applicant Details<i class="fa fa-chevron-down pull-right"></i></div>
            <div class="collapsible-body row">
              <div class="col-sm-12 btnsave">
                <span class="pull-right"><button class="btn btn-save btn-sm" onclick="save()">Save</button></span>
              </div>
              <div class="col-sm-12">
                {{template "detailforapplicant.html"}}
              </div>
            </div>
            </li>
            </ul>

            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-noreplace active"><i class="fa fa-list"></i>Financial Information<i class="fa fa-chevron-down pull-right"></i></div>
                <div class="collapsible-body row">
                  <div class="col-sm-12 btnsave">
                    <!-- <span class="pull-right"><button class="btn btn-warning btn-sm" onclick="save()">Save</button></span> -->
                  </div>
                  <div class="col-sm-12">
                    {{template "financialinformation.html"}}
                  </div>
                </div>
              </li>
            </ul>

             <ul class="collapsible" data-collapsible="accordion">
            <li>
                 <div class="collapsible-noreplace active"><i class="fa fa-list"></i>Non-Refundable Processing Fee Details<i class="fa fa-chevron-down pull-right"></i></div>
            <div class="collapsible-body row">
              <div class="col-sm-12 btnsave">
                <span class="pull-right"><button class="btn btn-warning btn-sm" onclick="save()">Save</button></span>
              </div>
              <div class="col-sm-12">
                {{template "nonrefundableprocessingfeesdetails.html"}}
                </div>
                </div>
                   </li>
            </ul>

             <ul class="collapsible" data-collapsible="accordion">
            <li>
                 <div class="collapsible-noreplace active"><i class="fa fa-list"></i>Details of Promoters/Directors/Guarantors/Management<i class="fa fa-chevron-down pull-right"></i></div>
            <div class="collapsible-body row">
              <div class="col-sm-12 btnsave">
                <span class="pull-right"><button class="btn btn-warning btn-sm" onclick="save()">Save</button></span>
              </div>
                <div class="col-sm-12">
                {{template "detailsofpromotersdirectorsguarantors.html"}}
                </div>
                </div>
                   </li>
            </ul>

            </div>
            <div class="tab-pane" id="tab1">
                {{template "detailforapplicant.html"}}
            </div>
            <div class="tab-pane" id="tab2">
                {{template "financialinformation.html"}}
            </div>
            <div class="tab-pane" id="tab3">
                {{template "nonrefundableprocessingfeesdetails.html"}}
            </div>
            <div class="tab-pane" id="tab4">
                {{template "detailsofpromotersdirectorsguarantors.html"}}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  function exportPDF(){
      kendo.drawing.drawDOM($("#tab0")).then(function(group){
          var ondate = kendo.toString(new Date(),"dd-MM-yyyy HH mm");
          kendo.drawing.pdf.saveAs(group, customerprofile().ApplicantDetail().CustomerName  + " - " + customerprofile().ApplicantDetail().DealNo +" "+ondate+".pdf");
        });
  }

  $(document).ready(function(){
    setTimeout(function(){
        $("#tab0 .collapsible-header").each(function(i,e){
         $(e).css("display","none");
        });

             $("#tab0 .collapsible-noreplace").each(function(i,e){
         $(e).attr("class","collapsible-header");
         $(e).addClass('header-bgcolor');
        });

        $("#tab0 .collapsible-header").each(function(i,e){
         $(e).trigger("click");
        });

        //    $("#tab0 .k-grid-add").each(function(i,e){
        //  $(e).css("display","none");
        // });

        //      $("#tab0 .btn-success").each(function(i,e){
        //  $(e).css("display","none");
        // });
        setTimeout(function(){
            $("#tab0 .collapsible-body").each(function(i,e){
              $(e).css("display","block");
            });
        },500);

    },1000);

    ApplicantDetail.Detail.push(
      {
        Title: ko.observable("Registered Address"),ValueRegistered: "",LandmarkRegistered: "",PincodeRegistered: "",        AddressRegistered:"",CityRegistered:"",StateRegistered:"",PhoneRegistered:"",MobileRegistered:"",ContactPersonRegistered:"",EmailRegistered:"",OfficeRegistered:"",NoOfYearsAtAboveAddressRegistered:"",AreaOfPlotRegistered:"",BuiltUpAreaRegistered:""
      }
    );
    ApplicantDetail.Detail.push(
      {
        Title: ko.observable("Address for Correspondence"),ValueRegistered: "",LandmarkRegistered: "",PincodeRegistered: "",
        AddressRegistered:"",CityRegistered:"",StateRegistered:"",PhoneRegistered:"",MobileRegistered:"",ContactPersonRegistered:"",EmailRegistered:"",OfficeRegistered:"",NoOfYearsAtAboveAddressRegistered:"",AreaOfPlotRegistered:"",BuiltUpAreaRegistered:""
      }
    );
    ApplicantDetail.Detail.push(
      {
        Title: ko.observable("Site/Work Address"),ValueRegistered: "",LandmarkRegistered: "",PincodeRegistered: "",
        AddressRegistered:"",CityRegistered:"",StateRegistered:"",PhoneRegistered:"",MobileRegistered:"",ContactPersonRegistered:"",EmailRegistered:"",OfficeRegistered:"",NoOfYearsAtAboveAddressRegistered:"",AreaOfPlotRegistered:"",BuiltUpAreaRegistered:""
      }
    );

  });
</script>
