<script>document.write('<script src="/static/core/detailsofpromotersdirectorsguarantors.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
<script type="text/javascript">
  function changeownership(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    detail.biodata()[i].Ownership = e.item.context.innerHTML
  }

  function changedesignation(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    detail.biodata()[i].Designation = e.item.context.innerHTML
  }

  function changegender(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    gender = "F"
    if(e.item.context.innerHTML == "Male"){
      gender = "M"
    }
    detail.biodata()[i].Gender = gender
  }

  function changemaritalstatus(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    MaritalStatus = "M"
    if(e.item.context.innerHTML == "Single"){
      MaritalStatus = "S"
    }
    detail.biodata()[i].MaritalStatus = MaritalStatus
  }

  function changeguarantor(e, i){
    guarantor = ""
    if(e.item.context != undefined) {
      if(e.item.context.innerHTML === "Yes"){
        guarantor = "Yes"
      } else if(e.item.context.innerHTML === "No") {
        guarantor = "No"
      }  
    }

    detail.biodata()[i].Guarantor = guarantor
  }

  function changedirector(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    Director = ""
    if(e.item.context != undefined) {
      if(e.item.context.innerHTML === "Yes"){
        Director = "Yes"
      } else if(e.item.context.innerHTML === "No") {
        Director = "No"
      }  
    }

    detail.biodata()[i].Director = Director
  }

  function changepromotor(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    Promotor = ""
    if(e.item.context != undefined) {
      if(e.item.context.innerHTML === "Yes"){
        Promotor = "Yes"
      } else if(e.item.context.innerHTML === "No") {
        Promotor = "No"
      }  
    }

    detail.biodata()[i].Promotor = Promotor 
  }

  function changeDateOfBirth(e,i){
    // console.log(e)
    // console.log(i)
    detail.biodata()[i].DateOfBirth = e
  }

  function changeAnniversaryDate(e,i){
    // console.log(e)
    // console.log(i)
    detail.biodata()[i].AnniversaryDate = e
  }

  function changeshareholding(e,i){
    // console.log(e)
    // console.log(i)
    detail.biodata()[i].ShareHoldingPercentage = e
  }

</script>
<div data-bind="with: detail">
  <ul class="collapsible" data-collapsible="accordion">
    <li class="panel">
      <!-- <div class="panel-heading"><h5 class="no-margin">Biodata</h5></div> -->
      <div class="panel-body">
        <div class="row">
          <!-- <div class="panel-body"> -->
            <!-- <div class="panel-body">
              <button class="btn btn-sm btn-flat btn-success" data-bind="click: addbiodata">Add</button>
            </div> -->
            <div data-bind="foreach: biodata">
              <div class="panel panel-default">
                <div class="panel-body">

                  <form id="biodata" class="col-sm-12">
                    <div class="col-sm-2">
                      <img class="imgCustomerProfile" data-bind="attr:{'id':'imgPhoto' + $index(),'src':'/static/img/user/'+detail.biodata()[$index()].FilePhoto }"/>
                       <input type="file" class="file" name="fotoProfileCustomer"  id="fotoProfileCustomer" accept="image/jpeg, image/png" data-bind="value: detail.biodata()[$index()].fotoprofilecustomer,attr:{'id':'imgpromotor-'+ $index()}" onchange="readURL(this)">
                    </div>
                    <div class="col-sm-5">
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Name :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" name="name" class="form-control input-sm Name" data-bind="value: detail.biodata()[$index()].Name,attr : { id : detail.biodata()[$index()].Name }" validationMessage="Name required" required/>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Father’s/Spouse Name :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="FatherName" class="form-control input-sm FatherName" id="fathername" name="fathername" data-bind="value: detail.biodata()[$index()].FatherName" validationMessage="Father's Name required" required/>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Gender :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="Gender" class="Gender form-control input-sm"  data-bind="value: detail.biodata()[$index()].Gender">
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Date of Birth :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="DateOfBirth" class="DateOfBirth form-control input-sm" data-bind="value: detail.biodata()[$index()].DateOfBirth" required>
                          <span class="k-invalid-msg" data-for="datebirth"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Marital Status :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input type="checkbox" data-bind="value: detail.biodata()[$index()].ismaried,  attr: {id: 'ismaried'+ $index()}" data-off-text="Maried" data-on-text="Single" checked="false"> -->
                          <input type="text" id="MaritalStatus" class="MaritalStatus form-control input-sm" data-bind="value: detail.biodata()[$index()].MaritalStatus">
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Anniversary Date :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="AnniversaryDate" class="AnniversaryDate ndisable" data-bind="kendoDatePicker: {value: detail.biodata()[$index()].AnniversaryDate, format: 'dd-MMM-yyyy', change:function(){ changeAnniversaryDate(this.value(), $index()) }}" required>
                          <span class="k-invalid-msg" data-for="datebirth"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Shareholding Percentage :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="ShareHoldingPercentage" class="ShareHoldingPercentage form-control input-sm" data-bind="value: detail.biodata()[$index()].ShareHoldingPercentage" required>
                          <span class="k-invalid-msg" data-for="holdingpercent"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Guarantor :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input data-bind="value: detail.biodata()[$index()].guarantor, attr: {id: 'guarantor'+ $index()}" type="checkbox" data-off-text="No" data-on-text="Yes" checked="false"> -->
                          <input type="text" id="Guarantodropdown" class="form-control input-sm" data-bind="kendoDropDownList: {value: detail.biodata()[$index()].Guarantor, data: detail.guarantorList, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select One', select:function(e){ changeguarantor(e, $index()) }}"></select>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Director :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input data-bind="value: detail.biodata()[$index()].guarantor, attr: {id: 'guarantor'+ $index()}" type="checkbox" data-off-text="No" data-on-text="Yes" checked="false"> -->
                          <input type="text" id="Guarantodropdown" class="ndisable form-control input-sm" data-bind="kendoDropDownList: {value: detail.biodata()[$index()].Director, data: detail.guarantorList, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select One', select:function(e){ changedirector(e, $index()) }}"></select>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Promotor :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input data-bind="value: detail.biodata()[$index()].guarantor, attr: {id: 'guarantor'+ $index()}" type="checkbox" data-off-text="No" data-on-text="Yes" checked="false"> -->
                          <input type="text" id="Guarantodropdown" class="ndisable form-control input-sm" data-bind="kendoDropDownList: {value: detail.biodata()[$index()].Promotor, data: detail.guarantorList, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select One', select:function(e){ changepromotor(e, $index()) }}"></select>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Educational Qualification :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="Education" name="education" class="form-control input-sm Education" data-bind="value: detail.biodata()[$index()].Education" validationMessage="education required" required/>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Designation :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input type="text" id="Designation" class="Designation form-control input-sm" name="designation" data-bind="value:detail.biodata()[$index()].Designation" required> -->
                          <select id="designation" class="ndisable multifield" data-bind="kendoMultiSelect:{data: designationList, value: detail.biodata()[$index()].Designation}" validationMessage="Position required" required  /></select>
                          <span class="k-invalid-msg" data-for="designation"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">PAN Number:</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="PAN" name="pan" class="form-control input-sm PAN" data-bind="value: detail.biodata()[$index()].PAN" validationMessage="PAN required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Position:</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <select id="position" class="ndisable multifield" data-bind="kendoMultiSelect:{data: positionList, value: detail.biodata()[$index()].Position}" validationMessage="Position required" required  /></select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Residence Address :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="Address" name="address" class="form-control input-sm Address" data-bind="value: detail.biodata()[$index()].Address" validationMessage="Address required" required  />
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Landmark :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="Landmark" name="landmark" class="form-control input-sm Landmark" data-bind="value: detail.biodata()[$index()].Landmark" validationMessage="Landmark required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">City :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="City" name="city" class="form-control input-sm City" data-bind="value: detail.biodata()[$index()].City" validationMessage="City required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">State :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="State" name="state" class="form-control input-sm State" data-bind="value: detail.biodata()[$index()].State" validationMessage="State required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Pin Code :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="Pincode" name="pincode" class="form-control input-sm Pincode" data-bind="value: detail.biodata()[$index()].Pincode" validationMessage="Pincode required" required  />
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Tel1 :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="Phone" name="phone" class="form-control input-sm Phone" data-bind="value: detail.biodata()[$index()].Phone" validationMessage="Phone required" required/>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Moblie Number :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="Mobile" name="hp" class="form-control input-sm Mobile" data-bind="value: detail.biodata()[$index()].Mobile" validationMessage="Mobile NUmber required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Ownership :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="Ownership" class="Ownership form-control input-sm" name="ownership" data-bind="value: detail.biodata()[$index()].Ownership" required>
                          <span class="k-invalid-msg" data-for="ownership"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">No. of Years in this Address :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="NoOfYears" name="noyear" class="form-control input-sm NoOfYears" data-bind="value: detail.biodata()[$index()].NoOfYears" validationMessage="No. of Years required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Market Value :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="number" id="ValueOfPot" name="valueplot" class="form-control input-sm ValueOfPot" data-bind="value: detail.biodata()[$index()].ValueOfPot" validationMessage="Value of Plot required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Vehicles Owned :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="number" id="VehiclesOwned" name="vehiclesowned" class="form-control input-sm VehiclesOwned" data-bind="value: detail.biodata()[$index()].VehiclesOwned" validationMessage="Vehicles Owned required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Net Worth :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="number" id="NetWorth" name="networth" class="form-control input-sm NetWorth" data-bind="value: detail.biodata()[$index()].NetWorth" validationMessage="Net Worth required" required  />
                        </div>
                      </div>
                       <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">E-mail :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="email" name="email" class="form-control input-sm Email" data-bind="value: detail.biodata()[$index()].Email" validationMessage="Email required" required  />
                        </div>
                      </div>
                    </div>
                  </form>

                  <!--ko if: $data.PropertyOwned != null-->
                  <div class="col-sm-12">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10" style="padding-left: 30px; padding-right: 30px;">
                      <label class="control-label" style="margin-right: 28px">Other Property (Owned) Details: </label>
                      <button class="btn btn-xs btn-success btnop" style="padding: 5px 10px !important" data-bind="visible:editmode(),click: function(){addOPD($index(), $index())}">Add</button>
                      <br><br>
                      <table class="table table-bordered" width="100%" data-bind="visible: ($data.PropertyOwnedkendo != undefined && $data.PropertyOwnedkendo().length > 0)">
                        <thead>
                          <tr>
                            <th class="header-bgcolor" style="text-align: center;">Property Type</th>
                            <th class="header-bgcolor" style="text-align: center;width: 60%;">Address</th>
                            <th class="header-bgcolor" style="text-align: center;">Market Value (Rs. Lacs)</th>
                            <th class="header-bgcolor" style="text-align: center;"></th>
                          </tr>
                        </thead>
                        <tbody data-bind="foreach: $data.PropertyOwnedkendo">
                          <tr>
                            <td style="padding: 2px;"><input class="form-control input-sm" data-bind="value: PropertyType"></td>
                            <td style="padding: 2px;"><input class="form-control input-sm" data-bind="value: Address"></td>
                            <td style="padding: 2px;"><input type="number" onkeydown="return FilterInputNumber(event)" class="form-control input-sm" data-bind="value: MarketValue"></td>
                            <td style="width: 30px;padding: 2px;">
                             <!--ko if: $index() > 0 -->
                            <button class="btn btn-xs btn-danger btnop" style="padding:  5px 10px !important" data-bind="visible: editmode(),click: function(){deleteOPD( $parentContext.$index(), $index() )}"><span class="fa fa-trash-o fa-lg"></span></button>
                          <!-- /ko -->

                            <!-- <button class="btn btn-sm btn-success btnop" style="padding: 5px 10px !important" data-bind="visible: ($index() == 0  && editmode()),click: function(){addOPD($parentContext.$index(), $index() )}"><i class="fa fa-plus"></i></button> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- /ko -->

                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </li>
    <li class="panel">
      <div class="panel-heading"><h5 class="no-margin">Details of Reference</h5></div>
      <div class="panel-body">
        <div class="row">
          <!-- <div class="panel-body"> -->
            <!-- <div class="panel-body">
              <button class="btn btn-sm btn-flat btn-success" data-bind="click: addRefrence">Add</button>
            </div> -->
            <form id="biodata">
              <div data-bind="foreach: detailReference">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div data-bind="foareach: detailReference">
                        <div class="panel-body">
                          <div class="col-sm-12 form-group">
                            <div class="col-sm-4 widthlable">
                              <label for="Acc" class="control-label">Name :</label>
                            </div>
                            <div class="col-sm-8 widthfield">
                              <input type="text" id="namedetail" name="Name" class="disabled form-control input-sm" data-bind="value: detail.detailReference()[$index()].Name" validationMessage="Name required" required/>
                            </div>
                          </div>
                          <div class="col-sm-12 form-group">
                            <div class="col-sm-4 widthlable">
                              <label for="Acc" class="control-label">Address :</label>
                            </div>
                            <div class="col-sm-8 widthfield">
                              <input type="text" id="addressdetail" name="Address" class="disabled form-control input-sm" data-bind="value: detail.detailReference()[$index()].Address" validationMessage="Name required" required/>
                            </div>
                          </div>
                          <div class="col-sm-12 form-group">
                            <div class="col-sm-4 widthlable">
                              <label for="Acc" class="control-label">Contact no :</label>
                            </div>
                            <div class="col-sm-8 widthfield">
                              <input type="number" id="contactdetail" onkeydown="return FilterInputNumber(event)" name="ContactNo" class="disabled form-control input-sm" data-bind="value: detail.detailReference()[$index()].ContactNo" validationMessage="Contact no required" required/>
                            </div>
                          </div>
                          <div class="col-sm-12 form-group">
                            <div class="col-sm-4 widthlable">
                              <label for="Acc" class="control-label">Relation of Applicant :</label>
                            </div>
                            <div class="col-sm-8 widthfield">
                              <input type="text" id="relationdetail" name="RelationAplicant" class="disabled form-control input-sm" data-bind="value: detail.detailReference()[$index()].RelationAplicant" validationMessage="Contact no required" required/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </form>
          <!-- </div> -->
        </div>
      </div>
    </li>
  </ul>
</div>