<script type="text/javascript" src="/static/core/customerprofileinfo.js"></script>
<style type="text/css">
    .k-grid-toolbar{
        display: none;
    }
</style>
<ul class="collapsible" data-collapsible="accordion">
  <li class="panel">
    <div class="panel-heading"><h5 class="no-margin">Previous Loan Details (Non X10 loans)</h5></div>
    <div class="panel-body">
      <div class="row" style="padding: 25px; margin-top: -40px;">
        <div>
          <button id="btn1" class="btn btn-sm btn-flat btn-success add" style="margin-bottom: 5px;" onclick = "info.addPreviousLoanDetails()">Add</button>
        </div>
        <div class="grid1"></div>
      </div>
    </div>
  </li>
  <li class="panel">
    <div class="panel-heading"><h5 class="no-margin">Details Pertaining to Bankers / Financial Institutions</h5></div>
    <div class="panel-body">
      <div class="row" style="padding: 25px; margin-top: -40px;">
        <div>
          <button class="btn btn-sm btn-flat btn-success add" style="margin-bottom: 5px;" class="fa fa-plus" onclick="info.addDetailsPertainingtoBankers()">Add </button>
        </div>
        <div class="grid2"></div>
      </div>
    </div>
  </li>
  <li class="panel">
    <div class="panel-heading"><h5 class="no-margin">Existing Relationship With X10 Financial Services Limited</h5></div>
    <div class="panel-body">
      <div class="row" style="padding: 25px; margin-top: -40px;">
        <div class="grid3"></div>
      </div>
    </div>
  </li>
</ul>

<script>
    function toggleChevron(e) {
        $(e.target)
            .prev('.panel-heading')
            .find("i.indicator")
            .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
    }
    $('#accordion').on('hidden.bs.collapse', toggleChevron);
    $('#accordion').on('shown.bs.collapse', toggleChevron);

    function SecUnsec(container, options){
      $('<input data-text-field="text" data-value-field="value" data-bind="value:' + options.field + '"/>')
          .appendTo(container)
          .kendoDropDownList({
            dataTextField: 'text',
            dataValueField: 'val',
            dataSource: [{text: 'Secure', val: 'Secure'},{text: 'Unsecure', val: 'Unsecure'}],
            optionLabel: 'Select one',
          })
    }

    $(document).ready(function(){
            $(".grid1").kendoGrid({
                // dataSource: {
                //     data : [],
                //     pageSize:10
                // },
                // pageable: true,
                // height: 350,
                schema:{
                  model:{
                    id:"SrNo",
                    fields:{
                      SrNo:{editable: true, nullable: true},
                      BanksFls:{editable: true, nullable: true},
                      LoanAmount:{type: "number", editable: true, nullable: true},
                      Tenure:{type: "number", editable: true, nullable: true},
                      MonthlyInstallment:{type: "number", editable: true, nullable: true},
                      OutstandingAmount:{type: "number", editable: true, nullable: true},
                      SecuredUnsecured:{editable: true, nullable: true},
                    }
                  }
                },
                toolbar: ["create"],
                scrolable : true,
// <<<<<<< HEAD
                columns: [{
                    field: "SrNo",
                    headerAttributes: {
                        "class": "sub-bgcolor"
                    },
                    title: "Sr. No.",
                    width: "120px"
                },
                {
                    field: "BanksFls",
                    headerAttributes: {
                        "class": "sub-bgcolor"
                    },
                    title: "Banks/Fls",
                    width: "120px"
                },
                {
                    field: "LoanAmount",
                    headerAttributes: {
                        "class": "sub-bgcolor"
                    },
                    attributes: {
                        style: 'text-align: right'
                    },
                    title: "Loan Amount (Rs.)",
                    width: "120px",
                    editor: info.LoanAmount,
                    template:function(dt){
                        if(dt.LoanAmount == null){
                          return "";
                        }
                        return app.formatnum(dt.LoanAmount)
                      },                  
                },
                {
                    field: "Tenure",
                    headerAttributes: {
                        "class": "sub-bgcolor"
                    },
                    attributes: {
                        style: 'text-align: right'
                    },
                    title: "Tenure",
                    width: "120px",
                    editor: info.Tenure
                },
                {
                    field: "MonthlyInstallment",
                    headerAttributes: {
                        "class": "sub-bgcolor"
                    },
                    attributes: {
                        style: 'text-align: right'
                    },
                    title: "Monthly Installment",
                    width: "120px",
                    editor: info.MonthlyInstallment
                },
                {
                    field: "OutstandingAmount",
                    headerAttributes: {
                        "class": "sub-bgcolor"
                    },
                    attributes: {
                        style: 'text-align: right'
                    },
                    title: "Outstanding Amount (Rs.)",
                    width: "120px",
                    editor: info.Outstanding,
                    template:function(dt){
                        if(dt.OutstandingAmount == null){
                          return "";
                        }
                        return app.formatnum(dt.OutstandingAmount)
                      },                   
                },
                {
                    field: "SecuredUnsecured",
                    headerAttributes: {
                        "class": "sub-bgcolor"
                    },
                    title: "Secured/Unsecured",
                    width: "120px",
                    editor: SecUnsec
                },
                {
                    headerAttributes: {
                        "class": "sub-bgcolor"
                    },
                    title: "",
                    width: "30px",
                    template: function(d) {
                        return "<center><button class='btn btn-xs btn-flat btn-danger del' onclick='info.removeRowGrid1(\"" + d.uid + "\")'><i class='fa fa-trash'></i></button></center>"
                    }
                },
            ],               
// =======
//                 columns: [
//                     { field: "SrNo", headerAttributes: { "class": "sub-bgcolor" }, title: "Sr. No.", width: "120px" },
//                     { field: "BanksFls", headerAttributes: { "class": "sub-bgcolor" }, title: "Banks/Fls", width: "120px" },
//                     { field: "LoanAmount", headerAttributes: { "class": "sub-bgcolor" }, attributes:{ style: 'text-align: right'}, title: "Loan Amount", width: "120px",editor: info.LoanAmount, },
//                     { field: "Tenure", headerAttributes: { "class": "sub-bgcolor" }, attributes:{ style: 'text-align: right'}, title: "Tenure", width: "120px", editor: info.Tenure },
//                     { field: "MonthlyInstallment", headerAttributes: { "class": "sub-bgcolor" }, attributes:{ style: 'text-align: right'}, title: "Monthly Installment", width: "120px", editor: info.MonthlyInstallment },
//                     { field: "OutstandingAmount", headerAttributes: { "class": "sub-bgcolor" }, attributes:{ style: 'text-align: right'}, title: "Outstanding Amount", width: "120px", editor: info.Outstanding },
//                     { field: "SecuredUnsecured", headerAttributes: { "class": "sub-bgcolor" }, title: "Secured/Unsecured", width: "120px", editor: SecUnsec},
//                     { headerAttributes: { "class": "sub-bgcolor" }, title: "", width: "30px", template:function(d){ return "<center><button class='btn btn-xs btn-flat btn-danger del' onclick='info.removeRowGrid1(\""+d.uid+"\")'><i class='fa fa-trash'></i></button></center>"} },
//                     ],                
// >>>>>>> 9501bc06db00648c1fe09058b5692edddc22c66a
                editable: {
                  createAt: "bottom"
                },
                edit: function (e) {
                  if(customerprofile().Status() == 1 || customerprofile().Status() == 2){
                    this.closeCell();
                  }

                },
            });
            $(".grid2").kendoGrid({
                    //dataSource: dataSource,
                //      dataSource: {
                //     data : [],
                //     pageSize:10
                // },
                    // pageable: true,
                    // height: 350,
                     schema:{
                      model:{
                        id:"SrNo",
                        fields:{
                          SrNo:{editable: true, nullable: true},
                          NameOfBanks:{type: "text", editable: true, nullable: true},
                          AddressContactNo:{type: "text", editable: true, nullable: true},
                          AcNo:{type: "text", editable: true, nullable: true},
                          TypeOfAc:{type: "text", editable: true, nullable: true},
                        }
                      }
                    },
                    toolbar: ["create"],
                    scrolable : true,
                    columns: [
                        { field: "SrNo", headerAttributes: { "class": "sub-bgcolor" }, title: "Sr. No.", width: "120px" },
                        { field: "NameOfBanks", headerAttributes: { "class": "sub-bgcolor" }, title: "Name Of the Banks/Fls", width: "120px" },
                        { field: "AddressContactNo", headerAttributes: { "class": "sub-bgcolor" }, title: "Address & Contact No.",width: "120px" },
                        { field: "AcNo", headerAttributes: { "class": "sub-bgcolor" }, title: "A/c. No", width: "120px" },
                        { field: "TypeOfAc", headerAttributes: { "class": "sub-bgcolor" }, title: "Type Of A/c", width: "120px"},
                        { field: "YearOpening", headerAttributes: { "class": "sub-bgcolor" }, title: "Year Of Opening",  width: "120px" },
                        { headerAttributes: { "class": "sub-bgcolor del" }, title: "", width: "30px", template:function(d){ return "<center><button class='btn btn-xs btn-flat btn-danger del' onclick='info.removeRowGrid2(\""+d.uid+"\")'><i class='fa fa-trash'></i></button></center>"} },
                        ],
                    editable: {
                      createAt: "bottom"
                    },
                    edit: function (e) {
                      if(customerprofile().Status() == 1 || customerprofile().Status() == 2){
                        this.closeCell();
                      }
                    },
                });
            $(".grid3").kendoGrid({
                    //dataSource: dataSource,
                    // dataSource: {
                    //     data : [],
                    //     pageSize:10
                    // },
                    // pageable: true,
                    // height: 350,
                    toolbar: ["create"],
                    scrolable : true,
                    columns: [{
                         field: "LoanNo",
                         headerAttributes: {
                             "class": "sub-bgcolor"
                         },
                         title: "Loan No.",
                         format: "{0:c}",
                         width: "120px"
                     },
                     {
                         field: "TypeOfLoan",
                         headerAttributes: {
                             "class": "sub-bgcolor"
                         },
                         title: "Type of Loan",
                         width: "120px"
                     },
                     {
                         field: "LoanAmount",
                         headerAttributes: {
                             "class": "sub-bgcolor"
                         },
                         title: "Loan Amount (Rs.)",
                         format: "{0:n0}",
                         width: "120px",
                         "attributes": {
                             class: "align-right",
                             style: "text-align: right;"
                         },
                         template:function(dt){
                          if(dt.LoanAmount == null){
                            return "";
                          }
                          return app.formatnum(dt.LoanAmount)
                        },
                     },
                     {
                         field: "Payment",
                         headerAttributes: {
                             "class": "sub-bgcolor"
                         },
                         title: "Payment (Rs.)",
                         format: "{0:n0}",
                         width: "120px",
                         "attributes": {
                             class: "align-right",
                             style: "text-align: right;"
                         },
                         template:function(dt){
                          if(dt.Payment == null){
                            return "";
                          }
                          return app.formatnum(dt.Payment)
                        },
                     },
                 ],
                    editable: "inline",
                });
        });

</script>