<script type="text/javascript">
  //initial
    model.PageTopMenu("Data Entry");
    model.PageId('{{.Menuname}}');
    model.BreadCrumbs.push(new BreadCrumb("Data Entry", "Data Entry", "#", "", ""));
    model.BreadCrumbs.push(new BreadCrumb('{{.Menuname}}', '{{.Menuname}}', "#", "active", ""));
    model.Access = ko.observable('{{.Menuid}}');
    model.View = ko.observable('{{.View}}');
    model.Create= ko.observable('{{.Create}}');
    model.Delete= ko.observable('{{.Delete}}');
    model.Process= ko.observable('{{.Process}}');
    model.Edit= ko.observable('{{.Edit}}')
    model.User= ko.observable('{{.Username}}');

    selectdateval = ko.observable(new Date());
    selectdateseqval = ko.observable("first");
    selectdateseqList = ko.observableArray(["first","last"]);

    dataratioreport = ko.observableArray([])
    datesratioreport = ko.observableArray([])
    Turnover = ko.observable(0)
    COG = ko.observable(0)

    AOM = ko.observableArray([]);
    AA = ko.observableArray([]);

    trigger = ko.observable(false);

    Mode = ko.observable(0);

    stockanddebt = ko.observable({
      Id: '',
      CustomerId : '',
      Flag : 0,
      AOM : [],
      AA : []
    })

    stockanddebtCloning = {
      IsConfirm: ko.observable(false),
      IsFreeze: ko.observable(false),
      ConfirmText: ko.observable("Confirm"),
      FreezeText: ko.observable("Freeze"),
      DateConfirm: ko.observable("")
    }

    //flag :
      //1 -> save draft
      //2 -> Confirm
      //3 -> verify

  // end initial

  //function
    function addAOM(){
      var date = kendo.toString(selectdateval(), 'MMMM yyyy');
      AOM.push({Id: "", OperatingRatio: selectdateval(), OperatingRatioString: date,ReceivablesDays: '',InventoryDays: '',LessPayablesDays: '',WCDays: '',ReceivablesAmount: "0",InventoryAmount: "0",LessPayablesAmount: "0",WCRequirement: "0"});
      // swal("Success","Adjusted Operating Metrics Has Been Addded", "success");
    }

    removeAOM = function(aom) {
      swal({
        title: "Are you sure you want to Delete?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: "Delete",
      }).then(function() {
        AOM.remove(aom)
      }, function(dismiss) {
      });
    }

    function addAA(){
      var date = kendo.toString(selectdateval(), 'MMMM yyyy');
      AA.push({Id: "", BulanString: date,Bulan: selectdateval(),ReceivableMin90: '',ReceivableMore90: '',ReceivableMore180: '',InventoryMin90: '',InventoryMore90: '',InventoryMore180: ''});
    }

    removeAA = function(aa) {
      swal({
        title: "Are you sure you want to Delete?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: "Delete",
      }).then(function() {
        AA.remove(aa)
      }, function(dismiss) {
      });
    }

    isLoading = function (what) {
        $('.apx-loading')[what ? 'show' : 'hide']()
        $('.app-content')[what ? 'hide' : 'show']()
    }

    function refreshFilter(){
      var param = {CustomerId: filter().CustomerSearchVal(), Dealno: filter().DealNumberSearchVal()}
      var customerId = filter().CustomerSearchVal() + "|" + filter().DealNumberSearchVal();
      var url = "{{BaseUrl}}datacapturing/getstockanddebtdetail";
      isLoading(true)
      ajaxPost(url, param, function(data) {
        PrepareDataRatioReport(param, data, customerId);
        if(data.length > 0) {
          setStatus(data[0], checkConfirm)
        }
      }, undefined);
    }

    var setStatus = function(data, callback){
      if(data.IsConfirm != undefined) {
        stockanddebtCloning.IsConfirm(data.IsConfirm)
      }

      if(data.IsFreeze != undefined) {
        stockanddebtCloning.IsFreeze(data.IsFreeze)
      }

      if(data.DateFlag != undefined) {
        stockanddebtCloning.DateConfirm(data.DateFlag)
      }

      if(typeof callback == "function"){
        callback()
      }
    }

    var checkConfirm = function(){
      stockanddebtCloning.ConfirmText("Confirm")
      stockanddebtCloning.FreezeText("Freeze")

      $(".modezero").attr("disabled", false);

      $('.form-last-confirmation-info').html("")

      if(stockanddebtCloning.IsConfirm()){
        $(".modezero").attr("disabled", true);
        stockanddebtCloning.ConfirmText("Re-Enter")

        $('.form-last-confirmation-info').html('Last confirmed on: ' + moment(new Date(stockanddebtCloning.DateConfirm())).format("DD-MM-YYYY HH:mm A"))
      }

      if(stockanddebtCloning.IsFreeze()){
        $(".modezero").attr("disabled", true);
        stockanddebtCloning.FreezeText("Unfreeze")
      }
    }

    var checkAlertFreeze = function(callback){
      swal({
        title: "Are you sure?",
        type: "info",
        showCancelButton: true,
        confirmButtonText: (stockanddebtCloning.IsFreeze() ? "Unfreeze it" : 'Yes, freeze it'),
        // closeOnConfirm: false
      }).then(function () {
        callback()
      });
    }

    var checkBtnFreeze = ko.pureComputed(function(){
      return (stockanddebtCloning.IsFreeze())? "btn-unfreeze":"btn-freeze"
    })
    var setConfirm = function(){
      return function(){
        param = {Id: stockanddebt().Id, IsConfirm: !stockanddebtCloning.IsConfirm()}

        var url = "{{BaseUrl}}datacapturing/confirmstockanddebt";
        ajaxPost(url, param, function(data) {
          setStatus(data, checkConfirm)

          if(!stockanddebtCloning.IsConfirm()){
            swal("Please Edit / Enter Data", "", "success");
          } else {
            swal("Successfully Confirmed", "", "success");
          }

        }, undefined);
      }
    }

    var setFreeze = function(){
      return function(){
        if(!stockanddebtCloning.IsFreeze() && !stockanddebtCloning.IsConfirm()){
          sweetAlert("Oops...", "Please Confirm First", "error");
          return
        } else {
          checkAlertFreeze(function(){
            param = {Id: stockanddebt().Id, IsFreeze: !stockanddebtCloning.IsFreeze()}

            var url = "{{BaseUrl}}datacapturing/freezestockanddebt";
            ajaxPost(url, param, function(data) {
              setStatus(data, checkConfirm)
              if(!stockanddebtCloning.IsFreeze()){
                swal("Successfully Unfreezed", "", "success");
              } else {
                swal("Successfully Freezed", "", "success");
              }
            }, undefined);
          });
        }
      }
    }

    function changeDate(v,i,mode){
      var date = kendo.toString(v, 'MMMM yyyy');

      if (mode == "AOM"){
        stockanddebt().AOM[i].OperatingRatio = v;
        stockanddebt().AOM[i].OperatingRatioString = date;
        if(i == 0){
          tmp = moment(v).subtract(1, 'month')._d;
          date = kendo.toString(tmp, 'MMMM yyyy');
          stockanddebt().AOM[i+1].OperatingRatio = tmp;
          stockanddebt().AOM[i+1].OperatingRatioString = date;
          tmp = moment(v).subtract(2, 'month')._d;
          date = kendo.toString(tmp, 'MMMM yyyy');
          stockanddebt().AOM[i+2].OperatingRatio = tmp;
          stockanddebt().AOM[i+2].OperatingRatioString = date;
        }
      } else if(mode == "AA"){
        stockanddebt().AA[i].Bulan = v;
        stockanddebt().AA[i].BulanString = date;
        if(i == 0){
          tmp = moment(v).subtract(1, 'month')._d;
          date = kendo.toString(tmp, 'MMMM yyyy');
          stockanddebt().AA[i+1].Bulan = tmp;
          stockanddebt().AA[i+1].BulanString = date;
          tmp = moment(v).subtract(2, 'month')._d;
          date = kendo.toString(tmp, 'MMMM yyyy');
          stockanddebt().AA[i+2].Bulan = tmp;
          stockanddebt().AA[i+2].BulanString = date;
        }
      }
    }

    function resetmen(){
      AOM([]);
      AA([]);
      var date = kendo.toString(selectdateval(), 'MMMM yyyy');

      AOM.push({Id: "", OperatingRatio: selectdateval(), OperatingRatioString: date,ReceivablesDays: '',InventoryDays: '',LessPayablesDays: '',WCDays: '',ReceivablesAmount: "0",InventoryAmount: "0",LessPayablesAmount: "0",WCRequirement: "0"});

      AA.push({Id: "", BulanString: date,Bulan: selectdateval(),ReceivableMin90: '',ReceivableMore90: '',ReceivableMore180: '',InventoryMin90: '',InventoryMore90: '',InventoryMore180: ''});

      tmp = moment().subtract(1, 'month')._d;
      date = kendo.toString(tmp, 'MMMM yyyy');
      AOM.push({Id: "", OperatingRatio: tmp, OperatingRatioString: date,ReceivablesDays: '',InventoryDays: '',LessPayablesDays: '',WCDays: '',ReceivablesAmount: "0",InventoryAmount: "0",LessPayablesAmount: "0",WCRequirement: "0"});

      AA.push({Id: "", BulanString: date,Bulan: tmp,ReceivableMin90: '',ReceivableMore90: '',ReceivableMore180: '',InventoryMin90: '',InventoryMore90: '',InventoryMore180: ''});

      tmp = moment().subtract(2, 'month')._d;
      date = kendo.toString(tmp, 'MMMM yyyy');
      AOM.push({Id: "", OperatingRatio: tmp, OperatingRatioString: date,ReceivablesDays: '',InventoryDays: '',LessPayablesDays: '',WCDays: '',ReceivablesAmount: "0",InventoryAmount: "0",LessPayablesAmount: "0",WCRequirement: "0"});

      AA.push({Id: "", BulanString: date,Bulan: tmp,ReceivableMin90: '',ReceivableMore90: '',ReceivableMore180: '',InventoryMin90: '',InventoryMore90: '',InventoryMore180: ''});

      stockanddebt().AOM = AOM();
      stockanddebt().AA = AA();
    }

    function awal(){
      // $("#").show();
      // $("#").hide();
      $("#btndraft").hide();
      $("#btnconfirm").hide();
      $("#btnceedit").hide();
      if(stockanddebt().Flag == 0){
        $("#btnnewentry").show();
        $("#btnedit").hide();
        $("#btnverify").hide();
        $("#btnupdate").hide();
      } else if(stockanddebt().Flag == 1){
        $("#btnnewentry").hide();
        $("#btnedit").show();
        $("#btnverify").hide();
        $("#btnupdate").hide();
      } else if(stockanddebt().Flag == 2){
        $("#btnnewentry").hide();
        $("#btnedit").hide();
        $("#btnverify").show();
        $("#btnupdate").show();
      }
      else{
        $("#btnnewentry").hide();
        $("#btnedit").hide();
        $("#btnverify").hide();
        $("#btnupdate").hide();
      }
      Mode(0);
      $(".modezero").prop("disabled", true);
    }

    function makenewentryoredit(){
      trigger(true)
      $("#btnverify").hide();
      $("#btnupdate").hide();
      $("#btnnewentry").hide();
      $("#btnedit").hide();
      $("#btndraft").show();
      $("#btnconfirm").show();
      $("#btnceedit").show();
      Mode(1);
      $(".modezero").prop("disabled", false);
    }

    function cancelmen(){
      awal();
      refreshFilter();
    }

    function verify(){
      stockanddebt().Flag = 3;
      awal();
      savedata();
      swal("Successfully Verified", "", "success");
    }

    function confirm(){
      stockanddebt().Flag = 2;
      awal();
      savedata();
      swal("Successfully Confirmed", "", "success");
    }

    function save(){
      return function(){
        stockanddebt().Flag = 1;
        awal();
        savedata();
        swal("Successfully Saved", "", "success");
      }
    }

    function wcrupdate(i, label){
      return function(){
        temp = $($('.'+label)[i]).val()
        model.dataFocus =  ko.observable(temp)

        $($('.'+label)[i]).val(parseFloat(temp).toFixed(2))

        a = parseInt(AOM()[i].ReceivablesAmount.split(",").join(""));
        b = parseInt(AOM()[i].InventoryAmount.split(",").join(""));
        c = parseInt(AOM()[i].LessPayablesAmount.split(",").join(""));

        total = a+b-c;
        AOM()[i].WCRequirement = parseFloat(total).toFixed(2);

        $($('.WCRequirement')[i]).val(AOM()[i].WCRequirement)

        if ( trigger() ){
          k1 = ( Turnover() != 0 ) ? ( (a / Turnover())*365 ) : 0;
          k2 = ( Turnover() != 0 ) ? ( (b / Turnover())*365 ) : 0;
          k3 = ( COG() != 0 ) ? ( (c / COG())*365 ) : 0;
          tk = k1 + k2 - k3;

          AOM()[i].ReceivablesDays = ( Turnover() == 0 ) ? "NA" : parseFloat(k1).toFixed(2);
          AOM()[i].InventoryDays = ( Turnover() == 0 ) ? "NA" : parseFloat(k2).toFixed(2);
          AOM()[i].LessPayablesDays = ( COG() == 0 ) ? "NA" : parseFloat(k3).toFixed(2);
          AOM()[i].WCDays = ( COG() == 0 || Turnover() == 0 ) ? "NA" : parseFloat(tk).toFixed(2);

          $($('.ReceivablesDays')[i]).val(AOM()[i].ReceivablesDays)
          $($('.InventoryDays')[i]).val(AOM()[i].InventoryDays)
          $($('.LessPayablesDays')[i]).val(AOM()[i].LessPayablesDays)
          $($('.WCDays')[i]).val(AOM()[i].WCDays)
        }
      }
    }

    model.labelFocus =  ko.observable("")
    model.indexFocus =  ko.observable(-1)
    model.dataFocus =  ko.observable("")

    function wcrfocus(i, data, label){
      return function(){
        if(model.labelFocus() != "" && model.indexFocus() != -1 && model.dataFocus() != "") {
          var temp = model.dataFocus().split(",").join("")
          $($('.'+model.labelFocus())[model.indexFocus()]).val(parseFloat(temp,2).toFixed(2))
        }

        $($('.'+label)[i]).val(data.split(",").join(""))
        model.labelFocus(label)
        model.indexFocus(i)
        model.dataFocus(data)
      }
    }

    function savedata(){
      trigger(false)
      // stockanddebt().AOM = AOM();
      // stockanddebt().AA = AA();
      param = stockanddebt();
      param.DateFlag = new Date();
      var url = "{{BaseUrl}}datacapturing/savestockanddebtdetail";
      ajaxPost(url, param, function(data) {
        if (data){
          // swal("success", "Data already saved...", "success");
          refreshFilter();
        }
      }, undefined);
    }

    function PrepareDataRatioReport(param, data, customerId){
      dataratioreport([])
      datesratioreport([])
      app.ajaxPost('/ratio/getreportdata', param, function (res) {
        Turnover(0);
        COG(0);

        if (res.Message != '') {
          isLoading(false)
          swal("Warning", res.Message, "warning")
          // Materialize.toast(res.Message, 5000);
          //   $('.toast').css("background-color","#F26419").css("color","white")
          repairtable()

          return
        }

        dataratioreport(res.Data.FormData)
        datesratioreport(_.orderBy(res.Data.AuditStatus, 'Date', 'desc'))

        if(res.Data.AuditStatus.length > 0){
          $.each(constructData(dataratioreport()),function(i,v){

            if(v.Name == "Turnover"){
              // if(v.ColumnData[ 1 ].Value != 0){
              //   Turnover(v.ColumnData[ 1 ].Value);
              // } else if(v.ColumnData[ 2 ].Value != 0){
              //   Turnover(v.ColumnData[ 2 ].Value);
              // } else if(v.ColumnData[ datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length ].Value != 0){
              //   Turnover(v.ColumnData[ datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length ].Value);
              // }
              var max = datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length;
              $.each(v.ColumnData, function(ii,vv){
                if(ii > 0 && ii <= max && vv.Value != 0){
                  Turnover(vv.Value);
                  return false
                }
              })
            }

            if(v.Name == "Cost of Goods Sold (COGS)"){
              // if(v.ColumnData[ 1 ].Value != 0){
              //   COG(v.ColumnData[ 1 ].Value);
              // } else if(v.ColumnData[ 2 ].Value != 0){
              //   COG(v.ColumnData[ 2 ].Value);
              // } else if(v.ColumnData[ datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length ].Value != 0){
              //   COG(v.ColumnData[ datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length ].Value);
              // }
              var max = datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length;
              $.each(v.ColumnData, function(ii,vv){
                if(ii > 0 && ii <= max && vv.Value != 0){
                  COG(vv.Value);
                  return false
                }
              })
            }

          })
        }

        repairtable(data, customerId)

        isLoading(false)

      })
    }

    function repairtable(data, customerId){
      if (data != undefined && data.length > 0){
        $.each(data[0].AOM,function(i,v){

          var ReceivablesDays = 0;
          var InventoryDays = 0;
          var LessPayablesDays = 0;
          var WCDays = 0;

          if(Turnover() > 0){
            ReceivablesDays = ( v.ReceivablesAmount / Turnover() ) * 365;
            InventoryDays = ( v.InventoryAmount / Turnover() ) * 365;
          }

          if(COG() > 0){
            LessPayablesDays = ( v.LessPayablesAmount / COG() ) * 365;
          }

          WCDays = ReceivablesDays + InventoryDays - LessPayablesDays;

          data[0].AOM[i].ReceivablesDays = ( Turnover() == 0 ) ? "NA" : parseFloat(ReceivablesDays).toFixed(2);
          data[0].AOM[i].InventoryDays = ( Turnover() == 0 ) ? "NA" : parseFloat(InventoryDays).toFixed(2);
          data[0].AOM[i].LessPayablesDays = ( COG() == 0 ) ? "NA" : parseFloat(LessPayablesDays).toFixed(2);
          data[0].AOM[i].WCDays = ( COG() == 0 || Turnover() == 0 ) ? "NA" : parseFloat(WCDays).toFixed(2);
        })
      }

      if(data != undefined && data.length > 0){
        data = data[0];
        if(data.Flag == 2){
          $('.form-last-confirmation-info').html("Last Confirmed at " + moment(data.DateFlag).format("DD-MM-YYYY HH:mm A"))
          //$('.form-last-confirmation-info').html('Last confirmed on: '+kendo.toString(new Date(data.DateFlag),"dd-MM-yyyy h:mm:ss tt") )
        } else if(data.Flag == 3){
          $('.form-last-confirmation-info').html("Last Verified at " + moment(data.DateFlag).format("DD-MM-YYYY HH:mm A"))
          //$('.form-last-confirmation-info').html('Last verified on: '+kendo.toString(new Date(data.DateFlag),"dd-MM-yyyy h:mm:ss tt") )
        } else{
          $('.form-last-confirmation-info').html('')
        }

        for (i=0; i<data.AOM.length; i++) {
          data.AOM[i].ReceivablesAmount = parseFloat(data.AOM[i].ReceivablesAmount).toFixed(2)
          data.AOM[i].InventoryAmount = parseFloat(data.AOM[i].InventoryAmount).toFixed(2)
          data.AOM[i].LessPayablesAmount = parseFloat(data.AOM[i].LessPayablesAmount).toFixed(2)
          data.AOM[i].WCRequirement = parseFloat(data.AOM[i].WCRequirement).toFixed(2)
        }

        stockanddebt({
          Id: data.Id,
          CustomerId : data.CustomerId,
          Flag : data.Flag,
          AOM : data.AOM,
          AA : data.AA
        });
        AOM(data.AOM);
        AA(data.AA);
      }else{
        stockanddebt({Id: '', CustomerId : customerId,Flag : 0,AOM : [],AA : []})
        checkConfirm()
      }
      checkConfirm()
    }

    function constructData(res) {
      var flat = []

      var opSection1 = _.groupBy(res, 'SectionName');
      var opSection2 = _.map(opSection1, function (v, k) {
        return { key: k, data: v, order: _.minBy(v, 'FieldOrder').FieldOrder };
      });
      var opSection3 = _.orderBy(opSection2, 'order');
      var i = 1, j = 1;
      opSection3.forEach(function (section) {
        var sectionId = 'section-' + i;
        flat.push({
          id: sectionId,
          parentId: null,
          Order: _.minBy(section.data, 'FieldOrder').FieldOrder,
          Name: section.key,
          Type: 'Section'
        });
        i++;

        var opSubSection1 = _.groupBy(section.data, 'SubSectionName');
        var opSubSection2 = _.map(opSubSection1, function (v, k) {
          return { key: k, data: v, order: _.minBy(v, 'FieldOrder').FieldOrder };
        });
        var opSubSection3 = _.orderBy(opSubSection2, 'order')
        opSubSection3.forEach(function (subSection) {
          var subSectionId = sectionId

          if (subSection.key != '') {
            subSectionId = 'sub-section-' + j;
            flat.push({
              id: subSectionId,
              parentId: sectionId,
              Order: _.minBy(subSection.data, 'FieldOrder').FieldOrder,
              ParentName: section.key,
              Name: subSection.key,
              Type: 'Sub Section'
            });
          }
          j++

          _.orderBy(subSection.data, 'FieldOrder').forEach(function (field) {
            var isFromFormula = (field.Type === 'Formula')
            var values = _.orderBy(field.Values, 'Date', 'desc')
            values = values.map(function (d, i) {
              d.Growth = 0

              if (i < (values.length - 1)) {
                var previousYearValue = values[i + 1].Value
                var currentYearValue = d.Value

                d.Growth = toolkit.number((currentYearValue - previousYearValue) / previousYearValue * 100)
              }

              return d
            })

            flat.push({
              id: field.Id,
              parentId: subSectionId,
              Order: field.FieldOrder,
              Name: field.FieldName,
              Section: section.key,
              SubSection: subSection.key,
              Type: 'Field',
              ColumnData: values,
              IsFromFormula: isFromFormula,
            });
          });
        });
      });

      return flat;
    }
  // end function

  function scroll(){
    var elementPosition = $('.btnFixed').offset();
    $(window).scroll(function(){
        if($(window).scrollTop() > elementPosition.top){
              $('.btnFixed').removeClass('static');
              $('.btnFixed').addClass('fixed');
        } else {
            $('.btnFixed').removeClass('fixed');
            $('.btnFixed').addClass('static');
        }
    });
  }

  $(document).ready(function () {
    scroll();
    awal();

    $('.AOM').collapsible({
      accordion : true
    });

    $('.AA').collapsible({
      accordion : true
    });
  });
</script>

<style type="text/css">
  .heighfix{
/*    height: 37px;
    padding-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;*/

     font-family: 'Source Sans Pro', 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    vertical-align: bottom;
    color: inherit;
    background-color: white;
    /*border: 1px solid #e4e4e4;*/
        padding: 2px 7px;
        height: 37px;
  }
  .heighfix > .heighfix {
    padding: 0;
  }
  .heighfix .span{
    vertical-align: bottom;
  }

    .heighfixhead{
/*    height: 37px;
    padding-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;*/

     font-family: 'Source Sans Pro', 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    vertical-align: bottom;
    color: rgb(168, 168, 168);
    background-color: rgb(241, 241, 241);
    border: 1px solid #e4e4e4;
    padding: 9px 8px;
  }
  .heighfix-all{
   /* height: 37px;
    padding-top: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: #50c0d4;
    color: white;
    font-weight: bolder;
    vertical-align: center;*/
    height: 37px;
    font-family: 'Source Sans Pro', 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    vertical-align: bottom;
    color: rgb(168, 168, 168);
    background-color: rgb(241, 241, 241);
    border: 1px solid #e4e4e4;
    padding: 9px 8px;
}
  }
  .heighfix-all2{
 /*   height: 37px;
    padding-top: 15px !important;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: #50c0d4;
    color: white;
    font-weight: bolder;
    text-align: center;
    vertical-align: center;*/
    text-align: center !important;

  }
  .col-sm-2, .col-sm-10{
    padding: 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  .form-last-confirmation-info {
    margin-top: 15px;
    text-align: right;
    color: #27ae60;
  }
  .panel-nav-custom {
    left: 0;
  }
  .text-center {
    text-align: center;
  }

  table {
    border-collapse:separate;
    border-spacing:2px;
  }

  .fixed{
    position: fixed;
    z-index: 100;
    width: 100%;
    margin-top: -23px;
    margin-left: -9px;
    background-color: #f0f3f4;
    height: 14%;
  }

  .static{
    position: static;
  }
  .btnFixed{
    margin-top: -2px;
      margin-bottom: 5px;
  }

</style>

{{template "filter.html"}}
<div>
  <div class="col-sm-12 ez panel-content" data-bind="visible: (stockanddebt().CustomerId != '')">
    <div class="row" style="padding-left: 10px; padding-right: 10px;">
      <div class="col-sm-12 panel ez no-padding hardcore">
        <!-- <div class="panel-body"> -->
          <div class="col-sm-12 panel-heading btnFixed">
            <div class="col-md-6">
              <!-- <h4 data-bind="html: model.currentTitle()" style="margin-top: 4px">&nbsp;</h4> -->
              <div class="panel-nav-button panel-nav-custom">
                <button class="btn btn-save button-font btn-dis" style="width: 70px" data-bind="click: save(),enable: (!stockanddebtCloning.IsConfirm())">Save</button>
                <button class="btn btn-confirm button-font btn-dis" style="width: 70px" data-bind="text: stockanddebtCloning.ConfirmText, click: setConfirm(), enable: (!stockanddebtCloning.IsFreeze())">Confirm</button>
                <button class="btn btn-freeze button-font" style="width: 70px" data-bind="text: stockanddebtCloning.FreezeText, click: setFreeze(), css: checkBtnFreeze">Freeze</button>

                <!-- <button id="btnverify" btn-sm class="btn btn-sm btn-confirm" onclick="verify()"> <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Verify</button> -->
                <!-- <button id="btnnewentry" btn-sm class="btn btn-sm btn-primary" onclick="makenewentryoredit()"> <span class="glyphicon glyphicon-plus"></span>&nbsp; Make New Entry</button>
                <button id="btnedit" btn-sm class="btn btn-sm btn-warning" onclick="makenewentryoredit()"> <span class="glyphicon glyphicon-pencil"></span>&nbsp; Edit Draft</button>
                <button id="btnupdate" btn-sm class="btn btn-sm btn-save" onclick="makenewentryoredit()"> <span class="glyphicon glyphicon-pencil"></span>&nbsp; Update Draft</button>
                <button id="btnconfirm" btn-sm class="btn btn-sm btn-confirm" onclick="confirm()"> <span class="glyphicon glyphicon-ok"></span>&nbsp; Confirm</button>
                <button id="btndraft" btn-sm class="btn btn-sm btn-save" onclick="save()"> <span class="glyphicon glyphicon-share-alt"></span>&nbsp; Save Draft</button>
                <button id="btnceedit" btn-sm class="btn btn-sm btn-reset" onclick="resetmen()"> <span class="glyphicon glyphicon-refresh"></span>&nbsp; Reset</button> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-last-confirmation-info"></div>
            </div>
          </div>
        <!-- </div> -->
        <div class="panel-body col-sm-12">
          <div class="col-sm-12">
            <div class="col-sm-5 filtermen">
              <div class="col-sm-7">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="AOM active" data-collapsible="accordion" style="margin-left: -41px;">
                <li>
                  <div class="collapsible-header header-bgcolor active" style="text-align: center; "><i class="fa fa-list"></i>Adjusted Operating Metrics<i class="fa fa-chevron-down pull-right"></i></div>
                  <div class="collapsible-body">
                    <div class="panel">
                      <div class="panel-heading">
                        <div class="filtermen" style="float:right; margin-right: 7px !important; margin-bottom: 10px !important; "><button class="btn btn-sm btn-add pull-right" onclick="addAOM()" data-bind="enable: (!stockanddebtCloning.IsConfirm())"> <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Month</button></div>
                      </div>
                      <div class="panel-body">
                        <div class="col-sm-12">
                          <div class="col-sm-2">
                            <div class="col-sm-12 heighfix-all sub-bgcolor" style="text-align: center; "> <b><p>Operating Ratio</p></b> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Receivables Days</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Inventory Days</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Payables Days</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor" style="text-align: center; "> <b><p>WC Days</p></b> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Receivables Amount</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Inventory Amount</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Payables Amount</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor" style="text-align: center; "> <b><p>WC Requirement</p></b> </div>
                          </div>
                          <div class="col-sm-10" style="overflow-x: scroll;overflow-y: hidden;border: 1px solid #e4e4e4;">
                            <!-- <div class="container-inner" style="width: 50000px;" data-bind="foreach: AOM, visible: (stockanddebt().Flag == 0) || (stockanddebt().Flag > 1) || (Mode() == 1)"> -->
                            <div class="container-inner" 
                              data-bind="style: { width: function(){ return (AOM().length * 190) + 'px' }() }">
                              <div data-bind="foreach: AOM">

                                <div class="" style="text-align: center;float:left;width:190px;">
                                  <div class="col-sm-12 heighfix"> 
                                    <div class="heighfix no-padding" style="width: 80%; float: left;">
                                      <input id="datemen" class="form-control input-sm" data-bind="kendoDatePicker: {value: OperatingRatioString, start:'year',depth: 'year',format: 'MMMM yyyy', change:function(){ changeDate(this.value(), $index(), 'AOM') }}" /> 
                                    </div>
                                    <div class="heighfix no-padding" style="width: 20%; float: right;">
                                      <button class="btn btn-flat btn-sm btn-danger noable" style="float: right" data-bind="click: removeAOM"><i class="fa fa-trash"></i></button>
                                    </div>
                                  </div>
                                  
                                  <div class="col-sm-12 heighfix"> <input placeholder="NA" class="form-control input-sm ReceivablesDays" disabled data-bind="value: (ReceivablesDays == 'NA') ? ReceivablesDays : parseFloat(ReceivablesDays).toFixed(2)" /> </div>
                                  
                                  <div class="col-sm-12 heighfix"> <input placeholder="NA" class="form-control input-sm InventoryDays" disabled data-bind="value: (InventoryDays == 'NA') ? InventoryDays : parseFloat(InventoryDays).toFixed(2)" /> </div>
                                  
                                  <div class="col-sm-12 heighfix"> <input placeholder="NA" class="form-control input-sm LessPayablesDays" disabled data-bind="value: (LessPayablesDays == 'NA') ? LessPayablesDays : parseFloat(LessPayablesDays).toFixed(2)" /> </div>
                                  
                                  <div class="col-sm-12 heighfix"> <input placeholder="NA" class="form-control input-sm WCDays" disabled data-bind="value: (WCDays == 'NA') ? WCDays : parseFloat(WCDays).toFixed(2)" /> </div>
                                  
                                  <div class="col-sm-12 heighfix"> <input class="form-control input-sm modezero ReceivablesAmount" data-bind="value: (ReceivablesAmount == 'NA') ? ReceivablesAmount : parseFloat(ReceivablesAmount).toFixed(2), event:{blur: wcrupdate( $index(), 'ReceivablesAmount'), click: wcrfocus($index(), $data.ReceivablesAmount, 'ReceivablesAmount')}" /> </div>
                                  
                                  <div class="col-sm-12 heighfix"> <input class="form-control input-sm modezero InventoryAmount" data-bind="value: (InventoryAmount == 'NA') ? InventoryAmount : parseFloat(InventoryAmount).toFixed(2), event:{blur: wcrupdate( $index(), 'InventoryAmount' ), click: wcrfocus($index(), $data.InventoryAmount, 'InventoryAmount')}" /> </div>
                                  
                                  <div class="col-sm-12 heighfix"> <input class="form-control input-sm modezero LessPayablesAmount" data-bind="value: (LessPayablesAmount == 'NA') ? LessPayablesAmount : parseFloat(LessPayablesAmount).toFixed(2), event:{blur: wcrupdate( $index(), 'LessPayablesAmount' ), click: wcrfocus($index(), $data.LessPayablesAmount, 'LessPayablesAmount')}" /> </div>
                                  
                                  <div class="col-sm-12 heighfix"> <input class="form-control input-sm WCRequirement" disabled data-bind="value: (WCRequirement == 'NA') ? WCRequirement : parseFloat(WCRequirement).toFixed(2)" /> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <br>
                          * All amounts are in Rs. Lacs
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="AA" data-collapsible="accordion" style="margin-left: -41px;">
                <li>
                  <div class="collapsible-header header-bgcolor active" style="text-align: center; ">
                    <i class="fa fa-list"></i>Ageing Analysis<i class="fa fa-chevron-down pull-right"></i>
                  </div>
                  
                  <div class="collapsible-body">
                    <div class="panel">
                      <div class="panel-body">
                        <div class="col-sm-12">
                          <div style="max-height: 500px; overflow-y: scroll; overflow-x: hidden;">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th class="sub-bgcolor text-center">Month</th>
                                  <th class="sub-bgcolor text-center">Current Asset</th>
                                  <th class="sub-bgcolor text-center">0-90 Days</th>
                                  <th class="sub-bgcolor text-center">>90 Days</th>
                                  <th class="sub-bgcolor text-center">>180 Days</th>
                                </tr>
                              </thead>
                              <tbody data-bind="foreach: AA">
                                <tr>
                                  <td rowspan="2" style="vertical-align: middle">
                                    <div class="no-padding" style="width: 80%; float: left;">
                                      <input id="datemen" class="form-control input-sm" data-bind="kendoDatePicker: {value: BulanString, start:'year',depth: 'year',format: 'MMMM yyyy', change:function(){ changeDate(this.value(), $index(), 'AA') }}" />
                                    </div>
                                    <div class="no-padding" style="width: 20%; float: right;">
                                      <button class="btn btn-flat btn-sm btn-danger noable" style="float: right" data-bind="click: removeAA"><i class="fa fa-trash"></i></button>
                                    </div>
                                  </td>
                                  <td>Receivable</td>
                                  <td>
                                    <input class="form-control input-sm modezero" 
                                    data-bind="value: parseFloat(ReceivableMin90).toFixed(2)" /></td>
                                  <td>
                                    <input class="form-control input-sm modezero" data-bind="value: parseFloat(ReceivableMore90).toFixed(2)" />
                                  </td>
                                  <td><input class="form-control input-sm modezero" data-bind="value: parseFloat(ReceivableMore180).toFixed(2)" /></td>
                                </tr>
                                <tr>
                                  <td>Inventory</td>
                                  <td><input class="form-control input-sm modezero" data-bind="value: parseFloat(InventoryMin90).toFixed(2)" /></td>
                                  <td><input class="form-control input-sm modezero" data-bind="value: parseFloat(InventoryMore90).toFixed(2)" /></td>
                                  <td><input class="form-control input-sm modezero" data-bind="value: parseFloat(InventoryMore180).toFixed(2)" /></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="col-sm-12 filtermen" style="padding-top: 10px;padding-left: 5px;"><button class="btn btn-sm btn-add" onclick="addAA()" data-bind="enable: (!stockanddebtCloning.IsConfirm())"> <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Month</button>
                        </div>
                        <div class="col-md-12">
                          <br>
                          * All amounts are in Rs. Lacs
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>