<script type="text/javascript">
  //initial
    model.PageTopMenu("Data Entry");
    model.PageId('{{.Menuname}}');
    model.BreadCrumbs.push(new BreadCrumb("Data Entry", "Data Entry", "#", "", ""));
    model.BreadCrumbs.push(new BreadCrumb('{{.Menuname}}', '{{.Menuname}}', "#", "active", ""));
    model.Access = ko.observable('{{.Menuid}}');
    model.View = ko.observable('{{.View}}');
    model.Create= ko.observable('{{.Create}}');
    model.Delete= ko.observable('{{.Delete}}');
    model.Process= ko.observable('{{.Process}}');
    model.Edit= ko.observable('{{.Edit}}')
    model.User= ko.observable('{{.Username}}');
    model.Rolename= ko.observable('{{.Rolename}}')
    model.Fullname = ko.observable('{{.Fullname}}');

    selectdateval = ko.observable(new Date());
    selectdateseqval = ko.observable("first");
    selectdateseqList = ko.observableArray(["first","last"]);

    dataratioreport = ko.observableArray([])
    datesratioreport = ko.observableArray([])
    Turnover = ko.observable(0)
    COG = ko.observable(0)

    AOM = ko.observableArray([]);
    AA = ko.observableArray([]);

    trigger = ko.observable(false);

    Mode = ko.observable(0);

    stockanddebt = ko.observable({
      Id: '',
      CustomerId : '',
      Flag : 0,
      AOM : ([]),
      AA : ([])
    })

    stockanddebtCloning = {
      IsConfirm: ko.observable(false),
      IsFreeze: ko.observable(false),
      ConfirmText: ko.observable("Confirm"),
      FreezeText: ko.observable("Freeze"),
      DateConfirm: ko.observable("")
    }

    //flag :
      //1 -> save draft
      //2 -> Confirm
      //3 -> verify

  // end initial

    function addAOM(){
      AOM.push({ Id: "", OperatingRatio: selectdateval(), OperatingRatioString: '', ReceivablesDays: '', InventoryDays: '', LessPayablesDays: '', WCDays: '', ReceivablesAmount: "0", InventoryAmount: "0", LessPayablesAmount: "0", WCRequirement: "0" });
      // swal("Success","Adjusted Operating Metrics Has Been Addded", "success");
    }

    removeAOM = function(aom) {
      swal({
        title: "Are you sure you want to Delete?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: "Delete",
      }).then(function() {
        AOM.remove(aom)
      }, function(dismiss) {
      });
    }

    function addAA(){
      AA.push({ Id: "", BulanString: '', Bulan: selectdateval(), ReceivableMin90: '0', ReceivableMore90: '0', ReceivableMore180: '0', InventoryMin90: '0', InventoryMore90: '0', InventoryMore180: '0' });
    }

    removeAA = function(aa) {
      swal({
        title: "Are you sure you want to Delete?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: "Delete",
      }).then(function() {
        AA.remove(aa)
      }, function(dismiss) {
      });
    }

    isLoading = function (what) {
        $('.apx-loading')[what ? 'show' : 'hide']()
        $('.app-content')[what ? 'hide' : 'show']()
    }

    function refreshFilter(){
      stockanddebt({
        Id: '',
        CustomerId : '',
        Flag : 0,
        AOM : ko.observableArray([]),
        AA : ko.observableArray([])
      })

      AOM([])
      AA([])
      var param = {CustomerId: filter().CustomerSearchVal(), Dealno: filter().DealNumberSearchVal()}
      var customerId = filter().CustomerSearchVal() + "|" + filter().DealNumberSearchVal();
      var url = "{{BaseUrl}}datacapturing/getstockanddebtdetail";
      isLoading(true)
      ajaxPost(url, param, function(data) {
        PrepareDataRatioReport(param, data, customerId);
        if(data.length > 0) {
          setStatus(data[0], checkConfirm)
        }
      }, undefined);
    }

    var setStatus = function(data, callback){
      if(data.IsConfirm != undefined) {
        stockanddebtCloning.IsConfirm(data.IsConfirm)
      }

      if(data.IsFreeze != undefined) {
        stockanddebtCloning.IsFreeze(data.IsFreeze)
      }

      if(data.DateFlag != undefined) {
        stockanddebtCloning.DateConfirm(data.DateFlag)
      }

      if(typeof callback == "function"){
        callback()
      }
    }

    var checkConfirm = function(){
      stockanddebtCloning.ConfirmText("Confirm")
      stockanddebtCloning.FreezeText("Freeze")

      $(".modezero").attr("disabled", false);

      $('.form-last-confirmation-info').html("")

      if(stockanddebtCloning.IsConfirm()){
        $(".modezero").attr("disabled", true);
        stockanddebtCloning.ConfirmText("Re-Enter")

        $('.form-last-confirmation-info').html('Last confirmed on: ' + moment(new Date(stockanddebtCloning.DateConfirm())).format("DD-MM-YYYY HH:mm A"))
      }

      if(stockanddebtCloning.IsFreeze()){
        $(".modezero").attr("disabled", true);
        stockanddebtCloning.FreezeText("Unfreeze")
      }
    }

    var checkAlertFreeze = function(callback){
      swal({
        title: "Are you sure?",
        type: "info",
        showCancelButton: true,
        confirmButtonText: (stockanddebtCloning.IsFreeze() ? "Unfreeze it" : 'Yes, freeze it'),
        // closeOnConfirm: false
      }).then(function () {
        callback()
      });
    }

    var checkBtnFreeze = ko.pureComputed(function(){
      return (stockanddebtCloning.IsFreeze())? "btn-unfreeze":"btn-freeze"
    })

    var setConfirm = function(){
      return function(){
        param = {Id: stockanddebt().Id, IsConfirm: !stockanddebtCloning.IsConfirm()}

        var url = "{{BaseUrl}}datacapturing/confirmstockanddebt";
        ajaxPost(url, param, function(data) {
          setStatus(data, checkConfirm)

          if(!stockanddebtCloning.IsConfirm()){
            swal("Please Edit / Enter Data", "", "success");
          } else {
            swal("Successfully Confirmed", "", "success");
          }

        }, undefined);
      }
    }

    var setFreeze = function(){
      return function(){
        if(!stockanddebtCloning.IsFreeze() && !stockanddebtCloning.IsConfirm()){
          sweetAlert("Oops...", "Please Confirm First", "error");
          return
        } else {
          checkAlertFreeze(function(){
            param = {Id: stockanddebt().Id, IsFreeze: !stockanddebtCloning.IsFreeze()}

            var url = "{{BaseUrl}}datacapturing/freezestockanddebt";
            ajaxPost(url, param, function(data) {
              setStatus(data, checkConfirm)
              if(!stockanddebtCloning.IsFreeze()){
                swal("Successfully Unfreezed", "", "success");
              } else {
                swal("Successfully Freezed", "", "success");
              }
            }, undefined);
          });
        }
      }
    }

    function changeDate(v,i,mode){
      var date = kendo.toString(v, 'MMMM yyyy');

      if (mode == "AOM"){
        stockanddebt().AOM()[i].OperatingRatio = v;
        stockanddebt().AOM()[i].OperatingRatioString = date;
        if(i == 0){
          tmp = moment(v).subtract(1, 'month')._d;
          date = kendo.toString(tmp, 'MMMM yyyy');
          stockanddebt().AOM()[i+1].OperatingRatio = tmp;
          stockanddebt().AOM()[i+1].OperatingRatioString = date;
          tmp = moment(v).subtract(2, 'month')._d;
          date = kendo.toString(tmp, 'MMMM yyyy');
          stockanddebt().AOM()[i+2].OperatingRatio = tmp;
          stockanddebt().AOM()[i+2].OperatingRatioString = date;
        }
      } else if(mode == "AA"){
        stockanddebt().AA()[i].Bulan = v;
        stockanddebt().AA()[i].BulanString = date;
        if(i == 0){
          tmp = moment(v).subtract(1, 'month')._d;
          date = kendo.toString(tmp, 'MMMM yyyy');
          stockanddebt().AA()[i+1].Bulan = tmp;
          stockanddebt().AA()[i+1].BulanString = date;
          tmp = moment(v).subtract(2, 'month')._d;
          date = kendo.toString(tmp, 'MMMM yyyy');
          stockanddebt().AA()[i+2].Bulan = tmp;
          stockanddebt().AA()[i+2].BulanString = date;
        }
      }
    }

    function awal(){
      // $("#").show();
      // $("#").hide();
      $("#btndraft").hide();
      $("#btnconfirm").hide();
      $("#btnceedit").hide();
      if(stockanddebt().Flag == 0){
        $("#btnnewentry").show();
        $("#btnedit").hide();
        $("#btnverify").hide();
        $("#btnupdate").hide();
      } else if(stockanddebt().Flag == 1){
        $("#btnnewentry").hide();
        $("#btnedit").show();
        $("#btnverify").hide();
        $("#btnupdate").hide();
      } else if(stockanddebt().Flag == 2){
        $("#btnnewentry").hide();
        $("#btnedit").hide();
        $("#btnverify").show();
        $("#btnupdate").show();
      }
      else{
        $("#btnnewentry").hide();
        $("#btnedit").hide();
        $("#btnverify").hide();
        $("#btnupdate").hide();
      }
      Mode(0);
      $(".modezero").prop("disabled", true);
    }

    function makenewentryoredit(){
      trigger(true)
      $("#btnverify").hide();
      $("#btnupdate").hide();
      $("#btnnewentry").hide();
      $("#btnedit").hide();
      $("#btndraft").show();
      $("#btnconfirm").show();
      $("#btnceedit").show();
      Mode(1);
      $(".modezero").prop("disabled", false);
    }

    function cancelmen(){
      awal();
      refreshFilter();
    }

    function verify(){
      stockanddebt().Flag = 3;
      awal();
      savedata();
      swal("Successfully Verified", "", "success");
    }

    function confirm(){
      stockanddebt().Flag = 2;
      awal();
      savedata();
      swal("Successfully Confirmed", "", "success");
    }

    function save(){
      return function(){
        stockanddebt().Flag = 1;
        awal();
        savedata();
        swal("Successfully Saved", "", "success");
      }
    }

    function countAOM(aom){
      console.log("aom", aom);
      var isTurnoverExist = function(){ return Turnover() > 0 }
      var fixValue = function(val){ return parseFloat(val).toFixed(2) }

      var calculateWC = function(receivables, inventory, lessPayables){
        return fixValue((+receivables || 0) + (+inventory || 0) - (+lessPayables || 0))
      }

      aom.ReceivablesDays(
        fixValue(isTurnoverExist() ? ((aom.ReceivablesAmount() / Turnover()) * 365) : 0)
        );

      aom.InventoryDays(
        fixValue(isTurnoverExist() ? ((aom.InventoryAmount() / Turnover()) * 365) : 0)
        );

      aom.LessPayablesDays(
        fixValue((COG() > 0) ? ((aom.LessPayablesAmount() / COG()) * 365) : 0)
        );

      aom.WCDays(calculateWC(aom.ReceivablesDays(), aom.InventoryDays(), aom.LessPayablesDays()));

      aom.ReceivablesAmount(fixValue(aom.ReceivablesAmount()));
      aom.InventoryAmount(fixValue(aom.InventoryAmount()));
      aom.LessPayablesAmount(fixValue(aom.LessPayablesAmount()));
      aom.WCRequirement(calculateWC(aom.ReceivablesAmount(), aom.InventoryAmount(), aom.LessPayablesAmount()));
    }

    function wcrupdate(i, label){
      return function(item, event){

        let temp = $(event.target).val()
        model.dataFocus =  ko.observable(temp)
        aom = AOM()[i]

        aom[label](+(parseFloat(temp.split(",").join(""))) || 0)

        countAOM(aom)

        $($('.WCRequirement')[i]).val(aom.WCRequirement())
        $($('.ReceivablesDays')[i]).val(displayCalcVal(aom.ReceivablesDays()))
        $($('.InventoryDays')[i]).val(displayCalcVal(aom.InventoryDays()))
        $($('.LessPayablesDays')[i]).val(displayCalcVal(aom.LessPayablesDays()))
        $($('.WCDays')[i]).val(displayCalcVal(aom.WCDays()))
      }
    }

    model.labelFocus =  ko.observable("")
    model.indexFocus =  ko.observable(-1)
    model.dataFocus =  ko.observable("")

    function wcrfocus(i, data, label){
      return function(){
        // if(model.labelFocus() != "" && model.indexFocus() != -1 && model.dataFocus() != "") {
        //   var temp = model.dataFocus().split(",").join("")
        //   $($('.'+model.labelFocus())[model.indexFocus()]).val(parseFloat(temp,2).toFixed(2))
        // }

        // // $($('.'+label)[i]).val(data.split(",").join(""))
        // model.labelFocus(label)
        // model.indexFocus(i)
        // model.dataFocus(data)
      }
    }

    function savedata(){
      trigger(false)
      // stockanddebt().AOM = AOM();
      // stockanddebt().AA = AA();
      param = stockanddebt();
      param.DateFlag = new Date();
      var url = "{{BaseUrl}}datacapturing/savestockanddebtdetail";
      ajaxPost(url, param, function(data) {
        if (data){
          // swal("success", "Data already saved...", "success");
          refreshFilter();
        }
      }, undefined);
    }

    function PrepareDataRatioReport(param, data, customerId){
      dataratioreport([])
      datesratioreport([])
      app.ajaxPost('/ratio/getreportdata', param, function (res) {
        Turnover(0);
        COG(0);

        if (res.Message != '') {
          isLoading(false)
          swal("Warning", res.Message, "warning")
          // Materialize.toast(res.Message, 5000);
          //   $('.toast').css("background-color","#F26419").css("color","white")
          repairtable()

          return
        }

        dataratioreport(res.Data.FormData)
        datesratioreport(_.orderBy(res.Data.AuditStatus, 'Date', 'desc'))

        if(res.Data.AuditStatus.length > 0){
          $.each(constructData(dataratioreport()),function(i,v){

            if(v.Name == "Turnover"){
              // if(v.ColumnData[ 1 ].Value != 0){
              //   Turnover(v.ColumnData[ 1 ].Value);
              // } else if(v.ColumnData[ 2 ].Value != 0){
              //   Turnover(v.ColumnData[ 2 ].Value);
              // } else if(v.ColumnData[ datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length ].Value != 0){
              //   Turnover(v.ColumnData[ datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length ].Value);
              // }
              var max = datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length;
              $.each(v.ColumnData, function(ii,vv){
                if(ii > 0 && ii <= max && vv.Value != 0){
                  Turnover(vv.Value);
                  return false
                }
              })
            }

            if(v.Name == "Cost of Goods Sold (COGS)"){
              // if(v.ColumnData[ 1 ].Value != 0){
              //   COG(v.ColumnData[ 1 ].Value);
              // } else if(v.ColumnData[ 2 ].Value != 0){
              //   COG(v.ColumnData[ 2 ].Value);
              // } else if(v.ColumnData[ datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length ].Value != 0){
              //   COG(v.ColumnData[ datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length ].Value);
              // }
              var max = datesratioreport().length - _.filter(datesratioreport(), function(name){return name.Status == "AUDITED" }).length;
              $.each(v.ColumnData, function(ii,vv){
                if(ii > 0 && ii <= max && vv.Value != 0){
                  COG(vv.Value);
                  return false
                }
              })
            }

          })
        }

        repairtable(data, customerId)

        isLoading(false)

      })
    }

    function repairtable(data, customerId){
      datazz = ko.mapping.fromJS(data)

      if(datazz().length > 0){
        var getDateFlag = function(){
          return moment(datazz()[0].DateFlag()).format("DD-MM-YYYY HH:mm A")
        }

        if(datazz()[0].Flag() == 2){
          $('.form-last-confirmation-info').html("Last Confirmed at " + getDateFlag())
        } else if(datazz()[0].Flag() == 3){
          $('.form-last-confirmation-info').html("Last Verified at " + getDateFlag())
        } else{
          $('.form-last-confirmation-info').html('')
        }

        _.each(datazz()[0].AOM(), function(aom, i){
          countAOM(aom)
        })

        stockanddebt({
          Id: datazz()[0].Id(),
          CustomerId: datazz()[0].CustomerId(),
          Flag: datazz()[0].Flag(),
          AOM: datazz()[0].AOM(),
          AA: datazz()[0].AA()
        });

        //insert but why meme here
        AOM(datazz()[0].AOM());
        AA(datazz()[0].AA());
      } else {
        stockanddebt({ 
          Id: '', CustomerId : customerId, Flag : 0, AOM : ko.observableArray([]), AA : ko.observableArray([]) 
        })

        checkConfirm()
      }
      checkConfirm()
    }

    function constructData(res) {
      var flat = []

      var opSection1 = _.groupBy(res, 'SectionName');
      var opSection2 = _.map(opSection1, function (v, k) {
        return { key: k, data: v, order: _.minBy(v, 'FieldOrder').FieldOrder };
      });
      var opSection3 = _.orderBy(opSection2, 'order');
      var i = 1, j = 1;
      opSection3.forEach(function (section) {
        var sectionId = 'section-' + i;
        flat.push({
          id: sectionId,
          parentId: null,
          Order: _.minBy(section.data, 'FieldOrder').FieldOrder,
          Name: section.key,
          Type: 'Section'
        });
        i++;

        var opSubSection1 = _.groupBy(section.data, 'SubSectionName');
        var opSubSection2 = _.map(opSubSection1, function (v, k) {
          return { key: k, data: v, order: _.minBy(v, 'FieldOrder').FieldOrder };
        });
        var opSubSection3 = _.orderBy(opSubSection2, 'order')
        opSubSection3.forEach(function (subSection) {
          var subSectionId = sectionId

          if (subSection.key != '') {
            subSectionId = 'sub-section-' + j;
            flat.push({
              id: subSectionId,
              parentId: sectionId,
              Order: _.minBy(subSection.data, 'FieldOrder').FieldOrder,
              ParentName: section.key,
              Name: subSection.key,
              Type: 'Sub Section'
            });
          }
          j++

          _.orderBy(subSection.data, 'FieldOrder').forEach(function (field) {
            var isFromFormula = (field.Type === 'Formula')
            var values = _.orderBy(field.Values, 'Date', 'desc')
            values = values.map(function (d, i) {
              d.Growth = 0

              if (i < (values.length - 1)) {
                var previousYearValue = values[i + 1].Value
                var currentYearValue = d.Value

                d.Growth = toolkit.number((currentYearValue - previousYearValue) / previousYearValue * 100)
              }

              return d
            })

            flat.push({
              id: field.Id,
              parentId: subSectionId,
              Order: field.FieldOrder,
              Name: field.FieldName,
              Section: section.key,
              SubSection: subSection.key,
              Type: 'Field',
              ColumnData: values,
              IsFromFormula: isFromFormula,
            });
          });
        });
      });

      return flat;
    }
  // end function

  function scroll(){
    var elementPosition = $('.btnFixed').offset();
    $(window).scroll(function(){
        if($(window).scrollTop() > elementPosition.top){
              $('.btnFixed').removeClass('static');
              $('.btnFixed').addClass('fixed');
        } else {
            $('.btnFixed').removeClass('fixed');
            $('.btnFixed').addClass('static');
        }
    });
  }

  function displayCalcVal(val){
    return (val == 0) ? 'NA' : val
  }

  function displayInputVal(val){
    console.log(val)
    return parseFloat(+val || 0).toFixed(2)
  }

  $(document).ready(function () {
    scroll();
    awal();

    $('.AOM').collapsible({
      accordion : true
    });

    $('.AA').collapsible({
      accordion : true
    });
  });
</script>

<style type="text/css">
  .heighfix{
/*    height: 37px;
    padding-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;*/

     font-family: 'Source Sans Pro', 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    vertical-align: bottom;
    color: inherit;
    background-color: white;
    /*border: 1px solid #e4e4e4;*/
        padding: 2px 7px;
        height: 37px;
  }
  .heighfix > .heighfix {
    padding: 0;
  }
  .heighfix .span{
    vertical-align: bottom;
  }

    .heighfixhead{
/*    height: 37px;
    padding-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;*/

     font-family: 'Source Sans Pro', 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    vertical-align: bottom;
    color: rgb(168, 168, 168);
    background-color: rgb(241, 241, 241);
    border: 1px solid #e4e4e4;
    padding: 9px 8px;
  }
  .heighfix-all{
   /* height: 37px;
    padding-top: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: #50c0d4;
    color: white;
    font-weight: bolder;
    vertical-align: center;*/
    height: 37px;
    font-family: 'Source Sans Pro', 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    vertical-align: bottom;
    color: rgb(168, 168, 168);
    background-color: rgb(241, 241, 241);
    border: 1px solid #e4e4e4;
    padding: 9px 8px;
}
  }
  .heighfix-all2{
 /*   height: 37px;
    padding-top: 15px !important;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: #50c0d4;
    color: white;
    font-weight: bolder;
    text-align: center;
    vertical-align: center;*/
    text-align: center !important;

  }
  .col-sm-2, .col-sm-10{
    padding: 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  .form-last-confirmation-info {
    margin-top: 15px;
    text-align: right;
    color: #27ae60;
  }
  .panel-nav-custom {
    left: 0;
  }
  .text-center {
    text-align: center;
  }

  table {
    border-collapse:separate;
    border-spacing:2px;
  }

  .fixed{
    position: fixed;
    z-index: 100;
    width: 100%;
    margin-top: -23px;
    margin-left: -9px;
    background-color: #f0f3f4;
    height: 14%;
  }

  .static{
    position: static;
  }
  .btnFixed{
    margin-top: -2px;
      margin-bottom: 5px;
  }

  .table-bordered>thead>tr>th,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>tbody>tr>td,
  .table-bordered>tfoot>tr>td {
    border: 0px
  }

  .table-bordered>thead>tr,
  .table-bordered>tbody>tr,
  .table-bordered>tfoot>tr {
    border: 1px;
  }

  .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 4px;
    vertical-align: middle;
  }

</style>

{{template "filter.html"}}
<div>
  <div class="col-sm-12 ez panel-content" data-bind="visible: (stockanddebt().CustomerId != '')">
    <div class="row" style="padding-left: 10px; padding-right: 10px;">
      <div class="col-sm-12 panel ez no-padding hardcore">
        <!-- <div class="panel-body"> -->
          <div class="col-sm-12 panel-heading btnFixed">
            <div class="col-md-6">
              <!-- <h4 data-bind="html: model.currentTitle()" style="margin-top: 4px">&nbsp;</h4> -->
              <div class="panel-nav-button panel-nav-custom">
                <button class="btn btn-save button-font btn-dis" style="width: 70px" data-bind="click: save(),enable: (!stockanddebtCloning.IsConfirm())">Save</button>
                <button class="btn btn-confirm button-font btn-dis" style="width: 70px" data-bind="text: stockanddebtCloning.ConfirmText, click: setConfirm(), enable: (!stockanddebtCloning.IsFreeze())">Confirm</button>
                <button class="btn btn-freeze button-font" style="width: 70px" data-bind="text: stockanddebtCloning.FreezeText, click: setFreeze(), css: checkBtnFreeze">Freeze</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-last-confirmation-info"></div>
            </div>
          </div>
        <!-- </div> -->
        <div class="panel-body col-sm-12">
          <div class="col-sm-12">
            <div class="col-sm-5 filtermen">
              <div class="col-sm-7">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="AOM active" data-collapsible="accordion" style="margin-left: -41px;">
                <li>
                  <div class="collapsible-header header-bgcolor active" style="text-align: center; "><i class="fa fa-list"></i>Adjusted Operating Metrics<i class="fa fa-chevron-down pull-right"></i></div>
                  <div class="collapsible-body">
                    <div class="panel">
                      <div class="panel-heading">
                        <div class="filtermen" style="float:right; margin-right: 7px !important; margin-bottom: 10px !important; "><button class="btn btn-sm btn-add pull-right" onclick="addAOM()" data-bind="enable: (!stockanddebtCloning.IsConfirm())"> <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Month</button></div>
                      </div>

                      <div class="panel-default clearfix">
                        <div style="float: left;">* All amounts are in Rs. Lacs</div>
                        <div class="col-sm-12 no-padding">
                          <div class="col-sm-2">
                            <div class="col-sm-12 heighfix-all sub-bgcolor" style="text-align: center; "> <b><p>Operating Ratio</p></b> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Receivables Days</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Inventory Days</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Payables Days</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor" style="text-align: center; "> <b><p>WC Days</p></b> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Receivables Amount</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Inventory Amount</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor"> <p>Payables Amount</p> </div>
                            <div class="col-sm-12 heighfix-all sub-bgcolor" style="text-align: center; "> <b><p>WC Requirement</p></b> </div>
                          </div>
                          <div class="col-sm-10" style="overflow-x: scroll;overflow-y: hidden;border: 1px solid #e4e4e4;">
                            <div class="container-inner"
                              data-bind="style: { width: function(){ return (AOM().length * 190) + 'px' }() }">
                              <div data-bind="foreach: AOM">

                                <div class="" style="text-align: center;float:left;width:190px;">
                                  <div class="col-sm-12 heighfix">
                                    <div class="heighfix no-padding" style="width: 80%; float: left;">
                                      <input id="datemen" class="form-control input-sm" data-bind="kendoDatePicker: {value: OperatingRatioString, start:'year',depth: 'year',format: 'MMMM yyyy', change:function(){ changeDate(this.value(), $index(), 'AOM') }}" />
                                    </div>
                                    <div class="heighfix no-padding" style="width: 20%; float: right;">
                                      <button class="btn btn-flat btn-sm btn-danger noable" style="float: right" data-bind="click: removeAOM"><i class="fa fa-trash"></i></button>
                                    </div>
                                  </div>

                                  <div class="col-sm-12 heighfix"> <input placeholder="NA" class="form-control input-sm ReceivablesDays" disabled data-bind="value: displayCalcVal(ReceivablesDays())" /> </div>

                                  <div class="col-sm-12 heighfix"> <input placeholder="NA" class="form-control input-sm InventoryDays" disabled data-bind="value: displayCalcVal(InventoryDays())" /> </div>

                                  <div class="col-sm-12 heighfix"> <input placeholder="NA" class="form-control input-sm LessPayablesDays" disabled data-bind="value: displayCalcVal(LessPayablesDays())" /> </div>

                                  <div class="col-sm-12 heighfix"> <input placeholder="NA" class="form-control input-sm WCDays" disabled data-bind="value: displayCalcVal(WCDays())" /> </div>

                                  <div class="col-sm-12 heighfix"> 
                                    <input class="form-control input-sm modezero ReceivablesAmount" data-bind="
                                    value: displayInputVal(ReceivablesAmount()), 
                                    event: { 
                                      blur: wcrupdate($index(), 'ReceivablesAmount'), 
                                      click: wcrfocus($index(), $data.ReceivablesAmount(), 'ReceivablesAmount')
                                    }
                                    " /> 
                                  </div>

                                  <div class="col-sm-12 heighfix"> 
                                    <input class="form-control input-sm modezero InventoryAmount" data-bind="
                                    value: displayInputVal(InventoryAmount()), 
                                    event: {
                                      blur: wcrupdate($index(), 'InventoryAmount'), 
                                      click: wcrfocus($index(), $data.InventoryAmount(), 'InventoryAmount')
                                    }
                                    " /> 
                                  </div>

                                  <div class="col-sm-12 heighfix"> 
                                    <input class="form-control input-sm modezero LessPayablesAmount" data-bind="
                                    value: displayInputVal(LessPayablesAmount()), 
                                    event: { 
                                      blur: wcrupdate($index(), 'LessPayablesAmount'), 
                                      click: wcrfocus($index(), $data.LessPayablesAmount(), 'LessPayablesAmount')
                                    }
                                    " /> 
                                  </div>

                                  <div class="col-sm-12 heighfix"> <input class="form-control input-sm WCRequirement" disabled data-bind="value: displayCalcVal(WCRequirement)" /> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="AA" data-collapsible="accordion" style="margin-left: -41px;">
                <li>
                  <div class="collapsible-header header-bgcolor active" style="text-align: center; ">
                    <i class="fa fa-list"></i>Ageing Analysis<i class="fa fa-chevron-down pull-right"></i>
                  </div>

                  <div class="collapsible-body">
                    <div class="panel">
                      <div class="panel-default">
                        <div class="col-sm-12 no-padding">
                          <div style="max-height: 500px; overflow-y: scroll; overflow-x: hidden;">
                            <table class="table table-bordered" style="border: 0">
                              <thead>
                                <tr>
                                  <th class="sub-bgcolor text-center">Month</th>
                                  <th class="sub-bgcolor text-center">Current Asset</th>
                                  <th class="sub-bgcolor text-center">0-90 Days</th>
                                  <th class="sub-bgcolor text-center">>90 Days</th>
                                  <th class="sub-bgcolor text-center">>180 Days</th>
                                </tr>
                              </thead>
                              <tbody data-bind="foreach: AA">
                                <tr>
                                  <td rowspan="2" style="vertical-align: middle">
                                    <div class="no-padding" style="width: 80%; float: left;">
                                      <input id="datemen" class="form-control input-sm" data-bind="kendoDatePicker: {value: BulanString, start:'year',depth: 'year',format: 'MMMM yyyy', change:function(){ changeDate(this.value(), $index(), 'AA') }}" />
                                    </div>
                                    <div class="no-padding" style="width: 20%; float: right;">
                                      <button class="btn btn-flat btn-sm btn-danger noable" style="float: right" data-bind="click: removeAA"><i class="fa fa-trash"></i></button>
                                    </div>
                                  </td>
                                  <td class="text-center">Receivable</td>
                                  <td>
                                    <input class="form-control input-sm modezero"
                                    data-bind="value: parseFloat(+ReceivableMin90 || 0).toFixed(2)" /></td>
                                  <td>
                                    <input class="form-control input-sm modezero" data-bind="value: parseFloat(+ReceivableMore90 || 0).toFixed(2)" />
                                  </td>
                                  <td><input class="form-control input-sm modezero" data-bind="value: parseFloat(+ReceivableMore180 || 0).toFixed(2)" /></td>
                                </tr>
                                <tr>
                                  <td class="text-center">Inventory</td>
                                  <td><input class="form-control input-sm modezero" data-bind="value: parseFloat(+InventoryMin90 || 0).toFixed(2)" /></td>
                                  <td><input class="form-control input-sm modezero" data-bind="value: parseFloat(+InventoryMore90 || 0).toFixed(2)" /></td>
                                  <td><input class="form-control input-sm modezero" data-bind="value: parseFloat(+InventoryMore180 || 0).toFixed(2)" /></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="col-sm-12 filtermen" style="padding-top: 10px;padding-left: 5px;"><button class="btn btn-sm btn-add" onclick="addAA()" data-bind="enable: (!stockanddebtCloning.IsConfirm())"> <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Month</button>
                        </div>
                        <div class="col-md-12">
                          <br>
                          * All amounts are in Rs. Lacs
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>