<script type="text/javascript">
  model.PageTopMenu('{{.TopMenu}}');
  model.PageId('{{.Menuname}}');
  model.BreadCrumbs.push(new BreadCrumb('{{.TopMenu}}', '{{.TopMenu}}', "#", "", ""));
  model.BreadCrumbs.push(new BreadCrumb('{{.Menuname}}', '{{.Menuname}}', "#", "active", ""));
  model.Access = ko.observable('{{.Menuid}}');
  model.View = ko.observable('{{.View}}');
  model.Create= ko.observable('{{.Create}}');
  model.Delete= ko.observable('{{.Delete}}');
  model.Process= ko.observable('{{.Process}}');
  model.Edit= ko.observable('{{.Edit}}')
  model.User= ko.observable('{{.Username}}');
  model.Rolename= ko.observable('{{.Rolename}}')
  model.Fullname = ko.observable('{{.Fullname}}');
</script>

<script id="template" type="text/x-kendo-template">
  <a class="btn btn-sm btn-save pull-left" href="\#" onclick="return toolbar_click()">Save</a>
</script>

<script>document.write('<script type="text/javascript" src="/static/core/reallocation.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

<style type="text/css">
  .modal-lg-custom {
    width: 60% !important;
  }

  #griddb > .k-header {
    background: none;
    border: none;
    padding: 0px;
  }


</style>
<div class="clearfix"></div>

<script>
    var page = {
        state: ko.observable(""),
        isState: function(st) {
            return this.state() == st;
        },
        switchState: function(st) {
            page.state(st)
        }
    };
</script>

<div class="col-md-12 col-sm-12 ez panel-content" style="margin-top: 54px">
    <div data-bind="visible: page.isState('')">
        {{ template "list.html"}}
    </div>
    <!-- <div data-bind="visible: page.isState('NEW')">
        {{ template "new.html"}}
    </div> -->
    <div>
        {{ template "modal.html"}}
    </div>
</div>
