
<script>
    var gridbrowser = {
        column: [
            {
                headerAttributes: { "class": "k-header header-bgcolor" },
                title : "Customer Name",
                field : "CustomerName",
            },
            {
                headerAttributes: { "class": "k-header header-bgcolor" },
                title : "Deal No",
                field : "DealNo",
            },
            {
                headerAttributes: { "class": "k-header header-bgcolor" },
                title : "Role",
                field : "Role",
            },
            {
                headerAttributes: { "class": "k-header header-bgcolor" },
                title : "Reallocate From",
                field : "FromName",
            },
            {
                headerAttributes: { "class": "k-header header-bgcolor" },
                title : "Reallocate To",
                field : "ToName",
            },
            {
                headerAttributes: { "class": "k-header header-bgcolor" },
                title : "Timestamp",
                field : "Timestamp",
                template : function(o) {
                    return "<label>"+moment(o).format("DD-MMM-YYYY")+"</label>"
                }
            },
            {
                headerAttributes: { "class": "k-header header-bgcolor" },
                title : "Action",
                template : function(o) {
                    console.log(o.DealNo)
                    console.log("<button class='btn btn-save' onClick=\"r.edit('"+o.DealNo+"')\">Edit</button>")
                    return "<button class='btn btn-save' onClick=\"r.edit('"+o.DealNo+"')\">Edit</button>"
                }
            }
        ]
    }

    var source = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/reallocation/getreallocationdeal",
                dataType: "json",
                type: "POST",
                contentType: "application/json",
            },
            parameterMap: function (data) {
                return JSON.stringify(data);
            }
        }
    })
</script>
<style>
  .margin-top-0 {
    margin-top: 0px !important;
  }
</style>

<div class="panel ez">
  <div class="panel-heading">
    <button class="btn btn-sm btn-success btn-flat" data-bind="click: r.showModal('.modal-reallocation')">Reallocation Deal</button>
  </div>
  <div class="panel-body margin-top-0">
    <div data-bind="kendoGrid: { data: source, columns: gridbrowser.column }">
    </div>
  </div>
</div>