{{template "dataaccess.html" .}}

<script src="/static/kendoui/kendoui-forAdmin/js/kendo.all.min.js"></script>
<script>document.write('<script src="/static/core/role-setting.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

<style type="text/css">
  /*.modal-backdrop
  {
      opacity: 0 !important;
      z-index: 0;
  }*/
  .bootstrap-switch{
    margin-left: 4%;
  }

  #pane{
    margin-top: -15px !important;
  }
  .input-group-addon{
    border: 0px solid #fafafa !important;
    background-color: #fafafa !important;
  }
  .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn{
    border-radius: 0px !important;
  }

  #onrole{
    padding-right: 45px !important;
  }
  #status{
    /*margin-left: 5px;*/
    padding-right: 42px !important;
  }

  .bootstrap-switch {
    margin-left: 0% !important;
  }

  #ls{
    text-decoration: none;
    color: #676767;
  }

  .header-bgcolor{
    color: white !important;
  }

  .k-grid-header .k-header>.k-link, .k-header, .k-treemap-title {
    color: white;
  }

  #MasterGridRole .k-grid-content{
    overflow-y: hidden;
  }

  #MasterGridRole .k-grid-header{
    padding-right: 0px !important;
  }

  .collapsible-body {
    padding-top: 0px;
  }

</style>
<div  data-bind="with:rolesett">
    <div class="col-md-12 col-sm-12 ez panel-content" style="margin-top: 54px;">
        <div class="panel ez no-padding hardcore">
          <div class="panel-heading">
            <div class="controls-left">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="col-sm-2 form-label" style="width: 60px;">Role</label>
                    <div class="col-sm-4">
                      <select type="text" id = "filterRole" data-bind="kendoMultiSelect: {value:filterRole, data: listRole, filter: 'startswith', dataTextField: 'text', dataValueField: 'value'}"></select>
                    </div>
                    <!-- <div class="clearfix"></div> -->
                <!-- </div>
                <div class="form-group"> -->
                  <label class="col-sm-2 form-label" style="width: 60px;">Status</label>
                    <div class="col-sm-2">
                      <input id="filterStatus" class="switch-mini" type="checkbox"  data-off-text="inactive" data-on-text="active">
                    </div>
                    <div class="col-sm-3" style="float: right;">
                      <button  style="float: right;margin-right: 1px;" type="button" class="btn btn-sm btn-success btn-flat" data-bind="click:AddNew, visible:(model.IsGranted('create') == true)"><i class="fa fa-plus"></i> Add New</button>
                      <!--  <button  style="float: right;margin-right: 1px;" type="button" btn-sm class="btn btn-sm btn-primary btn-flat" data-bind="click:Search"><i class="fa fa-search"></i> Search</button> -->
                      <button  style="float: right;margin-right: 1px;" type="button" class="btn btn-sm btn-danger btn-flat" data-bind="click:Reset"><i class="fa fa-refresh"></i> Reset</button>
                    </div>
                    <!-- <div class="clearfix"></div> -->
                </div>
              </div>
            </div>
            <!-- <div class="panel-nav-button" style="margin-right: 16px;">
              <button  type="button" class="btn btn-sm btn-success btn-flat" data-bind="click:AddNew, visible:(model.IsGranted('create') == true)"><i class="fa fa-plus"></i> Add New</button>
              <button class="btn btn-sm btn-info tooltipster" title="Toggle Advanced Filter" data-bind="click: toggleFilter"><i class="fa fa-server"></i> Show Filter</button>
            </div> -->
          </div>
          <div class="panel-body">
            <div data-bind="visible:loading">
              <center class="align-center">
                  <h5>Please wait while processing your request</h5>
                  <img src="/static/img/loader.gif" alt="Loading..." />
              </center>
            </div>
            <div data-bind="visible:!loading()">
                <div id="MasterGridRole" style="margin-top: -27px;"></div>
            </div>
          </div>
        </div>
    </div>
    <!-- <div class="col-md-3 col-sm-3 ez panel-filter" style="margin-top: 54px;" hidden>
        <div class="panel ez no-padding hardcore">
          <div class="panel-heading">
              <h3 class="no-margin">Filter</h3>
              <div class="panel-nav-button" style="margin-right: 16px;">
                  <div class="form-group relative align-right no-margin no-padding hardcore">
                      <button type="button" btn-sm class="btn btn-sm btn-primary btn-flat" data-bind="click:Search"><i class="fa fa-search"></i> Search</button>
                      <button type="button" class="btn btn-sm btn-danger btn-flat" data-bind="click:Reset"><i class="fa fa-refresh"></i> Reset</button>
                  </div>
              </div>
          </div>
          <div class="panel-body" id="pane">
            <div id="from-filter">
                <p style="padding-bottom: 15px;">Filter your using input below.</p>
                <div class="form-group form-group-table-name">
                    <div class="input-group input-group-sm ez width-full">
                      <span id="onrole" class="input-group-addon width-100 align-right">Role</span>
                      <select type="text" id = "filterRole" data-bind="kendoMultiSelect: {value:filterRole, data: listRole, filter: 'startswith', dataTextField: 'text', dataValueField: 'value'}"></select>
                    </div>
                </div>
                <div class="form-group form-group-table-name">
                    <div class="input-group input-group-sm ez width-full">
                      <span id="status" class="input-group-addon width-100 align-right">Status</span>
                      <input id="filterStatus" class="switch-mini" type="checkbox"  data-off-text="inactive" data-on-text="active">
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div> -->

    <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" data-bind="text:titleModel"></h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form class="form-horizontal" id ="AddRole">
                      <div class="form-group">
                        <label for="roleType" class="col-sm-3 form-control-label">Role Type<span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                          <select class="form-control input-sm" name="roleType" id="roleType" validationMessage="Role Type Required" required data-bind="value: roleType,enable:roleNameEnable">
                              <option>CA</option>
                              <option>RM</option>
                              <option>Custom</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="roleName" class="col-sm-3 form-control-label">Role Name<span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control input-sm" name="roleName" id="roleName" validationMessage="Role Name required" required data-bind="value:roleName, enable:roleNameEnable"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="dealAllocation" class="col-sm-3 form-control-label">Deal Allocation<span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                          <select class="form-control input-sm" name="dealAllocation" id="dealAllocation" data-bind="options: dealAllocationOpt, value: dealAllocation, enable: dealAllocationEnable">
                          </select>
                        </div>
                      </div>
                      <div class="form-group" data-bind="visible: rolesett.branchEnable">
                        <label for="branch" class="col-sm-3 form-control-label">Branches<span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                          <select name="branch" id="branch" data-bind="kendoMultiSelect: { data: rolesett.branchOpt, value: rolesett.branch, dataTextField: 'name', dataValueField: 'branchid', filter: 'contains'}">
                          </select>
                        </div>
                      </div>
                      <div class="form-group" data-bind="visible: rolesett.regionEnable">
                        <label for="region" class="col-sm-3 form-control-label">Regions<span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                          <select name="region" id="region" data-bind="kendoMultiSelect: { data: rolesett.regionOpt, value: rolesett.region, dataTextField: 'name' , dataValueField: 'regionid', filter: 'contains'}">
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="dealValue" class="col-sm-3 form-control-label">Proposed Amount Range<span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                          <select name="dealValue" id="dealValue" data-bind="kendoDropDownList: { data: rolesett.dealValueOpt, value: rolesett.dealValue, dataTextField: 'name', dataValueField: '_id', optionLabel:'Select One'}">
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Status<span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                          <input id="Status" class="switch-mini" type="checkbox"  data-off-text="inactive" data-on-text="active" checked>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Landing Page<span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" name="page" id="role" data-bind="kendoDropDownList: {data: listPage, dataTextField: 'title', dataValueField: 'menuid', optionLabel: 'select landing page', value: rolesett.landingPage}"  />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header header-bgcolor new-role"><i class="fa fa-list"></i>Dashboard<i class="fa fa-chevron-down pull-right"></i></div>
                              <div class="collapsible-body row">
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li class="panel">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div id="DashboardGrid" data-bind="kendoGrid: {data: rolesett.dashboardData, columns: DashboardCol}">
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                          <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header header-bgcolor new-role"><i class="fa fa-list"></i>Deal Setup<i class="fa fa-chevron-down pull-right"></i></div>
                              <div class="collapsible-body row">
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li class="panel">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div id="DealSetupGrid" data-bind="kendoGrid: {data: rolesett.dealSetupData, columns: DealSetupCol}">
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                          <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header header-bgcolor new-role"><i class="fa fa-list"></i>Web Forms<i class="fa fa-chevron-down pull-right"></i></div>
                              <div class="collapsible-body row">
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li class="panel">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div id="WebFormsGrid" data-bind="kendoGrid: {data: rolesett.webFormsData, columns: WebFormsCol}">
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                          <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header header-bgcolor new-role"><i class="fa fa-list"></i>Loan Approval Form<i class="fa fa-chevron-down pull-right"></i></div>
                              <div class="collapsible-body row">
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li class="panel">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div id="DecisionCommitteCGrid" data-bind="kendoGrid: {data: rolesett.decisionCommitteData, columns: decisionCommitteCol}">
                                          </div>
                                          <br>
                                          <div id="CACommitteGrid" data-bind="kendoGrid: {data: rolesett.caCommitteData, columns: caCommitteCol}">
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                          <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header header-bgcolor new-role"><i class="fa fa-list"></i>Data Masters<i class="fa fa-chevron-down pull-right"></i></div>
                              <div class="collapsible-body row">
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li class="panel">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div id="DataMasterGrid" data-bind="kendoGrid: {data: rolesett.dataMasterData, columns: DataMasterCol}">
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                          <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header header-bgcolor new-role"><i class="fa fa-list"></i>CIBIL Editor<i class="fa fa-chevron-down pull-right"></i></div>
                              <div class="collapsible-body row">
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li class="panel">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div id="CibilGrid" data-bind="kendoGrid: {data: rolesett.cibilData, columns: CibilCol}">
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                          <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header header-bgcolor new-role"><i class="fa fa-list"></i>Data Viewing<i class="fa fa-chevron-down pull-right"></i></div>
                              <div class="collapsible-body row">
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li class="panel">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div id="DataViewingGrid" data-bind="kendoGrid: {data: rolesett.dataViewingData, columns: DataViewingCol}">
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                          <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header header-bgcolor new-role"><i class="fa fa-list"></i>Help<i class="fa fa-chevron-down pull-right"></i></div>
                              <div class="collapsible-body row">
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li class="panel">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div id="HelpGrid" data-bind="kendoGrid: {data: rolesett.helpData, columns: HelpCol}">
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                          <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header header-bgcolor new-role"><i class="fa fa-list"></i>Admin<i class="fa fa-chevron-down pull-right"></i></div>
                              <div class="collapsible-body row">
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li class="panel">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div id="AdminGrid" data-bind="kendoGrid: {data: rolesett.adminData, columns: AdminCol}">
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default btn-flat" data-dismiss="modal" data-bind="click:Cancel"><i class="fa fa-times"></i> Close</button>
                    <button type="button" class="btn btn-sm btn-primary btn-flat" data-bind="click: SaveData"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="user" class="modal fade">
  <div class="modal-dialog modal-lg" >
    <!-- <form class="form-add"> -->
      <div class="modal-content modal-lg">
        <div class="modal-header modal-lg">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">User Role Name : <span data-bind="text: rolesett.user"></span></h4>
        </div>
        <div class="modal-body">
          <!-- <div class="col-md-12"> -->
            <div id="gridUser"></div>
          <!-- </div> -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-sm btn-flat btn-primary" data-dismiss="modal" data-bind="click: adf.onclickDismissModal">Save</button> -->
          <button type="button" class="btn btn-sm btn-flat btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    <!-- </form> -->
  </div>
</div>