
<script>document.write('<script src="/static/core/dashboard-alert-summary.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

<style>
    .fa-font-neutral {
		font-weight: bold;
		margin-top: 3px;
		display: block;
    }

    .fa-font-green {
        color: #8BC34A;
		font-weight: bold;
		margin-top: 3px;
		display: block;
    }

    .fa-font-red {
        color: #ff3b30;
		font-weight: bold;
		margin-top: 3px;
		display: block;
    }
    .mm{
        margin-top: 2px !important;
        border: 1px solid #acacac;
        border-radius: 10px;
        background-color: #f0f3f4 !important;
    }
    .hed{
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: -15px;
    }
    .line{
        margin-top: 6px;
        margin-bottom: 20px;
        border: 1px solid #4472c4;
        border-top: 0px solid #eee;
    }
    .pane{
        margin-top: 0px !important;
        padding: 0px !important;
    }
    .thumb-down{
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph; /*IE*/
        filter: fliph; /*IE*/
        margin-left: 18px;
        margin-top: 18px;
    }

    .thumb-up{
        margin-left: 18px;
        margin-top: 18px;
    }
    .rest{
        font-size: 62px;
        margin-top: -23px;
        text-align: center;
        font-weight: bold !important;
        margin-bottom: -21px;
    }
    .rad-up{
        font-size: 25px;
        color: black;
        border-radius: 50%; 
        height: 59px;
        width: 57px;
        background-color: #498fcd;
        /*margin-left: 14px;
        margin-right: 11px;*/
        margin-bottom: 7px !important;
        margin-left: -10px;
        margin-top: 21%;

    }
    .rad-down{
        font-size: 25px;
        color: black;
        border-radius: 50%; 
        height: 59px;
        width: 57px;
        background-color: #ed7d31;
        /*margin-left: 14px;
        margin-right: 11px;*/
        margin-bottom: 7px !important;
        margin-left: -10px;
        margin-top: 21%;
    }
    .panechart{
        margin-top: 0px !important;
        background-color: white;
    }

	/*.bd .panel {
		border-radius: 1px;
		border: 1px solid #cdcdcd;
		padding-bottom: 10px;
        background-color: #fff;
	}*/

	.bd .panel-wrapper .panel {
		margin-top: 0px !important;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	/*.bd .panel-wrapper .panel h6 {
		font-weight: bold;
	}*/

	.bd .col-md-3.panel-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}

	.bd .col-md-3.panel-wrapper:first-of-type {
		padding-left: 0px;
		padding-right: 10px;
	}

	.bd .col-md-3.panel-wrapper:last-of-type {
		padding-left: 10px;
		padding-right: 0px;
	}

	.bd .col-md-3.panel-wrapper .panel {
		min-height: 120px;
	}

    .set-chart{
        margin-top: -5%;
    }
</style>

<!-- <div class="row">
    <div class="col-sm-12">
        <h4>Actioned Deals: Summary and Trends</h4>
    </div>
</div> -->

<div class="row">
    <div class="col-md-12 gap-from-menu border-dashboard-bottom" >
        <div class="panel pn clean-border" style="border-bottom: 0px !important;background-color: #f0f3f4;">
            <div class="panel-heading hd toggle1">
                <div type="button" class="col-md-12" >
                    <h5 class="hed title-dashboard" ><span class="fa fa-bar-chart"> &nbsp; </span>Actioned Deals: Summary and Trends <span style="float: right" class="ic acc-down"><i class="fa fa-external-link-square"></i></span></h5>
                </div>
            </div>
            <div class="panel-body bd summary-box new-dashboard">
                <div class="panel show" style="background-color: #f0f3f4 !important;border: 0px;">
                    <div class="col-sm-12 header">
                        <hr class="line">
                        <div class="col-md-3 panel-wrapper">
                            <div class="panel-body panel">
                                <h6>Deal Count</h6>
                                <div class="col-md-3">
                                    <div class="rad-up"><i class="fa fa-thumbs-o-up thumb-up"></i></div>
                                </div>
                                <div class="col-md-9 set-chart">
                                    <!-- <div class="rest" data-bind="text: alertSum.currentData('countApproved')"></div>
                                    <span data-bind="attr: {class: alertSum.colorClass('countApproved')}">
										<i data-bind="attr: {class: alertSum.seriesChangeFa('countApproved')}"></i>
										<span data-bind="text: alertSum.seriesChangePercent('countApproved')"></span>%
									</span> -->
                                    <div id="onac1" style="margin-left: 17% !important;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 panel-wrapper">
                            <div class="panel-body panel">
                                <h6>Deal Count</h6>
                                <div class="col-md-3">
                                    <div class="rad-down"><i class="fa fa-thumbs-o-down thumb-down" style="font-size: 25px;"></i></div>
                                </div>
                                <div class="col-md-9 set-chart">
                                    <!-- <div class="rest" data-bind="text: alertSum.currentData('countApproved')"></div>
                                    <span data-bind="attr: {class: alertSum.colorClass('countApproved')}">
                                        <i data-bind="attr: {class: alertSum.seriesChangeFa('countApproved')}"></i>
                                        <span data-bind="text: alertSum.seriesChangePercent('countApproved')"></span>%
                                    </span> -->
                                    <div id="onac2" style="margin-left: 17% !important;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 panel-wrapper">
                            <div class="panel-body panel">
                                <h6>Deal Amount</h6>
                                <div class="col-md-3">
                                    <div class="rad-up"><i class="fa fa-thumbs-o-up thumb-up" style="font-size: 25px;"></i></div>
                                </div>
                                <div class="col-md-9 set-chart">
                                    <!-- <div class="rest" data-bind="text: alertSum.currentData('countApproved')"></div>
                                    <span data-bind="attr: {class: alertSum.colorClass('countApproved')}">
                                        <i data-bind="attr: {class: alertSum.seriesChangeFa('countApproved')}"></i>
                                        <span data-bind="text: alertSum.seriesChangePercent('countApproved')"></span>%
                                    </span> -->
                                    <div id="acc3" style="margin-left: 17% !important;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 panel-wrapper">
                            <div class="panel-body panel">
                                <h6>Deal Amount</h6>
                                <div class="col-md-3">
                                    <div class="rad-down"><i class="fa fa-thumbs-o-down thumb-down" style="font-size: 25px;"></i></div>
                                </div>
                                <div class="col-md-9 set-chart">
                                    <!-- <div class="rest" data-bind="text: alertSum.currentData('countApproved')"></div>
                                    <span data-bind="attr: {class: alertSum.colorClass('countApproved')}">
                                        <i data-bind="attr: {class: alertSum.seriesChangeFa('countApproved')}"></i>
                                        <span data-bind="text: alertSum.seriesChangePercent('countApproved')"></span>%
                                    </span> -->
                                    <div id="acc4" style="margin-left: 17% !important;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                   <!--  <div class="col-md-4">
                        <div class="panel" style="background-color: #f0f3f4 !important;">
                            <div class="panel-body mm">
                                <div>
                                    <h5 data-bind="text: alertSum.titleText()"></h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="summary-box">
                                            <span class="score" data-bind="text: alertSum.currentData('countApproved')"></span>
                                            <i data-bind="attr: { class: alertSum.seriesChangeFa('countApproved') }" aria-hidden="true"></i>
                                            <span class="box-label blue">Approved</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="summary-box">
                                            <span class="score" data-bind="text: alertSum.currentData('countRejected')"></span>
                                            <i data-bind="attr: { class: alertSum.seriesChangeFa('countRejected') }" aria-hidden="true"></i>
                                            <span class="box-label red">Rejected</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="summary-box">
                                            <span class="score" data-bind="text: alertSum.currentData('amountApproved', 1)"></span><span class="score unit"> cr.</span>
                                            <i data-bind="attr: { class: alertSum.seriesChangeFa('amountApproved') }" aria-hidden="true"></i>
                                            <span class="box-label blue">Deal Amount</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="summary-box">
                                            <span class="score" data-bind="text: alertSum.currentData('amountRejected', 1)"></span><span class="score unit"> cr.</span>
                                            <i data-bind="attr: { class: alertSum.seriesChangeFa('amountRejected') }" aria-hidden="true"></i>
                                            <span class="box-label red">Deal Amount</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body panechart">
                                <span class="pull-right">
                                    <div class="col-md-12">
                                        <div class="col-md-6" style="margin-top: 5px; padding-right: 0px;">
                                            <label>View Trend for</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="width: 110%;" data-bind="kendoDropDownList: {
                                                data: alertSum.trendDataLengthOptions,
                                                value: alertSum.trendDataLength,
                                                dataTextField: 'text',
                                                dataValueField: 'value'
                                            }">
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <div style="font-size: 12px;font-family:Arial,Helvetica,Sans-Serif;font-weight: bold !important;">Trend: Last <span data-bind="text: alertSum.trendDataLengthTitle"></span></div>
                                <div id="alert-summary" data-bind="kendoChart: {
                                    data: alertSum.trendDataSeries,
                                    series: alertSum.trendDataConfig,
                                    axisDefaults: {
                                        labels: {
                                            font: '10px Sans-Serif'
                                        }
                                    },
                                    title:{
                                        font: 'bold 10px Arial,Helvetica,Sans-Serif',
                                    },
                                    chartArea:{
                                        height: alertSum.height(),
                                        background: 'white',
                                        font: '10px Arial,Helvetica,Sans-Serif',
                                    },
                                    categoryAxis: {
                                        categories: alertSum.trendDataMonths,
                                        axisCrossingValue: [0, 13],
                                    },
                                    legend:{
                                        position: 'bottom',
                                        labels:{
                                            font: '10px Arial,Helvetica,Sans-Serif',
                                        },
                                    },
                                    valueAxes: alertSum.trendDataAxes,
                                }">
                                </div>
                        <!-- <div id="alertsum"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>