
<script>document.write('<script src="/static/core/dashboard-alert-summary.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

<style>
    .fa-font-neutral {
		font-weight: bold;
		margin-top: 3px;
		display: block;
    }

    .fa-font-green {
        color: #8BC34A;
		font-weight: bold;
		margin-top: 3px;
		display: block;
    }

    .fa-font-red {
        color: #ff3b30;
		font-weight: bold;
		margin-top: 3px;
		display: block;
    }
    .mm{
        margin-top: 2px !important;
        border: 1px solid #acacac;
        border-radius: 10px;
        background-color: #f0f3f4 !important;
    }
    .hed{
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: -15px;
    }
    .line{
        margin-top: 6px;
        margin-bottom: 20px;
        border: 1px solid #4472c4;
        border-top: 0px solid #eee;
    }
    .pane{
        margin-top: 0px !important;
        padding: 0px !important;
    }
    .thumb-down{
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph; /*IE*/
        filter: fliph; /*IE*/
        margin-left: 18px;
        margin-top: 18px;
    }

    .thumb-up{
        margin-left: 18px;
        margin-top: 18px;
    }
    .rest{
        font-size: 62px;
        margin-top: -23px;
        text-align: center;
        font-weight: bold !important;
        margin-bottom: -21px;
    }
    .rad-up{
        font-size: 25px;
        color: black;
        border-radius: 50%; 
        height: 59px;
        width: 57px;
        background-color: #498fcd;
        margin-left: 14px;
        margin-right: 11px;
        margin-bottom: 7px !important;
        margin-left: -6px;

    }
    .rad-down{
        font-size: 25px;
        color: black;
        border-radius: 50%; 
        height: 59px;
        width: 57px;
        background-color: #ed7d31;
        margin-left: 14px;
        margin-right: 11px;
        margin-bottom: 7px !important;
        margin-left: -6px;
    }
    .panechart{
        margin-top: 0px !important;
        background-color: white;
    }

	/*.bd .panel {
		border-radius: 1px;
		border: 1px solid #cdcdcd;
		padding-bottom: 10px;
        background-color: #fff;
	}*/

	.bd .panel-wrapper .panel {
		margin-top: 0px !important;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	/*.bd .panel-wrapper .panel h6 {
		font-weight: bold;
	}*/

	.bd .col-md-3.panel-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}

	.bd .col-md-3.panel-wrapper:first-of-type {
		padding-left: 0px;
		padding-right: 10px;
	}

	.bd .col-md-3.panel-wrapper:last-of-type {
		padding-left: 10px;
		padding-right: 0px;
	}

	.bd .col-md-3.panel-wrapper .panel {
		min-height: 120px;
	}

    .setnumhed{
        text-align: right;
        padding: 0px;
    }

    .setnumch{
        text-align: left;
        padding: 0;
        /*margin-top: 1.5px !important;*/
    }

    .colup{
        margin-left: 8%;
    }
</style>

<div class="row">
    <div class="col-md-12 gap-from-menu border-dashboard-bottom" >
        <div class="panel pn clean-border" style="border-bottom: 0px !important;background-color: #f0f3f4;">
            <div class="panel-heading hd toggle1" style="padding-top: 0px">
                <div type="button" class="col-md-12" >
                    <h5 class="hed title-dashboard" ><span class="fa fa-bar-chart"> &nbsp; </span>Quick Info: <span data-bind="text: dash.PeriodRangeText"></span><span style="float: right" class="ic acc-down"><i class="fa fa-external-link-square"></i></span></h5>
                </div>
            </div>
            <div class="panel-body bd summary-box new-dashboard">
                <div class="panel show" style="background-color: #f0f3f4 !important;border: 0px;">
                    <div class="col-sm-12 header">
                        <hr class="line">
                        <div class="col-md-3 panel-wrapper">
                            <div class="panel-body panel">
                                <h6>Approved Deals</h6>
                                <div class="col-md-2">
                                    <div class="rad-up"><i class="fa fa-thumbs-o-up thumb-up"></i></div>
                                </div>
                                <div class="col-md-10">
                                    <center class="colup">
                                        <div class="rest" data-bind="text: alertSum.currentData('countApproved')"></div>
                                        <span data-bind="attr: {class: alertSum.colorClass('countApproved')}">
                                            <div class="col-md-12" style="width: 100%;">
                                               <!--  <span class="col-md-6 setnumhed">
                                                    &nbsp
                                                    <i id="countApproved" style="font-size: 18px;" data-bind="attr: {class: alertSum.seriesChangeFa('countApproved')}"></i>
                                                    <span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('countApproved', 0)"></span>
                                                </span>
                                                <span class="col-md-6 countApproved setnumch">
                                                    <small style="font-size: 12px;" data-bind="text: alertSum.seriesChangePercent('countApproved', 1), attr:{'id':'countApproved1'}"></small>
                                                </span> -->
                                                <!-- <div class="col-md-4"></div>
                                                <table class="col-md-4">
                                                    <tr>
                                                        <td><span  style="font-size: 18px;" id="conve" data-bind="attr: {class: alertSum.seriesChangeFa('countApproved')}"></span></td>
                                                        <td><span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('countApproved', 0)"></span></td>
                                                        <td style="text-align: left;"><small style="font-size: 12px;"  data-bind="text: alertSum.seriesChangePercent('countApproved', 1)"></small></td>
                                                    </tr>
                                                </table> 
                                                <div class="col-md-4"></div> -->
                                                <span  style="font-size: 18px;" id="countApproved" data-bind="attr: {class: alertSum.seriesChangeFa('countApproved')}"></span>
                                                <span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('countApproved', 0)"></span>
                                                <small style="text-align: left;font-size: 12px;vertical-align: text-bottom;"  data-bind="text: alertSum.seriesChangePercent('countApproved', 1)"></small>
                                            </div>
    									</span>
                                    </center>
                                </div>
                                <div class="col-sm-12" style="margin-bottom: 10px">
                                    <div id="onac1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 panel-wrapper">
                            <div class="panel-body panel">
                                <h6>Approved Amount</h6>
                                <div class="col-md-2">
                                    <div class="rad-up"><i class="fa fa-thumbs-o-up thumb-up"></i></div>
                                </div>  
                                <div class="col-md-10">
                                    <center class="colup">
                                        <div  style="margin-right: -12%;">
    									<div class="rest" data-bind="text: alertSum.currentData('amountApproved')"></div>
                                        <span data-bind="attr: {class: alertSum.colorClass('amountApproved')}">
                                            <div class="col-md-12" style="width: 100%;">
                                                <!-- <div class="col-md-4"></div>
                                                <table class="col-md-4">
                                                    <tr>
                                                        <td><span  style="font-size: 18px;" id="conve" data-bind="attr: {class: alertSum.seriesChangeFa('amountApproved')}"></span></td>
                                                        <td><span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('amountApproved', 0)"></span></td>
                                                        <td style="text-align: left;"><small style="font-size: 12px;"  data-bind="text: alertSum.seriesChangePercent('amountApproved', 1), attr:{'id':'amountApproved1'}"></small></td>
                                                    </tr>
                                                </table> 
                                                <div class="col-md-4"></div> -->
                                                <span  style="font-size: 18px;" id="amountApproved" data-bind="attr: {class: alertSum.seriesChangeFa('amountApproved')}"></span>
                                                <span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('amountApproved', 0)"></span>
                                                <small style="text-align: left;font-size: 12px;vertical-align: text-bottom;"  data-bind="text: alertSum.seriesChangePercent('amountApproved', 1), attr:{'id':'amountApproved1'}"></small>
                                            </div>
    									</span>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-sm-12" style="margin-bottom: 10px">
                                    <div id="acc3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 panel-wrapper">
                            <div class="panel-body panel">
                                <h6>Rejected Deals</h6>
                                <div class="col-md-2">
                                    <div class="rad-down"><i class="fa fa-thumbs-o-down thumb-down" style="font-size: 25px;"></i></div>
                                </div>
                                <div class="col-md-10">
                                    <center class="colup">
                                        <div style="margin-right: -12px;">
        									<div class="rest" data-bind="text: alertSum.currentData('countRejected')"></div>
                                            <span data-bind="attr: {class: alertSum.colorClass('countRejected')}">
                                                <div class="col-md-12" style="width: 100%;">
                                                   <!--  <span class="col-md-6 setnumhed">
                                                        <i id="countRejected" style="font-size: 18px;" data-bind="attr: {class: alertSum.seriesChangeFa('countRejected')}"></i>
                                                        <span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('countRejected', 0)"></span>
                                                    </span>
                                                    <span class="col-md-6 countRejected setnumch">
                                                        <small style="font-size: 12px;" data-bind="text: alertSum.seriesChangePercent('countRejected', 1), attr:{'id':'countRejected1'}"></small>
                                                    </span> -->

                                                    <!-- <div class="col-md-4"></div>
                                                    <table class="col-md-4">
                                                        <tr>
                                                            <td><span  style="font-size: 18px;" id="countRejected" data-bind="attr: {class: alertSum.seriesChangeFa('countRejected')}"></span></td>
                                                            <td><span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('countRejected', 0)"></span></td>
                                                            <td style="text-align: left;"><small style="font-size: 12px;" data-bind="text: alertSum.seriesChangePercent('countRejected', 1), attr:{'id':'countRejected1'}"></small></td>
                                                        </tr>
                                                    </table> 
                                                    <div class="col-md-4"></div> -->
                                                    <span  style="font-size: 18px;" id="countRejected" data-bind="attr: {class: alertSum.seriesChangeFa('countRejected')}"></span>
                                                    <span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('countRejected', 0)"></span>
                                                    <small style="text-align: left;font-size: 12px;vertical-align: text-bottom;"  data-bind="text: alertSum.seriesChangePercent('countRejected', 1), attr:{'id':'countRejected1'}"></small>
                                                </div>
        									</span>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-sm-12" style="margin-bottom: 10px">
                                    <div id="onac2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 panel-wrapper">
                            <div class="panel-body panel">
                                <h6>Rejected Amount</h6>
                                <div class="col-md-2">
                                    <div class="rad-down"><i class="fa fa-thumbs-o-down thumb-down"></i></div>
                                </div>
                                <div class="col-md-10">
                                    <center class="colup">
                                    <div style="margin-right: -12%;">
    									<div class="rest" data-bind="text: alertSum.currentData('amountRejected')"></div>
                                        <span data-bind="attr: {class: alertSum.colorClass('amountRejected')}">
                                            <div class="col-md-12" style="width: 100%;">
                                                <!-- <span class="col-md-6 setnumhed">
                                                    <i id="countRejected" style="font-size: 18px;" data-bind="attr: {class: alertSum.seriesChangeFa('amountRejected')}"></i>
                                                    <span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('amountRejected', 0)"></span>
                                                </span>
                                                <span class="col-md-6 amountRejected setnumch">
                                                    <small style="font-size: 12px;" data-bind="text: alertSum.seriesChangePercent('amountRejected', 1), attr:{'id':'amountRejected1'}"></small>
                                                </span> -->

                                               <!--  <div class="col-md-4"></div>
                                                <table class="col-md-4">
                                                    <tr>
                                                        <td><span  style="font-size: 18px;" id="conve" id="amountRejected" data-bind="attr: {class: alertSum.seriesChangeFa('amountRejected')}"></span></td>
                                                        <td><span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('amountRejected', 0)"></span></td>
                                                        <td style="text-align: left;"><small style="font-size: 12px;" data-bind="text: alertSum.seriesChangePercent('amountRejected', 1), attr:{'id':'amountRejected1'}"></small></td>
                                                    </tr>
                                                </table> 
                                                <div class="col-md-4"></div> -->
                                                <span  style="font-size: 18px;" id="conve" data-bind="attr: {class: alertSum.seriesChangeFa('amountRejected')}"></span>
                                                <span style="font-size: 15px;" data-bind="text: alertSum.seriesChangePercent('amountRejected', 0)"></span>
                                                <small style="text-align: left;font-size: 12px;vertical-align: text-bottom;"  data-bind="text: alertSum.seriesChangePercent('amountRejected', 1), attr:{'id':'amountRejected1'}"></small>
                                            </div>
    									</span>
                                    </div>
                                    </center>
                                </div>
                                <div class="col-sm-12" style="margin-bottom: 10px">
                                    <div id="acc4"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body panechart">
                                <span class="pull-right">
                                    <div class="col-md-12">
                                        <div class="col-md-6" style="margin-top: 5px; padding-right: 0px;">
                                            <label>View Across</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="width: 90px;" data-bind="kendoDropDownList: {
                                                data: alertSum.trendDataLengthOptions,
                                                value: alertSum.trendDataLength,
                                                dataTextField: 'text',
                                                dataValueField: 'value'
                                            }">
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <div style="font-size: 12px;font-family:Arial,Helvetica,Sans-Serif;font-weight: bold !important;">Trend</span></div>
                                <div id="alert-summary" data-bind="kendoChart: {
                                    data: alertSum.trendDataSeries,
                                    series: alertSum.trendDataConfig,
                                    axisDefaults: {
                                        labels: {
                                            font: '10px Sans-Serif'
                                        }
                                    },
                                    title:{
                                        font: 'bold 10px Arial,Helvetica,Sans-Serif',
                                    },
                                    chartArea:{
                                        height: alertSum.height(),
                                        background: 'white',
                                        font: '10px Arial,Helvetica,Sans-Serif',
                                    },
                                    categoryAxis: {
                                        categories: alertSum.trendDataMonths,
                                        axisCrossingValue: [0, 13],
                                    },
                                    legend:{
                                        position: 'bottom',
                                        labels:{
                                            font: '10px Arial,Helvetica,Sans-Serif',
                                        },
                                    },
                                    valueAxes: alertSum.trendDataAxes,
                                }">
                                </div>
                        <!-- <div id="alertsum"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>