
<script>document.write('<script src="/static/core/dashboard-alert-sidebar.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

<style>
    .sidebar h5 {
        font-weight: bold;
        font-size: 14px;
    }
    .sidebar.sidebar-box {
        border-radius: 1px;
        border: 1px solid #cdcdcd;
        margin-bottom: 10px;
        padding: 5px 10px;
        background-color: white;
        display: block;
    }
    /* NOTIF */
    .sidebar.sidebar-box.system-notif ul {
        padding-left: 20px;
    }
    .sidebar.sidebar-box.system-notif ul li {
        list-style: disc;
        margin-bottom: 2px;

        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
    }
    /* TODO */
    .sidebar.sidebar-box.system-todo ul {
        padding-left: 0px;
    }
    .sidebar.sidebar-box.system-todo ul li {
        list-style: none;
        margin-bottom: 10px;
    }
    .sidebar.sidebar.sidebar-box.sidebar.sidebar-box.system-todo .messages .remove {
        font-size: 14px;
        color: #ff0000;
    }
    .sidebar.sidebar.sidebar-box.sidebar.sidebar-box.system-todo .messages span.text {
        margin-top: 3px;
    }
    .sidebar.sidebar.sidebar-box.sidebar.sidebar-box.system-todo .messages textarea.text {
        width: 100%;
    }
    /* the checkbox */
    label.todo {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
    }

    input[type=checkbox].todo-checkbox {
        position: absolute; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        height:1px; 
        width:1px; 
        margin:-1px; 
        padding:0;
        border:0;
    }

    input[type=checkbox].todo-checkbox + label.todo {
        padding-left:20px;
        line-height:15px; 
        display:inline-block;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:13px;
        vertical-align:middle;
        cursor:pointer;
    }

    input[type=checkbox].todo-checkbox:checked + label.todo {
        background-image:url(/static/img/form/checkbox-green.png);
        background-position: 0 -15px;

    }

    label.todo {
        width: 100%;
        background-image:url(/static/img/form/checkbox-green-uncheck.png);
    }
    .had{
        margin-top: 36px;
    }
    .toggle1{
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="toggle1 had" style="margin-top: 26px">
        <div class="col-md-12" style="margin-bottom: -32px">
            <h5 class="hed title-dashboard1"><span class="fa fa-envelope"> &nbsp; </span>System Notification <span style="float: right" class="ic acc-down fa fa-external-link-square"></span></h5><br>
            <hr class="line">
        </div>
    </div>
    <div class="col-sm-12 gap-from-menu">
        <div class="sidebar sidebar-box system-notif show" data-bind="style: { visibility: (alertSide.notifData().length > 0 ? 'initial' : 'hidden') }">
            <div class="collapse in">
                <ul data-bind="foreach: alertSide.notifData">
                    <li data-bind="text: $data"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="toggle1">
        <div class="col-md-12">
            <h5 class="hed title-dashboard1"><span class="fa fa-list-ul"> &nbsp; </span>To Do Checkboard <span style="float: right" class="ic acc-down fa fa-external-link-square"></span></h5><br>
            <hr class="line">

        </div>
    </div>
    
    <div class="col-sm-12">  
        <div class="pull-right show" style="margin-top: -8px;">
            <button data-bind="click: alertSide.todoEnableEdit.bind($data, true), visible: alertSide.todoEditState() == 'READ' && alertSide.todoData().length > 0"><i class="fa fa-pencil"></i></button>
            <button data-bind="click: alertSide.todoSave, visible: alertSide.todoEditState() == 'EDIT'"><i class="fa fa-floppy-o"></i></button>
            <button data-bind="click: alertSide.todoAdd"><i class="fa fa-plus"></i></button>
        </div>
        <div class="sidebar sidebar-box system-todo show" style="margin-top: 27px;" data-bind="style: { visibility: (alertSide.todoData().length > 0 ? 'initial' : 'hidden') }">
            <ul class="messages" data-bind="foreach: alertSide.todoData, visible: alertSide.todoEditState() == 'READ'">
                <li>
                    <!-- workaround, we listen to click to notify save on backend -->
                    <!-- wa can't use subscribe, Since editing is also using the same observable -->
                    <input class="todo-checkbox" type="checkbox" data-bind="checked: Checked, attr: {id: 'todo' + $index()}, click: alertSide.todoSaveDelay" />
                    <label class="todo" data-bind="attr: {for: 'todo' + $index()}">
                        <a class="remove pull-right" data-bind="click: alertSide.todoRemove.bind($data, $index())">
                            <i class="fa fa-times"></i>
                        </a>
                        <span data-bind="text: Text"></span>
                    </label>
                </li>
            </ul>

            <ul class="messages" data-bind="foreach: alertSide.todoData, visible: alertSide.todoEditState() == 'EDIT'">
                <li>
                    <textarea class="text form-control input-sm" type="text" data-bind="textInput: Text" style="resize: vertical">
                    </textarea>
                </li>
            </ul>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>