{{template "dataaccess.html" .}}
<script>
document.write('<script src="/static/core/dashboard-dashfilter.js?nochace=' + Math.floor(Math.random() * 100) + '"\><\/script>')
</script>
<script>
document.write('<script src="/static/core/dashboard.js?nochace=' + Math.floor(Math.random() * 100) + '"\><\/script>')
</script>
<script>
document.write('<script src="/static/core/dashboard-dealprofilmetrics.js?nochace=' + Math.floor(Math.random() * 100) + '"\><\/script>')
</script>
<!-- <script type="text/javascript" src="/static/material/dist/ripple.min.js"></script> -->
{{template "leftfilter.html"}}
{{template "compare_contrast.html"}}
<style type="text/css">
.top {
    margin-top: 50px;
}

.left {
    text-align: left;
}

.ket {
    margin-bottom: -5px;
    margin-left: -14px;
}

#square1,
#square2,
#square3,
#square4 {
    width: 7px;
    height: 7px;
    display: inline-block;
}

#square1 {
    background-color: #ff2929;
}

#square2 {
    background-color: #ffc000;
}

#square3 {
    background-color: #92d050;
}

#square4 {
    background-color: #2e75b6;
}

#butt {
    /*padding-left: 24%;*/
    padding-top: 20px;
}

.dl {
    display: block;
    background-color: white;
    margin-top: 0px !important;
}

.onactive {
    /*background-color: rgba(0,0,0,0.1);*/
    border: 3px solid #2f528f !important;
}

.wl {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

#ti {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold !important;
    margin-top: 12px;
    margin-left: 17px;
}

.avg {
    text-align: center;
    font-size: 42px;
    font-weight: bolder !important;
}

.tat-title {
    text-align: left;
}

#conv,
#dec,
#proc,
#acc {
    text-align: center;
    margin-top: -11px;
}

.material-ripple>.panel {
    position: relative;
    display: block;
}

.con {
    margin-top: 20px !important;
    background-color: white;
    margin-bottom: -10px !important;
}

#tit {
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold !important;
}

.aol {
    background-color: white;
    margin-top: -1% !important;
}

.aul {
    margin-top: -0.5% !important;
    background-color: #fff;
}

.tabl {
    width: 95%;
    margin-left: 3.4%;
}

.turnaroundtime h4 {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    font-family: Cambria, Helvetica, Arial;
}

.line {
    /*margin-top: 6px;
        margin-bottom: 20px;*/
    border: 1px solid #4472c4;
    border-top: 0px solid #eee;
    margin-top: -3px;
}

.acc-down {
    float: right;
    font-size: 14px;
    color: grey;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.acc-up {
    font-size: 14px;
    color: grey;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
}

.toggle1 {
    cursor: pointer;
}

.scatter-title {
    margin-top: 20px;
}

#goal-container {
    /*background: transparent url("/static/img/gauge-container.png") no-repeat 50% 50%;*/
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto 30px auto;
}

#tatgoals {
    width: 120px;
    height: 120px;
    margin: 0 auto 0;
}

.lay {
    padding-left: 25px;
    padding-right: 25px;
}


/*#goal-container .k-slider {
                    margin-top: -11px;
                    width: 200px;
                }*/

.tl {
    margin-top: -3%;
}

h5 {
    margin-top: 0px;
}

.new-dashboard h6 {
    margin-bottom: 0px;
}

.new-dashboard.minichart .panel {
    padding: 0px;
    padding-bottom: 10px;
}

.trend .legend #square1 {
    background-color: #2e75b6;
    margin-left: 8px;
}

.trend .legend #square2 {
    background-color: #00b0f0;
    margin-left: 8px;
}

.trend .legend #square3 {
    background-color: #ffc000;
    margin-left: 8px;
}

.trend .legend #square4 {
    background-color: #678900;
    margin-left: 8px;
}

.new-dashboard .footnote {
    font-size: 11px;
    padding-top: 5px;
}

.legend {
    font-size: 11px;
    font-family: Arial, Helvetica, Sans-Serif;
    text-align: center;
    color: #fff;
    height: 25px;
}

h6 {
    font-weight: normal !important;
}

.aul h5 {
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #58666e;
}

.aul {
    padding-top: 0px;
}

.chart-options {
    position: absolute;
    float: right;
    z-index: 1;
    right: 50px;
    top: 3px;
    font-size: 10px;
}

.chart-options label {
    margin-top: 4px;
    margin-right: 5px;
}

.chart-options0 {
    float: left;
    right: 25px;
    top: 3px;
    font-size: 10px;
    margin-top: 1%;
    padding-left: 2%;
}

.chart-options0 label {
    margin-top: 4px;
    margin-right: 5px;
}

.chart-options1 label {
    margin-top: 4px;
    margin-right: 5px;
}

.chart-options0 .k-widget.k-dropdown,
.chart-options1 .k-widget.k-dropdown,
.chart-options .k-widget.k-dropdown {
    width: 100px;
}

.chart-options0 .k-widget.k-dropdown .k-dropdown-wrap,
.chart-options1 .k-widget.k-dropdown .k-dropdown-wrap,
.chart-options .k-widget.k-dropdown .k-dropdown-wrap {
    height: 16px !important;
}

.chart-options0 .k-widget.k-dropdown .k-dropdown-wrap .k-input,
.chart-options1 .k-widget.k-dropdown .k-dropdown-wrap .k-input,
.chart-options .k-widget.k-dropdown .k-dropdown-wrap .k-input {
    font-size: 9px;
    padding-top: 1px;
}

.chart-options0 .k-widget.k-dropdown .k-dropdown-wrap .k-icon,
.chart-options1 .k-widget.k-dropdown .k-dropdown-wrap .k-icon,
.chart-options .k-widget.k-dropdown .k-dropdown-wrap .k-icon {
    height: 20px;
}

.donut-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: transparent;
    margin: -10% auto auto 2%;
}

.donut-chart {
    width: 200px;
    height: 200px;
}

.inner-content {
    position: absolute;
    top: 45%;
    left: 51%;
    width: 200px;
    height: 200px;
    margin-top: -50px;
    margin-left: -50px;
    font-size: 12px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    color: grey;
}

.middle-center {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.widget-title {
    font-size: 46px;
    font-weight: bold !important;
    color: grey;
}

.up-arrow {
    color: #70ad47;
}

.down-arrow {
    color: #ff2929;
}

.new-dashboard.minichart .panel.aol.manual-height {
    height: 262px;
    padding: 12px 10px;
}

.new-dashboard.minichart .panel.aol.manual-height h6 {
    margin-top: 0px;
    margin-bottom: 6px;
}


/*.new-dashboard.minichart .panel.aol.manual-height .k-grid .k-grid-header {
        height: 215px;
        padding-right: 0px;
    }

    .new-dashboard.minichart .panel.aol.manual-height .k-grid .k-grid-header .k-grid-header-wrap {
        overflow: scroll;
        height: 215px;
        padding-right: 0px;
    }

    .new-dashboard.minichart .panel.aol.manual-height .k-grid .k-grid-header .k-grid-header-wrap table {
        width: 900px;
    }*/

.k-chart-tooltip {
    text-align: left;
}

.compare-space {
    right: 48px;
}

/* quick info small big percent */
.quickinfo-percent.percent-span-big {
    font-size: 15px;
}

.quickinfo-percent.percent-span-small {
    font-size: 12px;
    position: relative;
    bottom: 1px;
    right: 2px;
}

.quickinfo-stat.percent-span-big {
}

.quickinfo-stat.percent-span-small {
    font-size: 32px;
    position: relative;
    bottom: 4px;
    right: 10px;
}

</style>
 <div id="infilter" class="col-md-2" style="display: none;">
    <div class="filterfix">
        <div class="panel panel-body side onbar">
           {{template "filter_menu.html"}}
        </div>
    </div>
</div>
<div id="incontainer" class="col-md-12 setpad lay">
    <div class="col-md-12 top turnaroundtime">
        <div class="col-md-12">
            <h5>Quick Info: <span data-bind="text: dash.PeriodRangeText"></span></h5>
            <hr class="line">
            <div class="col-sm-12 new-dashboard" style="width: 100%;margin-left: -0.5%;margin-top: -32px;">
                <div id="butt">
                    <div class="col-sm-3 wl">
                        <div class="panel panel-body dl" id="target" style="height: 165px">
                            <h6 class="tat-title tl">Deal Target</h6>
                            <div id="goal-container">
                                <div id="tatgoals"></div>
                                <div>Days</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 wl ">
                        <div class="panel panel-body dl material-ripple" style="height: 165px" id="conv">
                            <h6 class="tat-title tl">Deal Count</h6>
                            <div class="middle-center">
                                <div class="middle widget-title col-sm-12" data-bind="text: pm.dealCount"></div>
                                <div class="middle widget-avg col-sm-12">
                                    <i class="fa" data-bind="css:{
                                        'up-arrow': pm.avgCount() > 0, 'fa-caret-up': pm.avgCount() > 0,
                                        'down-arrow': pm.avgCount() < 0, 'fa-caret-down': pm.avgCount() < 0
                                    }" aria-hidden="true"></i>
                                    <span class="quickinfo-percent percent-span-big" data-bind="text: pm.SeparateDecimal(pm.avgCount(), 0)"></span>
                                    <span class="quickinfo-percent percent-span-small" data-bind="text: pm.SeparateDecimal(kendo.toString(pm.avgCount(), 'n2'), 1) + '%'"></span>
                                </div>
                                <div class="col-sm-12">
                                    <table data-bind="style:{width:'100%', marginTop: '18px'}" id="dealcount">
                                        <tr>
                                            <td class="le legend" style="background-color: #0b8140;" data-bind="visible: pm.xfl1count() > 0, style:{width: pm.xfl1countwidth()+'%'},text:pm.xfl1count"></td>
                                            <td class="le legend" style="background-color: #70ad47;" data-bind="visible: pm.xfl2count() > 0, style:{width: pm.xfl2countwidth()+'%'},text:pm.xfl2count"></td>
                                            <td class="le legend tooltipdealcount" style="background-color: #ffc000;" data-bind="visible: pm.xfl3count() > 0, style:{width: pm.xfl3countwidth()+'%'},text:pm.xfl3count"></td>
                                            <td class="le legend" style="background-color: #ed7d31;" data-bind="visible: pm.xfl4count() > 0, style:{width: pm.xfl4countwidth()+'%'},text:pm.xfl4count"></td>
                                            <td class="le legend" style="background-color: #ff2929;" data-bind="visible: pm.xfl5count() > 0, style:{width: pm.xfl5countwidth()+'%'},text:pm.xfl5count"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 wl">
                        <div class="panel panel-body dl material-ripple" style="height: 165px" id="dec">
                            <h6 class="tat-title tl">Deal Amount</h6>
                            <div class="middle-center">
                                <div class="middle widget-title col-sm-12">
                                    <span class="quickinfo-stat percent-span-big"data-bind="text: pm.SeparateDecimal(pm.dealAmount(), 0)"></span>
                                    <span class="quickinfo-stat percent-span-small" data-bind="text: pm.SeparateDecimal(kendo.toString(pm.dealAmount(), 'n2'), 1) + 'cr'"></span>
                                </div>
                                <div class="middle widget-avg col-sm-12">
                                    <i class="fa" data-bind="css:{
                                        'up-arrow': pm.avgAmount() > 0, 'fa-caret-up': pm.avgAmount() > 0,
                                        'down-arrow': pm.avgAmount() < 0, 'fa-caret-down': pm.avgAmount() < 0
                                    }" aria-hidden="true"></i>
                                    <span class="quickinfo-percent percent-span-big" data-bind="text: pm.SeparateDecimal(kendo.toString(pm.avgAmount(), 'n2') + '%', 0)"></span>
                                    <span class="quickinfo-percent percent-span-small" data-bind="text: pm.SeparateDecimal(kendo.toString(pm.avgAmount(), 'n2') + '%', 1)"></span>
                                </div>
                                <div class="col-sm-12">
                                    <table data-bind="style:{width:'100%', marginTop: '18px'}">
                                        <tr>
                                            <td class="le legend" style="background-color: #0b8140;" data-bind="visible: pm.xfl1amount() > 0, style:{width: pm.xfl1amountwidth()+'%'},text:pm.xfl1amount"></td>
                                            <td class="le legend" style="background-color: #70ad47;" data-bind="visible: pm.xfl2amount() > 0, style:{width: pm.xfl2amountwidth()+'%'},text:pm.xfl2amount"></td>
                                            <td class="le legend" style="background-color: #ffc000;" data-bind="visible: pm.xfl3amount() > 0, style:{width: pm.xfl3amountwidth()+'%'},text:pm.xfl3amount"></td>
                                            <td class="le legend" style="background-color: #ed7d31;" data-bind="visible: pm.xfl4amount() > 0, style:{width: pm.xfl4amountwidth()+'%'},text:pm.xfl4amount"></td>
                                            <td class="le legend" style="background-color: #ff2929;" data-bind="visible: pm.xfl5amount() > 0, style:{width: pm.xfl5amountwidth()+'%'},text:pm.xfl5amount"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 wl">
                        <div class="panel panel-body dl material-ripple" style="height: 165px" id="process">
                            <h6 class="tat-title tl">Interest Amount</h6>
                            <div class="middle-center">
                                <div class="middle widget-title col-sm-12">
                                    <span class="quickinfo-stat percent-span-big"data-bind="text: pm.SeparateDecimal(pm.interestAmount(), 0)"></span>
                                    <span class="quickinfo-stat percent-span-small" data-bind="text: pm.SeparateDecimal(kendo.toString(pm.interestAmount(), 'n2'), 1) + 'cr'"></span>
                                </div>
                                <div class="middle widget-avg col-sm-12">
                                    <i class="fa" data-bind="css:{
                                        'up-arrow': pm.avgInterestAmount() > 0, 'fa-caret-up': pm.avgInterestAmount() > 0,
                                        'down-arrow': pm.avgInterestAmount() < 0, 'fa-caret-down': pm.avgInterestAmount() < 0
                                    }" aria-hidden="true"></i>
                                    <span class="quickinfo-percent percent-span-big" data-bind="text: pm.SeparateDecimal(pm.avgInterestAmount(), 0)"></span>
                                    <span class="quickinfo-percent percent-span-small" data-bind="text: pm.SeparateDecimal(kendo.toString(pm.avgInterestAmount(), 'n2'), 1) + '%'"></span>
                                </div>
                                <div class="col-sm-12">
                                    <table data-bind="style:{width:'100%', marginTop: '18px'}">
                                        <tr>
                                            <td class="le legend" style="background-color: #0b8140;" data-bind="visible: pm.xfl1interest() > 0, style:{width: pm.xfl1interestwidth()+'%'},text:pm.xfl1interest"></td>
                                            <td class="le legend" style="background-color: #70ad47;" data-bind="visible: pm.xfl2interest() > 0, style:{width: pm.xfl2interestwidth()+'%'},text:pm.xfl2interest"></td>
                                            <td class="le legend" style="background-color: #ffc000;" data-bind="visible: pm.xfl3interest() > 0, style:{width: pm.xfl3interestwidth()+'%'},text:pm.xfl3interest"></td>
                                            <td class="le legend" style="background-color: #ed7d31;" data-bind="visible: pm.xfl4interest() > 0, style:{width: pm.xfl4interestwidth()+'%'},text:pm.xfl4interest"></td>
                                            <td class="le legend" style="background-color: #ff2929;" data-bind="visible: pm.xfl5interest() > 0, style:{width: pm.xfl5interestwidth()+'%'},text:pm.xfl5interest"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-md-12">
                <h5>Trend: <span data-bind="text: dash.PeriodRangeText"></span> </h5>
                <hr class="line">
            </div>
            <div class="col-md-12 new-dashboard show minichart" style="margin-top: -0.5%">
                <div class="col-md-4">
                    <div class="panel panel-body aol trend">
                        <div class="compare-contrast">
							<button class="btn btn-flat btn-xs btn-primary tooltipster" title='Compare & Contrast' data-bind="click: pm.openCompareTrend">
								<i class="fa fa-search"></i>
							</button>
						</div>
                        <div class="chart-options">
                            <table>
                                <tr>
                                    <td>
                                        <label>View Across</label>
                                    </td>
                                    <td>
                                        <select data-bind="kendoDropDownList: {data: pm.dataPeriod, value: pm.ValueDataPeriod, dataTextField: 'text', dataValueField: 'value'}"></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="clear: both"></div>
                        <div id="chartContainer"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body aol trend">
                        <div class="chart-options compare-space">
                            <table>
                                <tr>
                                    <td>
                                        <label>View</label>
                                    </td>
                                    <td>
                                        <select data-bind="kendoDropDownList: {data: pm.dataMenu, value: pm.ValueDataMenuDistribution, dataTextField: 'text', dataValueField: 'value'}"></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="clear: both"></div>
                        <div id="distribution"></div>
                        <div class="compare-contrast">
                            <button class="btn btn-flat btn-xs btn-primary tooltipster" title='Compare & Contrast' data-bind="click: comp.Open.bind(comp, pm.CreateChartMoving)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body aol trend manual-height">
                        <div id="interestRateDetail">
                            <h6>Deal Amount and Interest</h6>
                            <div id="interestDetailDB"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Deal Amount Vs. Credit Score: <span data-bind="text: dash.PeriodRangeText"></span> <!--span style="float: right" class="ic acc-down fa fa-external-link-square"></span--></h5>
                <hr class="line">
            </div>
            <div class="col-md-12 new-dashboard">
                <div class="panel panel-body aul show">
                    <div id="cater"></div>
                    <table class="tabl">
                        <tr>
                            <td class="le legend" style="text-align: center;background-color: #ff2929;color:  #fff;width: 20%;">XFL - 5</td>
                            <td class="le legend" style="text-align: center;background-color: #ed7d31;color:  #fff;width: 20%;">XFL - 4</td>
                            <td class="le legend" style="text-align: center;background-color: #ffc000;color:  #fff;width: 20%;">XFL - 3</td>
                            <td class="le legend" style="text-align: center;background-color: #70ad47;color:  #fff;width: 20%;">XFL - 2</td>
                            <td class="le legend" style="text-align: center;background-color: #0b8140;color:  #fff;width: 20%;">XFL - 1</td>
                        </tr>
                    </table>
                    <div class="tabl" style="text-align: center; font-size: 11px; font-family: sans-serif; color: #4472c4;">Credit Scores</div>
                    <h5 class="scatter-title" data-bind="visible: pm.creditscoreclicked">Deal Amount and Interest Amount</h5>
                    <div id="creaditscoretable"></div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- <div class="col-md-12 lay">
    <div class="col-md-12 top turnaroundtime">
        <div class="col-md-12">
            <h5>Quick Info : <span data-bind="text: pm.setTitle()">nanana</span></h5>
            <hr class="line">
            <div class="col-sm-12 new-dashboard" style="width: 100%;margin-left: -0.5%;margin-top: -32px;">
                <div id="butt">
                    <div class="col-sm-3 wl">
                        <div class="panel panel-body dl" id="target" style="height: 185px">
                            <h6 class="tat-title tl">Deal Target</h6>
                            <div id="goal-container">
                                <div id="tatgoals"></div>
                                <div>Days</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 wl ">
                        <div class="panel panel-body dl material-ripple" style="height: 185px" id="conv">
                            <h6 class="tat-title tl">Deal Count</h6>
                            <div class="middle-center">
                                <div class="middle widget-title col-sm-12" data-bind="text: pm.dealCount"></div>
                                <div class="middle widget-avg col-sm-12"><i class="fa fa-arrow-up up-arrow" aria-hidden="true"></i> <span data-bind="text: pm.avgCount"></span>&#37;</div>
                                <div class="col-sm-12">
                                    <table data-bind="style:{width:'100%', marginTop: '25px'}" id="dealcount">
                                        <tr>
                                            <td class="le legend" style="background-color: #0b8140;" data-bind="visible: pm.xfl1count() > 0, style:{width: pm.xfl1countwidth()+'%'},text:pm.xfl1count"></td>
                                            <td class="le legend" style="background-color: #70ad47;" data-bind="visible: pm.xfl2count() > 0, style:{width: pm.xfl2countwidth()+'%'},text:pm.xfl2count"></td>
                                            <td class="le legend tooltipdealcount" style="background-color: #ffc000;" data-bind="visible: pm.xfl3count() > 0, style:{width: pm.xfl3countwidth()+'%'},text:pm.xfl3count"></td>
                                            <td class="le legend" style="background-color: #ed7d31;" data-bind="visible: pm.xfl4count() > 0, style:{width: pm.xfl4countwidth()+'%'},text:pm.xfl4count"></td>
                                            <td class="le legend" style="background-color: #ff2929;" data-bind="visible: pm.xfl5count() > 0, style:{width: pm.xfl5countwidth()+'%'},text:pm.xfl5count"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 wl">
                        <div class="panel panel-body dl material-ripple" style="height: 185px" id="dec">
                            <h6 class="tat-title tl">Deal Amount</h6>
                            <div class="middle-center">
                                <div class="middle widget-title col-sm-12" data-bind="text: pm.dealAmount"></div>
                                <div class="middle widget-avg col-sm-12"><i class="fa fa-arrow-up up-arrow" aria-hidden="true"></i> <span data-bind="text: pm.avgAmount"></span>&#37;</div>
                                <div class="col-sm-12">
                                    <table data-bind="style:{width:'100%', marginTop: '25px'}">
                                        <tr>
                                            <td class="le legend" style="background-color: #0b8140;" data-bind="visible: pm.xfl1amount() > 0, style:{width: pm.xfl1amountwidth()+'%'},text:pm.xfl1amount"></td>
                                            <td class="le legend" style="background-color: #70ad47;" data-bind="visible: pm.xfl2amount() > 0, style:{width: pm.xfl2amountwidth()+'%'},text:pm.xfl2amount"></td>
                                            <td class="le legend" style="background-color: #ffc000;" data-bind="visible: pm.xfl3amount() > 0, style:{width: pm.xfl3amountwidth()+'%'},text:pm.xfl3amount"></td>
                                            <td class="le legend" style="background-color: #ed7d31;" data-bind="visible: pm.xfl4amount() > 0, style:{width: pm.xfl4amountwidth()+'%'},text:pm.xfl4amount"></td>
                                            <td class="le legend" style="background-color: #ff2929;" data-bind="visible: pm.xfl5amount() > 0, style:{width: pm.xfl5amountwidth()+'%'},text:pm.xfl5amount"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 wl">
                        <div class="panel panel-body dl material-ripple" style="height: 185px" id="process">
                            <h6 class="tat-title tl">Interest Amount</h6>
                            <div class="middle-center">
                                <div class="middle widget-title col-sm-12" data-bind="text: pm.interestAmount"></div>
                                <div class="middle widget-avg col-sm-12"><i class="fa fa-arrow-up down-arrow" aria-hidden="true"></i> <span data-bind="text: pm.avgInterestAmount"></span>&#37;</div>
                                <div class="col-sm-12">
                                    <table data-bind="style:{width:'100%', marginTop: '25px'}">
                                        <tr>
                                            <td class="le legend" style="background-color: #0b8140;" data-bind="visible: pm.xfl1interest() > 0, style:{width: pm.xfl1interestwidth()+'%'},text:pm.xfl1interest"></td>
                                            <td class="le legend" style="background-color: #70ad47;" data-bind="visible: pm.xfl2interest() > 0, style:{width: pm.xfl2interestwidth()+'%'},text:pm.xfl2interest"></td>
                                            <td class="le legend" style="background-color: #ffc000;" data-bind="visible: pm.xfl3interest() > 0, style:{width: pm.xfl3interestwidth()+'%'},text:pm.xfl3interest"></td>
                                            <td class="le legend" style="background-color: #ed7d31;" data-bind="visible: pm.xfl4interest() > 0, style:{width: pm.xfl4interestwidth()+'%'},text:pm.xfl4interest"></td>
                                            <td class="le legend" style="background-color: #ff2929;" data-bind="visible: pm.xfl5interest() > 0, style:{width: pm.xfl5interestwidth()+'%'},text:pm.xfl5interest"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Trend : <span data-bind="text: pm.setTitle()"></span> </h5>
                <hr class="line">
            </div>
            <div class="col-md-12 new-dashboard show minichart" style="margin-top: -0.5%">
                <div class="col-md-4">
                    <div class="panel panel-body aol trend">
                        <div class="chart-options">
                            <table>
                                <tr>
                                    <td>
                                        <label>View Acros</label>
                                    </td>
                                    <td>
                                        <select data-bind="kendoDropDownList: {data: pm.dataPeriod, value: pm.ValueDataPeriod, dataTextField: 'text', dataValueField: 'value'}"></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="clear: both"></div>
                        <div id="chartContainer"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body aol trend">
                        <div class="chart-options compare-space">
                            <table>
                                <tr>
                                    <td>
                                        <label>View</label>
                                    </td>
                                    <td>
                                        <select data-bind="kendoDropDownList: {data: pm.dataMenu, value: pm.ValueDataMenuDistribution, dataTextField: 'text', dataValueField: 'value'}"></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="clear: both"></div>
                        <div id="distribution"></div>
                        <div class="compare-contrast">
                            <button class="btn btn-flat btn-xs btn-primary" data-bind="click: comp.Open.bind(comp, pm.CreateChartMoving)">
                                <i class="fa fa-columns"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-body aol trend manual-height">
                        <div id="interestRateDetail">
                            <h6>Deal Amount and Interest</h6>
                            <div id="interestDetailDB"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Conversion TAT & Deal Amount : <span data-bind="text: pm.setTitle()">nanana</span></h5>
                <hr class="line">
            </div>
            <div class="col-md-12 new-dashboard">
                <div class="panel panel-body aul show">
                    <div id="cater"></div>
                    <table class="tabl">
                        <tr>
                            <td class="le legend" style="text-align: center;background-color: #ff2929;color:  #fff;width: 20%;">XFL - 5</td>
                            <td class="le legend" style="text-align: center;background-color: #ed7d31;color:  #fff;width: 20%;">XFL - 4</td>
                            <td class="le legend" style="text-align: center;background-color: #ffc000;color:  #fff;width: 20%;">XFL - 3</td>
                            <td class="le legend" style="text-align: center;background-color: #70ad47;color:  #fff;width: 20%;">XFL - 2</td>
                            <td class="le legend" style="text-align: center;background-color: #0b8140;color:  #fff;width: 20%;">XFL - 1</td>
                        </tr>
                    </table>
                    <div class="tabl" style="text-align: center; font-size: 11px; font-family: sans-serif; color: #4472c4;">Credit Scores</div>
                    <h5 class="scatter-title" data-bind="visible: pm.creditscoreclicked">Deal Amount and Interest Amount</h5>
                    <div id="creaditscoretable"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->
