{{template "dataaccess.html" .}}
<script>document.write('<script src="/static/core/dashboard.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
{{template "leftfilter.html"}}

<!-- TODO: fix with margin -->
<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h4>Hello <span data-bind="text: model.User"></span></h4>
            {{template "alert_sidebar.html"}}
        </div>
        <div class="col-sm-9">
            {{template "alert_summary.html"}}
        </div>
    </div>
</div>
