{{template "dataaccess.html" .}}
<script>document.write('<script src="/static/core/dashboard-dashfilter.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
<script>document.write('<script src="/static/core/dashboard.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
{{template "leftfilter.html"}}

<!-- TODO: fix with margin -->
<br>
<br>

<style>
    .title-dashboard{
        background-color: #f0f3f4;
        cursor: pointer;
    }

    .gap-from-menu{
        margin-top: 23px;
    }
    .border-dashboard-left{
        border-left: 1px #dbdbdb solid;
    }

      .border-dashboard-bottom{
        border-bottom: 1px #dbdbdb solid;
    }

    .clean-border{
        border-color: #f0f3f4;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*.setpad{
        padding: 0% !important;
    }*/
    
</style>

<!-- <div class="container-fluid"> -->
    <!-- <div class="row"> -->
        <div id="infilter" class="col-md-2" style="display: none;">
            <div class="filterfix">
                <div class="panel panel-body side onbar">
                   {{template "filter_menu.html"}}
                </div>
            </div>
        </div>
        <div id="incontainer" class="col-md-12 setpad">
            <div class="col-md-12" id="main">
                <div class="col-sm-3">
                    <!-- <h4>Hello <span data-bind="text: model.User"></span></h4> -->
                    {{template "alert_sidebar.html"}}
                </div>
                <div class="col-md-9 border-dashboard-left">
                    {{template "alert_summary.html"}}
                    {{template "time_tracker.html"}}
                </div>
            </div>
        </div>

    <!-- </div> -->
<!-- </div> -->
