<script>document.write('<script src="/static/core/dashboard-time-tracker.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
<style type="text/css">
	.bd{
		margin-top: 0px !important;
		margin-bottom: -14px !important;
	}
	.modal-header{
		border-bottom: none !important;
	}
	.trcolor{
		color: white;
		background-color: red;
	}
	.pn{
	    background-color: #f0f3f4;
	    /*border-top: 1px solid blue;
    	border-left: 1px solid blue;
    	border-bottom: 1px solid blue;*/
    	/*border-right: 1px solid grey;*/
    	border-radius: 0px;
    	/*margin-top: 12px;*/
	}
	.hd{
		margin-top: -2px;
	}
	.acc-down{
		background-image: url("/static/img/acordion/down.png");
		display: block;
		/*position: relative;*/
		width: 14px;
		height: 14px;
		float: right
	}
	.acc-up{
		background-image: url("/static/img/acordion/up.png");
		display: block;
		/*position: relative;*/
		width: 14px;
		height: 14px;
		float: right
	}
	.panetime{
		margin-top: 0px !important;
    	background-color: white;
	}
	.img-icon{
		height: 75%;
    	width: 75%;
	}
</style>
<div class="row">

<div class="col-md-12">
	<div class="panel pn clean-border" style="background-color: #f0f3f4;">
		<div class="panel-heading hd toggle1">
			<div class="col-md-12">
				<h5 class="hed title-dashboard"><span class="fa fa-bar-chart"> &nbsp; </span>To be Actioned Deals : Tracker <span class="ic acc-down"></span></h5>
			</div>
		</div>
		<div class="panel-body bd">
			<div class="panel show" style="background-color: white;border: 0px;">
				<div class="col-sm-12">
                    <hr class="line">
                    <div class="col-md-3 panel" style="margin-right: 5%;width: 20%;">
                        <div class="panel-body pane">
                            <h5>In Queue : Deal Count</h5>
                            <div class="col-md-6">
                                <img style="height: 75%;width: 100%;" src="/static/img/aicon/play-burger.png">
                            </div>
                            <div class="col-md-6">
                                <div class="rest">30</div>
                                <span class="arrow-up"><i class="fa fa-arrow-up"></i> 10.15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 panel" style="margin-right: 7%;width: 20%;">
                        <div class="panel-body pane">
                            <h5>Under Process : Deal Count</h5>
                            <div class="col-md-6">
                                <img style="height: 75%;width: 100%;" src="/static/img/aicon/rings.png">
                            </div>
                            <div class="col-md-6">
                                <div class="rest">30</div>
                                <span class="arrow-down"><i class="fa fa-arrow-down"></i> 10.15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 panel" style="margin-right: 7%;width: 20%;">
                        <div class="panel-body pane">
                            <h5>Awaiting Action : Deal Count</h5>
                            <div class="col-md-6">
                                <img style="height: 75%;width: 100%;" src="/static/img/aicon/hammer.png">
                            </div>
                            <div class="col-md-6">
                                <div class="rest">30</div>
                                <span class="arrow-up"><i class="fa fa-arrow-up"></i> 10.15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 panel" style="width: 20%">
                        <div class="panel-body pane">
                            <h5>On Hold : Deal Count</h5>
                            <div class="col-md-6">
                                <img style="height: 75%;width: 100%;margin-top: -9px;" src="/static/img/aicon/hand.png">
                            </div>
                            <div class="col-md-6">
                                <div class="rest">30</div>
                                <span class="arrow-down"><i class="fa fa-arrow-down"></i> 10.15%</span>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-md-12">
					<div class="panel">
						<div class="panel-body panetime">
							<div class="col-md-8 vv" >
								<div class="form-group">
									<div class="col-md-12">
										<div class="col-md-2">
											<label class="form-label">View Accross</label>
										</div>
										<div class="col-md-3">
											<select data-bind="kendoDropDownList: {data: ttrack.trackingList, value: ttrack.trackingValue, dataTextField: 'text', dataValueField: 'value'}" style="width: 100%;"></select>
										</div>
										<div class="col-md-2">
											<div type="button" class="btn btn-sm btn-flat btn-primary" data-bind="click: ttrack.getData"><span class="fa fa-refresh"></span> Search</div>
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-12 vv">
								<div id="timeTrackerChart"></div>
							</div>
							<div class="col-md-12 hidden-chart" style="display: none;">
									<center data-bind="visible: ttrack.isRegion() == true"><div id="chartRegion"></div></center>
									<center><h5 data-bind="text: ttrack.modalGridTittle"></h5></center>
									<div id="dealStatus"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>

<!-- <div id="Deals" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width: 100s%;"> -->
		<!-- <form class="form-add"> -->
			<!-- <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<center><h5 class="modal-title"></h5></center>
				</div>
				<div class="modal-body" style="margin-top: -25px;"> -->
					<!-- <div class="col-md-12"> -->
					<!-- 	<center data-bind="visible: ttrack.isRegion() == true"><div id="chartRegion"></div></center>
						<center><h5 data-bind="text: ttrack.modalGridTittle"></h5></center>
						<div id="dealStatus"></div> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-sm btn-flat btn-primary" data-dismiss="modal" data-bind="click: adf.onclickDismissModal">Save</button>
					<button type="button" class="btn btn-sm btn-flat btn-danger" data-dismiss="modal">Close</button>
				</div> -->
			<!-- </div> -->
		<!-- </form> -->
<!-- 	</div>
</div> -->
