<script>document.write('<script src="/static/core/dashboard-time-tracker.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
<style type="text/css">
	.bd{
		margin-top: 0px !important;
		margin-bottom: -14px !important;
		background-color: #f0f3f4 !important;
	}
	.modal-header{
		border-bottom: none !important;
	}
	.trcolor{
		color: white;
		background-color: red;
	}
	.pn{
	    background-color: #f0f3f4;
	    /*border-top: 1px solid blue;
    	border-left: 1px solid blue;
    	border-bottom: 1px solid blue;*/
    	/*border-right: 1px solid grey;*/
    	border-radius: 0px;
    	/*margin-top: 12px;*/
	}
	.hd{
		margin-top: -2px;
	}
	.acc-down{
		float: right;
		font-size: 14px;
		color:grey;
		-ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
	}
	.acc-up{
		font-size: 14px;
		color:grey;
		-moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph;
	}
	.panetime{
		margin-top: 0px !important;
    	background-color: white;
	}
	.img-icon{
		height: 75%;
    	width: 75%;
	}
	.footnote{
		font-size: 11px;
	}
</style>
<div class="row">

	<div class="col-md-12">
		<div class="panel pn clean-border" style="background-color: #f0f3f4;">
			<div class="panel-heading hd toggle1">
				<div class="col-md-12">
					<h5 class="hed title-dashboard"><span class="fa fa-bar-chart"> &nbsp; </span>To-Be-Actioned Deals<span style="float: right" class="ic acc-down fa fa-external-link-square"></span></h5>
				</div>
			</div>
			<div class="panel-body bd">
				<div class="panel show" style="border: 0px;">
					<div class="col-sm-12" style="background-color: #f0f3f4;">
						<hr class="line">
						<div class="col-md-3 panel-wrapper new-dashboard">
							<div class="panel-body panel">
								<h6 >In Queue</h6>
								<div class="col-md-5">
									<img height="29px" style="margin-left: -15%;" class="pull-left" src="/static/img/aicon/play-burger.png">
								</div>
								<div class="col-md-7">
									<div class="text-center">
										<div class="rest" data-bind="text: ttrack.currentHeadValue('In queue')"></div>
										<span style="width: 103%" data-bind="attr: {class: dash.summary2color(ttrack.currentHeadPercent('In queue')())}">
											<i data-bind="attr: {class: dash.summary2fa(ttrack.currentHeadPercent('In queue')())}"></i>
											<span data-bind="text: kendo.toString(ttrack.currentHeadPercent('In queue'), 'n2')"></span>%
										</span>
									</div>
								</div>
								<p class="footnote">Deal Number</p>
							</div>
						</div>
						<div class="col-md-3 panel-wrapper new-dashboard">
							<div class="panel-body panel">
								<h6>Under Process</h6>
								<div class="col-md-5">
									<img height="30px" style="margin-left: -11%;" class="pull-left" src="/static/img/aicon/rings.png">
								</div>
								<div class="col-md-7">
									<div class="text-center">
										<div class="rest" data-bind="text: ttrack.currentHeadValue('Under Process')"></div>
										<span style="width: 103%" data-bind="attr: {class: dash.summary2color(ttrack.currentHeadPercent('Under Process')())}">
											<i data-bind="attr: {class: dash.summary2fa(ttrack.currentHeadPercent('Under Process')()) }"></i>
											<span data-bind="text: ttrack.currentHeadPercent('Under Process')"></span>%
										</span>
									</div>
								</div>
								<p class="footnote">Deal Number</p>
							</div>
						</div>
						<div class="col-md-3 panel-wrapper new-dashboard">
							<div class="panel-body panel">
								<h6>Awaiting Action</h6>
								<div class="col-md-5">
									<img height="30px" style="margin-left: -11%;" class="pull-left" src="/static/img/aicon/hammer.png">
								</div>
								<div class="col-md-7">
									<div class="text-center">
										<div class="rest" data-bind="text: ttrack.currentHeadValue('Sent to Decision Committee')"></div>
										<span style="width: 103%" data-bind="attr: {class: dash.summary2color(ttrack.currentHeadPercent('Sent to Decision Committee')())}">
											<i data-bind="attr: {class: dash.summary2fa(ttrack.currentHeadPercent('Sent to Decision Committee')())}"></i>
											<span data-bind="text: ttrack.currentHeadPercent('Sent to Decision Committee')"></span>%
										</span>
									</div>
								</div>
								<p class="footnote">Deal Number</p>
							</div>
						</div>
						<div class="col-md-3 panel-wrapper new-dashboard">
							<div class="panel-body panel">
								<h6>On Hold</h6>
								<div class="col-md-5">
									<img height="33px" style="margin-left: -19%;" class="pull-left" src="/static/img/aicon/hand.png">
								</div>
								<div class="col-md-7">
									<div class="text-center">
										<div class="rest" data-bind="text: ttrack.currentHeadValue('On Hold')"></div>
										<span style="width: 103%" data-bind="attr: {class: dash.summary2color(ttrack.currentHeadPercent('On Hold')())}">
											<i data-bind="attr: {class: dash.summary2fa(ttrack.currentHeadPercent('On Hold')())}"></i>
											<span data-bind="text: ttrack.currentHeadPercent('On Hold')"></span>%
										</span>
									</div>
								</div>
								<p class="footnote">Deal Number</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 new-dashboard">
						<div class="panel ">
							<div class="panel-body panetime">
								<div class="col-md-8 vv" >
									<div class="form-group">
										<div class="col-md-12">
											<div class="col-md-2" style="width: 20%;">
												<label class="form-label">View Across</label>
											</div>
											<div class="col-md-3">
												<select data-bind="kendoDropDownList: {data: ttrack.trackingList, value: ttrack.trackingValue, dataTextField: 'text', dataValueField: 'value'}" style="width: 100%;"></select>
											</div>
											<div class="col-md-2">
												<div type="button" class="btn btn-sm btn-flat btn-primary" data-bind="click: ttrack.getData"><span class="fa fa-refresh"></span> Search</div>
											</div>
										</div>

									</div>
								</div>
								<div class="col-md-12 vv">
									<div id="timeTrackerChart"></div>
								</div>
								<div class="col-md-12 hidden-chart" style="display: none;">
									<center data-bind="visible: ttrack.isRegion() == true"><div id="chartRegion"></div></center>
									<center><h5 data-bind="text: ttrack.modalGridTittle"></h5></center>
									<div id="dealStatus"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
