	{{template "dataaccess.html" .}}
	<script>document.write('<script src="/static/core/dashboard-dashfilter.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
	<script>document.write('<script src="/static/core/dashboard.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
	<script>document.write('<script src="/static/core/turnaroundtime.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>
	<!-- <script type="text/javascript" src="/static/material/dist/ripple.min.js"></script> -->
	{{template "leftfilter.html"}}
	{{template "compare_contrast.html"}}
<style type="text/css">
	.top{
		margin-top: 50px;
	}
	.left{
		text-align: left;
	}
	.ket{
		margin-bottom: -5px;
    	margin-left: -14px;
	}
	#square1, #square2, #square3, #square4{
		width: 7px;
		height: 7px;
		display: inline-block;
	}
	#square1{
		background-color: #ff2929;
	}
	#square2{
		background-color: #ffc000;
	}
	#square3{
		background-color: #92d050;
	}
	#square4{
		background-color: #2e75b6;
	}
	#butt{
		/*padding-left: 24%;*/
		padding-top: 20px;
	}
	.dl{	
		display:block;
		background-color: white;
		margin-top: 0px !important;
	}
	.wl{
		padding-left: 12px !important;
    	padding-right: 12px !important;
	}
	#ti{
		font-family: Arial,Helvetica,sans-serif;
	    font-size: 10px;
	    font-weight: bold !important;
	    margin-top: 12px;
    	margin-left: 17px;
	}
	.avg{
		text-align: center;
	    font-size: 42px;
	    font-weight: bolder !important;
	}

	.tat-title{
		text-align: left;
	}

	#conv, #dec, #proc, #acc{
		text-align: center;
    	margin-top: -11px;
	}
	.material-ripple>.panel {
		position: relative;
		display: block;
	}
	.con{
		margin-top: 20px !important;
		background-color: white;
		margin-bottom: -10px !important;
	}
	#tit{
		font-size: 12px;
		font-family: Arial,Helvetica,Sans-Serif;
		font-weight: bold !important;
	}
	.aol{
		background-color: white;
		margin-top: -1% !important;
	}
	.aul{
		margin-top:-0.5% !important;
		background-color: #fff;
	}
	#tabl{
		width: 95%;
    	margin-left: 4%;
	}
	.turnaroundtime h4 {
		font-size: 16px;
		text-align: left;
		font-weight: bold;
		font-family: Cambria, Helvetica, Arial;
	}
	.line{
        /*margin-top: 6px;
        margin-bottom: 20px;*/
        border: 1px solid #4472c4;
        border-top: 0px solid #eee;
        margin-top: -3px;
    }
    .acc-down{
		float: right;
		font-size: 14px;
		color:grey;
		-ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
	}
	.acc-up{
		font-size: 14px;
		color:grey;
		-moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph;
	}
	.scatter-title{
		margin-top: 20px;
	}
	#goal-container {
        /*background: transparent url("/static/img/gauge-container.png") no-repeat 50% 50%;*/
        width: 150px;
        height: 150px;
        text-align: center;
        margin: 0 auto 30px auto;
		margin-top: 10px;
    }
    #tatgoals {
        width: 120px;
        height: 120px;
        margin: 0 auto 0;
    }
    .lay{
    	padding-left: 25px;
    	padding-right: 25px;
    }
    /*#goal-container .k-slider {
                    margin-top: -11px;
                    width: 200px;
                }*/
    .tl{
    	margin-top: -3%;
    }

	h5 {
		margin-top: 0px;
	}

	.new-dashboard h6 {
		margin-bottom: 0px;
	}

	.new-dashboard.minichart .panel {
		padding: 0px;
		padding-bottom: 10px;
	}

	.trend .legend #square1{
		background-color: #2e75b6;
		margin-left: 8px;
	}
	.trend .legend #square2{
		background-color: #00b0f0;
		margin-left: 8px;
	}
	.trend .legend #square3{
		background-color: #ffc000;
		margin-left: 8px;
	}
	.trend .legend #square4{
		background-color: #678900;
		margin-left: 8px;
	}

	.new-dashboard .footnote {
		font-size: 11px;
		padding-top: 5px;
	}

	.legend {
		font-size: 11px;
		font-family: Arial,Helvetica,Sans-Serif;
	}

	h6 {
		font-weight: normal !important;
	}

	.aul h5 {
		font-size: 12px;
		font-family: Arial,Helvetica,Sans-Serif;
        color: #58666e;
	}

	.aul {
		padding-top: 0px;
	}

	.chart-options {
		position: absolute;
		float: right;
		z-index: 1;
		right: 50px;
		top: 3px;
		font-size: 10px;
		margin-top: 0px;
	}

	.chart-options0 {
		float: left;
		top: 3px;
		right: 25px;
		font-size: 10px;
		margin-top: 8px;
		padding-left: 2%;
	}

	.chart-options label {
		margin-top: 4px;
		margin-right: 5px;
	}

	.chart-options0 .k-widget.k-dropdown {
	    width: 128px;
	}

	.chart-options .k-widget.k-dropdown{
		width: 100px;
	}

	.chart-options .k-widget.k-dropdown .k-dropdown-wrap, .chart-options0 .k-widget.k-dropdown .k-dropdown-wrap {
		height: 16px !important;
	}

	.chart-options .k-widget.k-dropdown .k-dropdown-wrap .k-input, .chart-options0 .k-widget.k-dropdown .k-dropdown-wrap .k-input {
		font-size: 9px;
		padding-top: 1px;
	}

	.chart-options .k-widget.k-dropdown .k-dropdown-wrap .k-icon, .chart-options0 .k-widget.k-dropdown .k-dropdown-wrap .k-icon {
	    height: 20px;
	}

    #onselect{
    	width: 150px;
    }
</style>
 <div id="infilter" class="col-md-2" style="display: none">
    <div class="filterfix">
        <div class="panel panel-body side onbar">
           {{template "filter_menu.html"}}
        </div>
    </div>
</div>
<div id="incontainer" class="col-md-12 setpad">
    <div class="col-md-12 top turnaroundtime">
		<div class="col-md-12">
			<h5>Quick Info: <span data-bind="text: dash.PeriodRangeText"></span></h5>
			<hr class="line">
			<!-- <div class="col-sm-2"></div> -->
			<div class="col-sm-12 new-dashboard" style="width: 120%;margin-left: -0.5%;margin-top: -32px;">
				<div id="butt">
					<div class="col-sm-2 width	l">
						<div class="panel panel-body dl" id="target" style="height: 185px">
							<h6 class="tat-title tl">TAT Target</h6>
							<!-- <center> -->
								<div id="goal-container">
							<div id="tatgoals"></div>
							<div>Days</div>
								</div>
							<!-- </center> -->
						</div>
					</div>
					<div class="col-sm-2 wl ">
						<div class="panel panel-body dl material-ripple" style="height: 185px" id="conv">
							<h6 class="tat-title tl">Underwriting TAT (Avg.)</h6>
							<div class="col-sm-12">
								<!-- <center> -->
								<div class="avg" data-bind="text: turn.avgConversion"></div>
								<div id="conv" class="conve">
			                    <div class="col-md-4"></div>
		                            <table class="col-md-4">
		                            	<tr>
		                            		<td><span  style="font-size: 18px;" id="conve" class="fa fa-caret-up"></span></td>
		                            		<td><span style="font-size: 15px;" data-bind="text: turn.setInfo(turn.avgConversionPercent(), 0, 'conv')"></span></td>
		                            		<td style="text-align: left;"><small style="font-size: 12px;" data-bind="text: turn.setInfo(turn.avgConversionPercent(), 1, 'conv')"></small></td>
		                            	</tr>
		                            </table>
		                        </div> 
		                        <div class="col-md-4"></div>     
							</div>
							</div>
							<div id="conversion"></div>
							<div class="col-sm-12 footnote" style="margin-top: -1px; text-align: left !important;">
								<!-- <div class="col-sm-6"> -->
									<p>Deals Underwriten
									<span style="margin-left: 5px" data-bind="text: turn.dealConversion"></span> <span id="convers" class="fa fa-caret-up"></span></p>
								<!-- </div> -->
							</div>
						</div>
					</div>
					<div class="col-sm-2 wl">
						<div class="panel panel-body dl material-ripple" style="height: 185px" id="dec">
							<h6 class="tat-title tl">Decision TAT (Avg.)</h6>
							
							<div class="col-sm-12"><div class="avg" data-bind="text: turn.avgDecision"></div>
								<div class="avg" data-bind="text: turn.avgDecision"></div>
								<center id="dec" class="conve">
		                            <div class="col-md-4"></div>
		                            <table class="col-md-4">
		                            	<tr>
		                            		<td><span  style="font-size: 18px;" id="conve" class="fa fa-caret-up"></span></td>
		                            		<td><span style="font-size: 15px;" data-bind="text: turn.setInfo(turn.avgDecisionPercent(), 0, 'dec')"></span></td>
		                            		<td style="text-align: left;"><small style="font-size: 12px;" data-bind="text: turn.setInfo(turn.avgDecisionPercent(), 1, 'dec')"></small></td>
		                            	</tr>
		                            </table> 
		                             <div class="col-md-4"></div>     
								</center>
							</div>
							<div id="decision" style="min-height: 75px"></div>
							<div class="col-sm-12 footnote" style="margin-top: -1px; text-align: left !important;">
								<!-- <div class="col-sm-6"> -->
									<p>Deals Decisioned
									<span style="margin-left: 5px" data-bind="text: turn.dealDecision"></span> <span id="dealdeci" class="fa fa-caret-up"></span></p>
								<!-- </div> -->
							</div>
						</div>
					</div>
					<div class="col-sm-2 wl">
						<div class="panel panel-body dl material-ripple" style="height: 185px" id="process">
							<h6 class="tat-title tl">Analysis TAT (Avg.)</h6>
							<div class="avg" data-bind="text: turn.avgProcessing"></div>
							<!-- <div id="proc"><span id="proce" class="fa fa-caret-up"></span> <span data-bind="text: kendo.toString(turn.avgProcessingPercent(), 'n2')"></span>%</div> -->
							<div class="col-sm-12">
								<center id="proc" class="conve">
		                            <div class="col-md-4"></div>
		                            <table class="col-md-4">
		                            	<tr>
		                            		<td><span  style="font-size: 18px;" id="conve" class="fa fa-caret-up"></span></td>
		                            		<td><span style="font-size: 15px;" data-bind="text: turn.setInfo(turn.avgProcessingPercent(), 0, 'proc')"></span></td>
		                            		<td style="text-align: left;"><small style="font-size: 12px;" data-bind="text: turn.setInfo(turn.avgProcessingPercent(), 1, 'proc')"></small></td>
		                            	</tr>
		                            </table> 
		                             <div class="col-md-4"></div>     
								</center>
							</div>
							<div id="processing" style="min-height: 75px"></div>
							<div class="col-sm-12 footnote" style="margin-top: -1px;">
								<!-- <div class="col-sm-6"> -->
									<p>Deals Analyzed
									<span style="margin-left: 5px" data-bind="text: turn.dealProcessing"></span> <span id="proces" class="fa fa-caret-up"></span></p>
								<!-- </div> -->
							</div>
						</div>
					</div>
					<div class="col-sm-2 wl">
						<div class="panel panel-body dl material-ripple" style="height: 185px" id="acep">
							<h6 class="tat-title tl">Acceptance TAT (Avg.)</h6>
							<div class="avg" data-bind="text: turn.avgAcceptance"></div>
							<!-- <div id="acc"><span id="ace" class="fa fa-caret-up"></span> <span data-bind="text: kendo.toString(turn.avgAcceptancePercent(), 'n2')"></span>%</div> -->
							<div class="col-sm-12">
								<center id="acc" class="conve">
		                            <div class="col-md-4"></div>
		                            <table class="col-md-4">
		                            	<tr>
		                            		<td><span  style="font-size: 18px;" id="conve" class="fa fa-caret-up"></span></td>
		                            		<td><span style="font-size: 15px;" data-bind="text: turn.setInfo(turn.avgProcessingPercent(), 0, 'acc')"></span></td>
		                            		<td style="text-align: left;"><span style="font-size: 12px;" data-bind="text: turn.setInfo(turn.avgProcessingPercent(), 1, 'acc')"></span></td>
		                            	</tr>
		                            </table> 
		                             <div class="col-md-4"></div>     
								</center>
							</div>
							<div id="acceptance" style="min-height: 75px"></div>
							<div class="col-sm-12 footnote" style="margin-top: -1px;">
								<!-- <div class="col-sm-6"> -->
									<p>Deal Accepted
									<span style="margin-left: 5px" data-bind="text: turn.dealAcceptance"></span> <span id="dealacc" class="fa fa-caret-up"></span></p>
								<!-- </div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-2"></div> -->
			<div class="col-md-12">
				<h5>Trend: <span data-bind="text: dash.PeriodRangeText"></span> <!-- span style="float: right" class="ic acc-down fa fa-external-link-square"></span--></h5>
				<hr class="line">
			</div>
			<div class="col-md-12 new-dashboard show minichart" style="margin-top: -0.5%">
				<div class="col-md-4">
					<div class="panel panel-body aol trend">
						<div class="compare-contrast">
							<button class="btn btn-flat btn-xs btn-primary tooltipster" title='Compare & Contrast' data-bind="click: turn.openCompareTrend">
								<i class="fa fa-search"></i>
							</button>
						</div>
						<div class="chart-options0">
							<table>
								<tr>
									<td>
										<select id="onselect" data-bind="kendoDropDownList: {data: turn.dataMenu, value: turn.dataMenuValue, dataTextField: 'text', dataValueField: 'value', optionLabel:'View Quick Info'}"></select>
									</td>
								</tr>
							</table>
						</div>
						<div class="chart-options">
							<table> 
								<tr>
									<td>
										<label>View Across</label>
									</td>
									<td>
										<select data-bind="kendoDropDownList: {data: turn.dataPeriod, value: turn.ValueDataPeriod, dataTextField: 'text', dataValueField: 'value'}"></select>
									</td>
								</tr>
							</table>
						</div>
						<div style="clear: both"></div>
						<div id="chartContainer" style="min-height: 224px"></div>
						<div id="chartContainer2" style="display: none"></div>
						<center>
							<div class="col-md-12 legend" style="display: inline;">
								<span id="square1"></span> Avg Days
								<span id="square2"></span> Median
								<span id="square3"></span> Deal Count
								<span id="square4"></span> Target TAT
							</div>
						</center>
					</div>
				</div>
				<div class="col-md-4 show new-dashboard">
					<div class="panel panel-body aol">
						<div class="compare-contrast">
							<button class="btn btn-flat btn-xs btn-primary tooltipster" title='Compare & Contrast' data-bind="click: comp.Open.bind(comp, turn.CreateChartMoving)">
								<i class="fa fa-search"></i>
							</button>
						</div>
						<div id="movingtat" style="min-height: 250px"></div>
						<center>
							<div class="col-md-12 legend" style="display: inline;">
								<span id="square1"></span> 15 + Days &nbsp
								<span id="square2"></span> 11 - 15 Days &nbsp
								<span id="square3"></span> 6 - 10 Days &nbsp
								<span id="square4"></span> 0 - 5 Days &nbsp
							</div>
						</center>	
					</div>
				</div>
				<div class="col-md-4 show new-dashboard">
					<div class="panel panel-body aol">
						<div class="compare-contrast">
							<button class="btn btn-flat btn-xs btn-primary tooltipster" title='Compare & Contrast' data-bind="click: comp.Open.bind(comp, turn.CreateChartHistory)">
								<i class="fa fa-search"></i>
							</button>
						</div>
						<div id="historytat" style="min-height: 250px"></div>
						<center>
							<div class="col-md-12 legend" style="display: inline;">
								<span id="square1"></span> 15 + Days &nbsp
								<span id="square2"></span> 11 - 15 Days &nbsp
								<span id="square3"></span> 6 - 10 Days &nbsp
								<span id="square4"></span> 0 - 5 Days &nbsp
							</div>
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<h5>Conversion TAT Vs. Deal Amount: <span data-bind="text: dash.PeriodRangeText"></span> <!--span style="float: right" class="ic acc-down fa fa-external-link-square"></span--></h5>
				<hr class="line">
			</div>
			<div class="col-md-12 new-dashboard">
				<div class="panel panel-body aul show">
					<div class="cater"></div>
					<table id="tabl">
						<tr>
							<td class="le legend" style="text-align: center;background-color: #0b8140;color:  #fff;width: 20%;">0 - 10 Days</td>
							<td class="le legend" style="text-align: center;background-color: #70ad47;color:  #fff;width: 20%;">11 - 20 Days</td>
							<td class="le legend" style="text-align: center;background-color: #ffc000;color:  #fff;width: 20%;">21 - 30 Days</td>
							<td class="le legend" style="text-align: center;background-color: #ed7d31;color:  #fff;width: 20%;">30 - 40 Days</td>
							<td class="le legend" style="text-align: center;background-color: #ff2929;color:  #fff;width: 20%;">40 + Days</td>
						</tr>
					</table>
					 <h5 class="scatter-title" data-bind="visible:turn.listscatter().length > 0" >Deal Movement Table </h5>
	                  <div id="griddb" style="border: none;" class="k-grid k-widget" data-bind="visible:turn.listscatter().length > 0" >
	                     <div class="k-grid-header">
	                        <div class="k-grid-header-wrap">
	                           <table role="grid" width="100%">
	                              <thead role="rowgroup">
	                                 <tr role="row" >
	                                    <th style="width:15%" scope="col" role="columnheader" class="k-header header-bgcolor">Deal No</th>
	                                    <th style="width:30%" scope="col" role="columnheader" class="k-header header-bgcolor">Customer Name</th>
	                                    <th style="width:15%" scope="col" role="columnheader" class="k-header header-bgcolor">CA</th>
	                                    <th style="width:15%" scope="col" role="columnheader" class="k-header header-bgcolor">RM</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Acceptance<br>TAT</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Processing<br>TAT</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Action<br>TAT</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Decision<br>TAT</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Conversion<br>TAT</th>
	                                        <th style="width:5%" scope="col" role="columnheader" class="k-header header-bgcolor"></th>
	                                 </tr>
	                              </thead>
	                              <tbody role="rowgroup" data-bind="foreach: turn.listscatter()">
	                                 <tr role="row">
	                                    <td role="gridcell">
	                                      <label data-bind="text: dealno"></label>
	                                    </td>
	                                    <td role="gridcell">
	                                      <label data-bind="text: custname"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: caname"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: rmname"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: Acceptance"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: Processing"></label>
	                                    </td>
	                                      <td role="gridcell">
	                                      <label data-bind="text: Action"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: Decision"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: Conversion"></label>
	                                    </td>
	                                    <td role="gridcell">
	                                      <button class="btn btn-flat btn-sm btn-danger noable" data-bind="click: turn.removescatterGrid($index())"><i class="fa fa-trash"></i></button>
	                                    </td>
	                                    
	                                 </tr>
	                              </tbody>
	                           </table>
	                     </div>
	                  </div>
	               </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div class="col-md-12 lay">
	<div class="col-md-12 top turnaroundtime">
		<div class="col-md-12">
			<h5>Quick Info : <span data-bind="text: turn.setTitle()"></span></h5>
			<hr class="line">
			<div class="col-sm-12 new-dashboard" style="width: 120%;margin-left: -0.5%;margin-top: -32px;">
				<div id="butt">
					<div class="col-sm-2 width	l">
						<div class="panel panel-body dl" id="target" style="height: 185px">
							<h6 class="tat-title tl">TAT Target</h6>
								<div id="goal-container">
							<div id="tatgoals"></div>
							<div>Days</div>
								</div>
						</div>
					</div>
					<div class="col-sm-2 wl ">
						<div class="panel panel-body dl material-ripple" style="height: 185px" id="conv">
							<h6 class="tat-title tl">Underwriting TAT (Avg.)</h6>
							<div class="avg" data-bind="text: turn.avgConversion"></div>
							<div id="conv"><span id="conve" class="fa fa-caret-up"></span> <span data-bind="text: kendo.toString(turn.avgConversionPercent(), 'n2')"></span>%</div>
							<div id="conversion"></div>
							<div class="col-sm-12 footnote" style="margin-top: -10px; text-align: left !important;">
									<p>Deal Count
									<span style="margin-left: 5px" data-bind="text: turn.dealConversion"></span> <span id="convers" class="fa fa-caret-up"></span></p>
								
							</div>
						</div>
					</div>
					<div class="col-sm-2 wl">
						<div class="panel panel-body dl material-ripple" style="height: 185px" id="dec">
							<h6 class="tat-title tl">Decision TAT (Avg.)</h6>
							<div class="avg" data-bind="text: turn.avgDecision"></div>
							<div id="dec"><span id="deci" class="fa fa-caret-up"></span> <span data-bind="text: kendo.toString(turn.avgDecisionPercent(), 'n2')"></span>%</div>
							<div id="decision"></div>
							<div class="col-sm-12 footnote" style="margin-top: -10px; text-align: left !important;">
									<p>Deal Count
									<span style="margin-left: 5px" data-bind="text: turn.dealDecision"></span> <span id="dealdeci" class="fa fa-caret-up"></span></p>
							</div>
						</div>
					</div>
					<div class="col-sm-2 wl">
						<div class="panel panel-body dl material-ripple" style="height: 185px" id="process">
							<h6 class="tat-title tl">Analysis TAT (Avg.)</h6>
							<div class="avg" data-bind="text: turn.avgProcessing"></div>
							<div id="proc"><span id="proce" class="fa fa-caret-up"></span> <span data-bind="text: kendo.toString(turn.avgProcessingPercent(), 'n2')"></span>%</div>
							<div id="processing"></div>
							<div class="col-sm-12 footnote" style="margin-top: -10px;">
									<p>Deal Count
									<span style="margin-left: 5px" data-bind="text: turn.dealProcessing"></span> <span id="proces" class="fa fa-caret-up"></span></p>
							</div>
						</div>
					</div>
					<div class="col-sm-2 wl">
						<div class="panel panel-body dl material-ripple" style="height: 185px" id="acep">
							<h6 class="tat-title tl">Acceptance TAT (Avg.)</h6>
							<div class="avg" data-bind="text: turn.avgAcceptance"></div>
							<div id="acc"><span id="ace" class="fa fa-caret-up"></span> <span data-bind="text: kendo.toString(turn.avgAcceptancePercent(), 'n2')"></span>%</div>
							<div id="acceptance"></div>
							<div class="col-sm-12 footnote" style="margin-top: -10px;">
									<p>Deal Count
									<span style="margin-left: 5px" data-bind="text: turn.dealAcceptance"></span> <span id="dealacc" class="fa fa-caret-up"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<h5>Trend : <span data-bind="text: turn.setTitle()"></span></h5>
				<hr class="line">
			</div>
			<div class="col-md-12 new-dashboard show minichart" style="margin-top: -0.5%">
				<div class="col-md-4">
					<div class="panel panel-body aol trend">
						<div class="chart-options0">
							<table>
								<tr>
									<td>
										<select style="width: 150px" data-bind="kendoDropDownList: {data: turn.dataMenu, value: turn.dataMenuValue, dataTextField: 'text', dataValueField: 'value', optionLabel:'View Quick Info'}"></select>
									</td>
								</tr>
							</table>
						</div>
						<div class="chart-options">
							<table> 
								<tr>
									<td>
										<label>View Across</label>
									</td>
									<td>
										<select data-bind="kendoDropDownList: {data: turn.dataPeriod, value: turn.ValueDataPeriod, dataTextField: 'text', dataValueField: 'value', optionLabel:'View Accross'}"></select>
									</td>
								</tr>
							</table>
						</div>
						<div style="clear: both"></div>
						<div id="chartContainer"></div>
						<div id="chartContainer2" style="display: none"></div>
						<center>
							<div class="col-md-12 legend" style="display: inline;">
								<span id="square1"></span> Avg Days
								<span id="square2"></span> Median
								<span id="square3"></span> Deal Count
								<span id="square4"></span> Target TAT
							</div>
						</center>
					</div>
				</div>
				<div class="col-md-4 show new-dashboard">
					<div class="panel panel-body aol">
						<div class="compare-contrast">
							<button class="btn btn-flat btn-xs btn-primary" data-bind="click: comp.Open.bind(comp, turn.CreateChartMoving)">
								<i class="fa fa-columns"></i>
							</button>
						</div>
						<div id="movingtat"></div>
						<center>
							<div class="col-md-12 legend" style="display: inline;">
								<span id="square1"></span> 15 + Days &nbsp
								<span id="square2"></span> 11 - 15 Days &nbsp
								<span id="square3"></span> 6 - 10 Days &nbsp
								<span id="square4"></span> 0 - 5 Days &nbsp
							</div>
						</center>	
					</div>
				</div>
				<div class="col-md-4 show new-dashboard">
					<div class="panel panel-body aol">
						<div class="compare-contrast">
							<button class="btn btn-flat btn-xs btn-primary" data-bind="click: comp.Open.bind(comp, turn.CreateChartHistory)">
								<i class="fa fa-columns"></i>
							</button>
						</div>
						<div id="historytat"></div>
						<center>
							<div class="col-md-12 legend" style="display: inline;">
								<span id="square1"></span> 15 + Days &nbsp
								<span id="square2"></span> 11 - 15 Days &nbsp
								<span id="square3"></span> 6 - 10 Days &nbsp
								<span id="square4"></span> 0 - 5 Days &nbsp
							</div>
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<h5>Conversion TAT & Deal Amount : <span data-bind="text: turn.setTitle()"></span></h5>
				<hr class="line">
			</div>
			<div class="col-md-12 new-dashboard">
				<div class="panel panel-body aul show">
					<div class="cater"></div>
					<table id="tabl">
						<tr>
							<td class="le legend" style="text-align: center;background-color: #0b8140;color:  #fff;width: 20%;">0 - 10 Days</td>
							<td class="le legend" style="text-align: center;background-color: #70ad47;color:  #fff;width: 20%;">11 - 20 Days</td>
							<td class="le legend" style="text-align: center;background-color: #ffc000;color:  #fff;width: 20%;">21 - 30 Days</td>
							<td class="le legend" style="text-align: center;background-color: #ed7d31;color:  #fff;width: 20%;">30 - 40 Days</td>
							<td class="le legend" style="text-align: center;background-color: #ff2929;color:  #fff;width: 20%;">40 + Days</td>
						</tr>
					</table>
					 <h5 class="scatter-title" data-bind="visible:turn.listscatter().length > 0" >Deal Movement Table </h5>
	                  <div id="griddb" style="border: none;" class="k-grid k-widget" data-bind="visible:turn.listscatter().length > 0" >
	                     <div class="k-grid-header">
	                        <div class="k-grid-header-wrap">
	                           <table role="grid" width="100%">
	                              <thead role="rowgroup">
	                                 <tr role="row" >
	                                    <th style="width:15%" scope="col" role="columnheader" class="k-header header-bgcolor">Deal No</th>
	                                    <th style="width:30%" scope="col" role="columnheader" class="k-header header-bgcolor">Customer Name</th>
	                                    <th style="width:15%" scope="col" role="columnheader" class="k-header header-bgcolor">CA</th>
	                                    <th style="width:15%" scope="col" role="columnheader" class="k-header header-bgcolor">RM</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Acceptance<br>TAT</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Processing<br>TAT</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Action<br>TAT</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Decision<br>TAT</th>
	                                    <th style="width:10%" scope="col" role="columnheader" class="k-header header-bgcolor">Conversion<br>TAT</th>
	                                        <th style="width:5%" scope="col" role="columnheader" class="k-header header-bgcolor"></th>
	                                 </tr>
	                              </thead>
	                              <tbody role="rowgroup" data-bind="foreach: turn.listscatter()">
	                                 <tr role="row">
	                                    <td role="gridcell">
	                                      <label data-bind="text: dealno"></label>
	                                    </td>
	                                    <td role="gridcell">
	                                      <label data-bind="text: custname"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: caname"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: rmname"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: Acceptance"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: Processing"></label>
	                                    </td>
	                                      <td role="gridcell">
	                                      <label data-bind="text: Action"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: Decision"></label>
	                                    </td>
	                                     <td role="gridcell">
	                                      <label data-bind="text: Conversion"></label>
	                                    </td>
	                                    <td role="gridcell">
	                                      <button class="btn btn-flat btn-sm btn-danger noable" data-bind="click: turn.removescatterGrid($index())"><i class="fa fa-trash"></i></button>
	                                    </td>
	                                    
	                                 </tr>
	                              </tbody>
	                           </table>
	                     </div>
	                  </div>
	               </div>
				</div>
			</div>
		</div>
	</div>
</div> -->
