{{template "dataaccess.html" .}}

<script type="text/javascript">
	mincibil = ko.observable(0);
</script>

<script>document.write('<script src="/static/core/mastersuplier.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

<style type="text/css">
	.panel-body{
		margin-top: 6px !important;
	}
</style>

<div class="col-md-12 col-sm-12 ez panel-content" style="margin-top: 50px;">
	<div class="panel" data-bind="with: ms">
		<div class="panel-body">
			<div class="col-md-2"></div>
			<div class="col-md-7">
				<button class="btn btn-sm btn-flat btn-primary" data-bind="click: saveMasterSuplier, visible: model.IsGranted('edit') || model.IsGranted('create')">Save</button>
				<button class="btn btn-sm btn-flat btn-success" data-bind="click: addMasterSuplier, visible: model.IsGranted('create')">Add</button>
				<div id="suplier"></div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>	
</div>