<script type="text/javascript">
    model.PageTopMenu({{.TopMenu}});
    model.PageId({{.Menuname}});
    model.BreadCrumbs.push(new BreadCrumb({{.TopMenu}}, {{.TopMenu}}, "", "", ""));
    model.BreadCrumbs.push(new BreadCrumb({{.Menuname}}, {{.Menuname}}, "#", "active", ""));
    model.User= ko.observable({{.Username}});
    model.Rolename= ko.observable({{.Rolename}})
    model.Fullname = ko.observable({{.Fullname}});
    model.Grant = ko.observable({{.Grant}});
    model.CustomerList = ko.observable({{.CustomerList}});

    model.IsGranted = function(grant) {
        return _.get(model.Grant(), grant, false)
    }

    model.AnyGranted = function() {
        for(var i = 0; i < arguments.length; i++) {
            if (this.IsGranted(arguments[i]))
                return true
        }

        return false
    }
</script>