<style type="text/css">
  .cont{
    width: 107%;
    margin-left: 0%;
  }

  #onfg{
    width: 119%;
  }
  .sidebar-filter .toggle{
    cursor: pointer;
  }

  .sidebar-filter .toggle:hover{
    color:#eb8131 !important;
  }

  .sidebar-filter .calendar-label {
    position: absolute;
    z-index: 10;
    color: rgb(70, 70, 70);
    text-align: center;
    width: 84%;
    margin-top: 6px;
  }

  .sidebar-filter .k-widget.k-datepicker .k-picker-wrap .k-input {
    background: rgb(226, 226, 226);
    margin-left: -20px !important;
    text-align: center;
    visibility: hidden;
  }

  .sidebar-filter .k-widget.k-datepicker .k-picker-wrap .k-select {
    border: none;
    width: 20px;
    margin-left: 10px;
    z-index: 15;
  }

  .sidebar-filter .k-widget.k-datepicker .k-picker-wrap .k-select .k-icon {
    margin-left: -5px;
  }

  .sidebar-filter .sidebar-widget {
    margin-top: 10px;
  }

  .onbar.k-widget {
    margin-left: 0px;
  }

  .filterfix {
    position: fixed;
    width: 16vw;
    top: 45px;
    z-index: 1;
  }

  .onbar{
    margin-left: -6%;
    background-color: #202935;
    width: 116%;
    margin-bottom: -8%;
    overflow-y: scroll;
    overflow-x: hidden !important;
    transition: 0.5s;
    font-family:arial;
    padding-top: 0px;
 }

 .onli{
  margin-left: -24%;
 }
 .cnt{
  margin-left: 1%;
  color: #fff;
 }

 .onbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .onbar::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
  }

  .onbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #acacac;
  }

  .fortitle{
    margin-left: 1%;
    width: 107%;
  }

  #all{
    margin-left: -12px !important;
    cursor: pointer;
    color: #eb8131;
  }

  #reset{
    cursor: pointer;
    color: #eb8131;
    float: right;
    margin-right: -35% !important;
  }

  .fa.pull-right{
    margin-top: 3%;
  }
  @media only screen and (min-width: 1025px) and (max-width: 1500px){
    .cont{
      width: 116%;
      margin-left: -5%;
    }
    #onfg{
      width: 116%;
    }
    .fortitle {
      margin-left: -5%;
      width: 116%;
    }

    #all{
      margin-left: -17px !important;
      cursor: pointer;
      color: #eb8131;
    }

    #reset{
      cursor: pointer;
      color: #eb8131;
      float: right;
      margin-right: -32% !important;
    }
  }

   @media only screen and (min-width: 1700px) and (max-width: 2000px){
    .cont{
      width: 100%;
      margin-left: 5%;
    }
    #onfg{
      width: 116%;
    }
    .fortitle {
      margin-left: 6%;
      width: 100%;
    }

    #all{
      margin-left: 5px !important;
      cursor: pointer;
      color: #eb8131;
    }

    #reset{
      cursor: pointer;
      color: #eb8131;
      float: right;
      margin-right: -36.8% !important;
    }
  }

  .sidebar-filter .filter-close {
    margin-top: 10px;
    cursor: pointer;
  }

  .sidebar-filter .filter-close:hover{
    color: red !important;
  }
</style>
<div class="col-md-12 sidebar-filter">
<ul class="onli">
    <!-- <li class="lilabel">Customer ID | Name</li>
    <li><select name="page"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Deal Number</li>
    <li><select name="page" id="role"  data-bind="kendoDropDownList: {data:filter().DealNumberSearchList, value:filter().DealNumberSearchVal , optionLabel: 'Select One' , filter:'contains'}"></select></li>
     <li class="lilabel">Relationship Manager</li>
    <li><select name="page"  data-bind="kendoDropDownList: { dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Location</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Branch</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Customer Location</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Turnover</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Time Period</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li> -->
    <li>
      <div class="col-md-12" style="margin-top: 10px">
        <span class="col-md-6" id="all" style="margin-left: -16px;cursor:pointer;color:#eb8131;"><h5>Show All</h5></span>
        <span class="col-md-6" id="reset" style="cursor:pointer;color:#eb8131;float: right;margin-right: -14px;" data-bind="click: dash.ResetFilter"><h5>Reset</h5></span>
      </div>
    </li>
    <li  data-bind="visible: dash.TimePeriodVisible">
      <div class="panel show" style="background-color: #202935;">
        <div class="col-md-12 cont" style="margin-bottom: 6%;">
          <div class="form-group fg" data-bind="visible: dash.TimePeriodVisible" id="onfg">
            <label class="cnt">Time Period</label>
            <div>
              <select name="page" id="timeperiodFilter" style="width: 84%;" data-bind="
                kendoDropDownList: {
                  data: dash.TimePeriodDS,
                  value: dash.TimePeriodVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
              <div data-bind="visible: dash.TimePeriodVal() != '' && dash.TimePeriodVal() != '10day'" class="sidebar-widget">
                <span class="calendar-label" data-bind="text: dash.TimePeriodCalendarValFormat"></span>
                <input data-bind="
                  kendoDatePicker: {
                    value: dash.TimePeriodCalendarVal,
                    depth: dash.TimePeriodCalendarScale,
                    start: dash.TimePeriodCalendarScale
                  }" id="timeperiodCalendar" style="width: 84%">
              </div>
              <div data-bind="visible: dash.TimePeriodVal() == 'fromtill'" class="sidebar-widget">
                <span class="calendar-label" data-bind="text: dash.TimePeriodCalendar2ValFormat"></span>
                <input data-bind="
                  kendoDatePicker: {
                    value: dash.TimePeriodCalendar2Val,
                    min: dash.TimePeriodCalendarVal,
                  }" id="timeperiodCalendar2" style="width: 84%">
              </div>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
          <br/>
        </div>
      </div>
    </li>
    <li data-bind="visible: (dash.RegionShowMe() || dash.BranchShowMe())">
      <div type="button" href="javascript:void(0)" class="fortitle toggle col-md-12"  style="background-color: #202935;color: #1586f0; margin-top: -35px;"><h5>Location Filters <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc0" style="background-color: #202935;color: white;">
        <div class="col-md-12 cont">
          <div class="form-group fg" data-bind="visible: dash.RegionVisible">
            <label class="cnt">Region</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl0 pull-right" aria-hidden="true" data-bind="click: dash.RegionShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoMultiSelect: {
                  data: dash.RegionDS,
                  value: dash.RegionVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
           <div class="form-group fg" data-bind="visible: dash.BranchVisible">
            <label class="cnt">Branch</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl0 pull-right" aria-hidden="true" data-bind="click: dash.BranchShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoMultiSelect: {
                  data:dash.BranchDS,
                  value:dash.BranchVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
    <li data-bind="visible: (dash.ProductShowMe() || dash.SchemeShowMe())">
      <div type="button" href="javascript:void(0)" class="fortitle toggle col-md-12"  style="background-color: #202935;color: #1586f0;margin-top: 0px;"><h5>Verticals <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc1" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12 cont">
          <div class="form-group fg" data-bind="visible: dash.ProductVisible">
            <label class="cnt">Product</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl1 pull-right" aria-hidden="true" data-bind="click: dash.ProductShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoMultiSelect: {
                  data: dash.ProductDS,
                  value: dash.ProductVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.SchemeVisible">
            <label class="cnt">Scheme</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl1 pull-right" aria-hidden="true" data-bind="click: dash.SchemeShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoMultiSelect: {
                  data: dash.SchemeDS,
                  value: dash.SchemeVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
    <li data-bind="visible: true">
      <div type="button" href="javascript:void(0)" class="fortitle toggle col-md-12" style="background-color: #202935;color: #1586f0;margin-top: 0px;"><h5>Client Filters <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc2" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12 cont">
          <div class="form-group fg" data-bind="visible: dash.ClientTypeVisible">
            <label class="cnt">Client Type</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl2 pull-right" aria-hidden="true" data-bind="click: dash.ClientTypeShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.ClientTypeDS,
                  value: dash.ClientTypeVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.ClientTurnoverVisible">
            <label class="cnt">Client Turnover</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl2 pull-right" aria-hidden="true" data-bind="click: dash.ClientTurnoverShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.ClientTurnoverDS,
                  value: dash.ClientTurnoverVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }"></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.CustomerVisible">
            <label class="cnt">Customer Name</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl2 pull-right" aria-hidden="true" data-bind="click: dash.CustomerShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.CustomerDS,
                  value: dash.CustomerVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.DealNoVisible">
            <label class="cnt">Deal Number</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl2 pull-right" aria-hidden="true" data-bind="click: dash.DealNoShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.DealNoDS,
                  value: dash.DealNoVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
     <li data-bind="visible: true">
      <div type="button" href="javascript:void(0)" class="fortitle toggle col-md-12" style="background-color: #202935;color: #1586f0;margin-top: 0px;"><h5>Deal Filters <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc2" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12 cont">
          <div class="form-group fg" data-bind="visible: dash.DealStatusVisible">
            <label class="cnt">Deal Status</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl3 pull-right" aria-hidden="true" data-bind="click: dash.DealStatusShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.DealStatusDS,
                  value: dash.DealStatusVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.IRVisible">
            <label class="cnt">Internal Rating</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl3 pull-right" aria-hidden="true" data-bind="click: dash.IRShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.IRDS,
                  value: dash.IRVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.CAVisible">
            <label class="cnt">CA &nbsp;</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl3 pull-right" aria-hidden="true" data-bind="click: dash.CAShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.CADS,
                  value: dash.CAVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
              </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.RMVisible">
            <label class="cnt">RM &nbsp;</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl3 pull-right" aria-hidden="true" data-bind="click: dash.RMShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.RMDS,
                  value: dash.RMVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
              </div>
          </div>
          <div class="form-group fg" data-bind="visible: false && dash.LoanValueTypeShowMe()">
            <label class="cnt">Loan Value Type</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl3 pull-right" aria-hidden="true" data-bind="click: dash.LoanValueTypeShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.LoanValueTypeDS,
                  value: dash.LoanValueTypeVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
              </div>
          </div>
          <div class="form-group fg" data-bind="visible: false && dash.RangeShowMe()">
            <label class="cnt">Range</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times pull-right" aria-hidden="true" data-bind="click: dash.RangeShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.RangeDS,
                  value: dash.StatusVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
<li data-bind="visible: true">
      <div type="button" href="javascript:void(0)" class="fortitle toggle col-md-12" style="background-color: #202935;color: #1586f0;margin-top: 0px;"><h5>Top Selection<span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc2" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12 cont">
          <div class="form-group fg" data-bind="visible: dash.TopNumberVisible">
            <label class="cnt">Number of Deals</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl3 pull-right" aria-hidden="true" data-bind="click: dash.DealStatusShowMe.bind(dash, false)"></span>
              <input style="width: 84%;"  data-bind="
                kendoAutoComplete: {
                  data: dash.TopNumberDS,
                  value: dash.TopNumberVal,
                  filter: 'startswith'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.TopFilterVisible()">
            <label class="cnt">Sort By</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl filter-close cl3 pull-right" aria-hidden="true" data-bind="click: dash.DealStatusShowMe.bind(dash, false)"></span>
              <select style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.TopFilterDS,
                  value: dash.TopFilterVal,
                  dataValueField: 'value',
                  dataTextField: 'text'
                }" ></select>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
</ul>
</div>

<script type="text/javascript">
    function recalculateFilterMenu() {
        $("#sidebar-wrapper").hide()
        $("#sidebar-wrapper").width(0)
        var onheight = $(window).height() - $(".navbar-fixed-top").height() - $("#menubackup").height();
        console.log(onheight)
        $(".onbar").css("height", onheight)
        $(window).css("overflow-x", "hidden")
    }

    // hack to prevent width scrollbar
    // TODO: FIX THIS
    $(function () {
      $("html").css("overflow-x", "hidden")
    })

    // Handle for resize event
    $(window).resize(function(){
      recalculateFilterMenu();
    })
</script>
