<style type="text/css">
 .toggle{
  cursor: pointer;
 }
 .toggle:hover{
  color:#eb8131 !important;
 }
</style>
<div id="sidebar-wrapper">
<ul class="sidebar-nav">
    <!-- <li class="lilabel">Customer ID | Name</li>
    <li><select name="page" id="customer"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Deal Number</li>
    <li><select name="page" id="role"  data-bind="kendoDropDownList: {data:filter().DealNumberSearchList, value:filter().DealNumberSearchVal , optionLabel: 'Select One' , filter:'contains'}"></select></li>
     <li class="lilabel">Relationship Manager</li>
    <li><select name="page" id="customer"  data-bind="kendoDropDownList: { dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Location</li>
    <li><select name="page" id="customer"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Branch</li>
    <li><select name="page" id="customer"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Customer Location</li>
    <li><select name="page" id="customer"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Turnover</li>
    <li><select name="page" id="customer"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Time Period</li>
    <li><select name="page" id="customer"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li> -->
    <li>
      <div>
        <div id="all" style="cursor:pointer;color:#eb8131;"><h5>Show All</h5></div>
      </div>
    </li>
    <li>
      <div class="panel show col-md-12" style="background-color: #202935;">
         <div class="form-group">
          <label class="cnt">Time Period</label>
          <select name="page" id="customer" style="width: 84%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
        </div>
      </div>
    </li>
    <li>
      <div type="button" href="javascript:void(0)" class="toggle col-md-12"  style="background-color: #202935;color: #1586f0; margin-top: -15px;"><h5>Location Filters <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc0" style="background-color: #202935;color: white;">
        <div class="col-md-12">
          <div class="form-group">
            <label class="cnt">Region</label>
            <select name="page" id="customer" style="width: 84%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
          </div>
           <div class="form-group">
            <label class="cnt">Branch</label>
            <select name="page" id="customer" style="width: 84%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
    <li>
      <div type="button" href="javascript:void(0)" class="toggle col-md-12"  style="background-color: #202935;color: #1586f0;"><h5>Verticals <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc1" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12">
          <div class="form-group">
            <label class="cnt">Product</label>
            <select name="page" id="customer" style="width: 84%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
          </div>
          <div class="form-group">
            <label class="cnt">Scheme</label>
            <select name="page" id="customer" style="width: 84%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
    <li>
      <div type="button" href="javascript:void(0)" class="toggle col-md-12" style="background-color: #202935;color: #1586f0;"><h5>Client Filters <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc2" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12">
          <div class="form-group">
            <label class="cnt">Client Type</label>
            <select name="page" id="customer" style="width: 84%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
          </div>
          <div class="form-group">
            <label class="cnt">Client Turnover</label>
            <select name="page" id="customer" style="width: 84%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
          </div>
          <div class="form-group">
            <label class="cnt">Customer Name</label>
            <select name="page" id="customer" style="width: 84%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
          </div>
          <div class="form-group">
            <label class="cnt">Deal Number</label>
            <select name="page" id="customer" style="width: 84%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
    <!-- <li>
      <div type="button" href="javascript:void(0)" class="accordion col-md-12 active" style="background-color: #202935;color: #1586f0;"><h5>satu <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12">
          <div class="form-group">
            <label class="cnt">dicoba :</label>
            <select name="page" id="customer" style="width: 87%;"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select><span style="color: #1586f0;" class="fa fa-times" aria-hidden="true"></span>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li> -->
    <!-- <li>
      <div class="mgtop10">
          <button type="button" id="add" class="btn btn-sm btn-success side-reset"><span class="glyphicon glyphicon-repeat"></span> Reset</button>
           <button type="button" id="add" class="btn btn-sm btn-primary side-refresh "><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
      </div>
    </li> -->
</ul>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#sidebar-wrapper").hide()
        $("#sidebar-wrapper").width(0)
    })
</script>