<style type="text/css">
  .sidebar-nav .toggle{
    cursor: pointer;
  }

  .sidebar-nav .toggle:hover{
    color:#eb8131 !important;
  }

  .sidebar-nav .calendar-label {
    position: absolute;
    z-index: 10;
    color: rgb(70, 70, 70);
    text-align: center;
    margin-left: -20px;
    width: 84%;
    padding-right: 50px;
  }

  .sidebar-nav .k-widget.k-datepicker .k-picker-wrap .k-input {
    background: rgb(226, 226, 226);
    margin-left: -20px !important;
    text-align: center;
    visibility: hidden;
  }

  .sidebar-nav .k-widget.k-datepicker .k-picker-wrap .k-select {
    border: none;
    width: 20px;
    margin-left: 10px;
    z-index: 15;
  }

  .sidebar-nav .k-widget.k-datepicker .k-picker-wrap .k-select .k-icon {
    margin-left: -30px;
  }

  .sidebar-nav .fa-times{
    cursor: pointer;
  }

  .sidebar-nav .fa-times:hover{
    color: red !important;
  }

  .sidebar-nav .cnt, .sidebar-nav .fg{
    margin-bottom: -5px !important;
  }

 .sidebar-nav .fa-times {
    margin-left: 0px;
    margin-top: 10px;
 }

 .sidebar-nav .k-widget {
   margin-left: -20px;
 }
</style>
<div id="sidebar-wrapper">
<ul class="sidebar-nav">
    <!-- <li class="lilabel">Customer ID | Name</li>
    <li><select name="page"  data-bind="kendoDropDownList: {data:filter().CustomerSearchList, value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Deal Number</li>
    <li><select name="page" id="role"  data-bind="kendoDropDownList: {data:filter().DealNumberSearchList, value:filter().DealNumberSearchVal , optionLabel: 'Select One' , filter:'contains'}"></select></li>
     <li class="lilabel">Relationship Manager</li>
    <li><select name="page"  data-bind="kendoDropDownList: { dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Location</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Branch</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Customer Location</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Turnover</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li>
     <li class="lilabel">Time Period</li>
    <li><select name="page"  data-bind="kendoDropDownList: { value:filter().CustomerSearchVal, dataValueField: 'customer_id', dataTextField: 'customer_name', optionLabel: 'Select One', filter:'contains'}" ></select></li> -->
    <li>
      <div class="col-md-12">
        <span class="col-md-6" id="all" style="margin-left: -16px;cursor:pointer;color:#eb8131;"><h5>Show All</h5></span>
        <span class="col-md-6" id="reset" style="cursor:pointer;color:#eb8131;float: right;margin-right: -14px;" data-bind="click: dash.ResetFilter"><h5>Reset</h5></span>
      </div>
    </li>
    <li data-bind="visible: dash.TimePeriodShowMe">
      <div class="panel show" style="background-color: #202935;">
        <div class="col-md-12">
          <div class="form-group fg" data-bind="visible: dash.TimePeriodShowMe">
            <label class="cnt">Time Period</label>
            <div>
              <select name="page" id="timeperiodFilter" style="width: 84%;" data-bind="
                kendoDropDownList: {
                  data: dash.TimePeriodDS,
                  value: dash.TimePeriodVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
              <div data-bind="visible: dash.TimePeriodVal() != '' && dash.TimePeriodVal() != '10day'">
                <span class="calendar-label" data-bind="text: dash.TimePeriodCalendarValFormat"></span>
                <input data-bind="
                  kendoDatePicker: {
                    value: dash.TimePeriodCalendarVal,
                    depth: dash.TimePeriodCalendarScale,
                    start: dash.TimePeriodCalendarScale
                  }" id="timeperiodCalendar" style="width: 84%">
              </div>
              <div data-bind="visible: dash.TimePeriodVal() == 'fromtill'">
                <span class="calendar-label" data-bind="text: dash.TimePeriodCalendar2ValFormat"></span>
                <input data-bind="
                  kendoDatePicker: {
                    value: dash.TimePeriodCalendar2Val
                  }" id="timeperiodCalendar2" style="width: 84%">
              </div>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
    <li data-bind="visible: (dash.RegionShowMe() || dash.BranchShowMe())">
      <div type="button" href="javascript:void(0)" class="toggle col-md-12"  style="background-color: #202935;color: #1586f0; margin-top: -35px;"><h5>Location Filters <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc0" style="background-color: #202935;color: white;">
        <div class="col-md-12">
          <div class="form-group fg" data-bind="visible: dash.RegionShowMe">
            <label class="cnt">Region</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl0 pull-right" aria-hidden="true" data-bind="click: dash.RegionShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.RegionDS,
                  value: dash.RegionVal,
                  optionLabel: 'Select One',
                  dataValueField: 'value',
                  dataTextField: 'text',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
           <div class="form-group fg" data-bind="visible: dash.BranchShowMe">
            <label class="cnt">Branch</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl0 pull-right" aria-hidden="true" data-bind="click: dash.BranchShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data:dash.BranchDS,
                  value:dash.BranchVal,
                  optionLabel: 'Select One',
                  dataValueField: 'value',
                  dataTextField: 'text',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
    <li data-bind="visible: (dash.ProductShowMe() || dash.SchemeShowMe())">
      <div type="button" href="javascript:void(0)" class="toggle col-md-12"  style="background-color: #202935;color: #1586f0;margin-top: -10px;"><h5>Verticals <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc1" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12">
          <div class="form-group fg" data-bind="visible: dash.ProductShowMe">
            <label class="cnt">Product</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl1 pull-right" aria-hidden="true" data-bind="click: dash.ProductShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.ProductDS,
                  value: dash.ProductVal,
                  optionLabel: 'Select One',
                  dataValueField: 'value',
                  dataTextField: 'text',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.SchemeShowMe">
            <label class="cnt">Scheme</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl1 pull-right" aria-hidden="true" data-bind="click: dash.SchemeShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.SchemeDS,
                  value: dash.schemeVal,
                  optionLabel: 'Select One',
                  dataValueField: 'value',
                  dataTextField: 'text',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
    <li data-bind="visible: true">
      <div type="button" href="javascript:void(0)" class="toggle col-md-12" style="background-color: #202935;color: #1586f0;margin-top: -10px;"><h5>Client Filters <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc2" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12">
          <div class="form-group fg" data-bind="visible: dash.ClientTypeShowMe">
            <label class="cnt">Client Type</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl2 pull-right" aria-hidden="true" data-bind="click: dash.ClientTypeShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.ClientTypeDS,
                  value: dash.ClientTypeVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.ClientTurnoverShowMe">
            <label class="cnt">Client Turnover</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl2 pull-right" aria-hidden="true" data-bind="click: dash.ClientTurnoverShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.ClientTurnoverDS,
                  value: dash.ClientTurnoverVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }"></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.CustomerShowMe">
            <label class="cnt">Customer Name</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl2 pull-right" aria-hidden="true" data-bind="click: dash.CustomerShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.CustomerDS,
                  value: dash.CustomerVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.DealNoShowMe">
            <label class="cnt">Deal Number</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl2 pull-right" aria-hidden="true" data-bind="click: dash.DealNoShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.DealNoDS,
                  value: dash.DealNoVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
     <li data-bind="visible: true">
      <div type="button" href="javascript:void(0)" class="toggle col-md-12" style="background-color: #202935;color: #1586f0;margin-top: -10px;"><h5>Deal Filters <span style="float: right" class="ic fa fa-chevron-down"></span></h5></div>
      <div class="panel show" id="acc2" style="display: block;background-color: #202935;color: white;">
        <div class="col-md-12">
          <div class="form-group fg" data-bind="visible: dash.IRShowMe">
            <label class="cnt">Internal Rating</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl3 pull-right" aria-hidden="true" data-bind="click: dash.IRShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.IRDS,
                  value: dash.IRVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.StatusShowMe">
            <label class="cnt">Status</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl3 pull-right" aria-hidden="true" data-bind="click: dash.StatusShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.StatusDS,
                  value: dash.StatusVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.CAShowMe">
            <label class="cnt">CA &nbsp;</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl3 pull-right" aria-hidden="true" data-bind="click: dash.CAShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.CADS,
                  value: dash.CAVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
              </div>
          </div>
          <div class="form-group fg" data-bind="visible: dash.RMShowMe">
            <label class="cnt">RM &nbsp;</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl3 pull-right" aria-hidden="true" data-bind="click: dash.RMShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.RMDS,
                  value: dash.RMVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
              </div>
          </div>
          <div class="form-group fg" data-bind="visible: false && dash.LoanValueTypeShowMe()">
            <label class="cnt">Loan Value Type</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times cl cl3 pull-right" aria-hidden="true" data-bind="click: dash.LoanValueTypeShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.LoanValueTypeDS,
                  value: dash.LoanValueTypeVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
              </div>
          </div>
          <div class="form-group fg" data-bind="visible: false && dash.RangeShowMe()">
            <label class="cnt">Range</label>
            <div>
              <span style="color: #1586f0;" class="fa fa-times pull-right" aria-hidden="true" data-bind="click: dash.RangeShowMe.bind(dash, false)"></span>
              <select name="page" style="width: 84%;"  data-bind="
                kendoDropDownList: {
                  data: dash.RangeDS,
                  value: dash.StatusVal,
                  dataValueField: 'value',
                  dataTextField: 'text',
                  optionLabel: 'Select One',
                  filter:'contains'
                }" ></select>
            </div>
          </div>
          <hr style="border-top: 1px solid #1586f0;"/>
        </div>
      </div>
    </li>
</ul>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#sidebar-wrapper").hide()
        $("#sidebar-wrapper").width(0)
    })
</script>