<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Customer</span>
		        <select class="multifield"  id="multiCustomer" data-bind="kendoMultiSelect: { 
		        data: multiCustomerDS,
		        value: filters.CustomerVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter:'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Dealno</span>
		        <select class="multifield"  id="multiDealno" data-bind="kendoMultiSelect: {
		        data: multiDealNoDS,
		        value: filters.DealNoVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter:'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
</div>

<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">City</span>
		        <select class="multifield"  id="multiCity" data-bind="kendoMultiSelect: { 
		        data: multiCityDS,
		        value: filters.CityVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter:'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Product</span>
		        <select class="multifield"  id="multiProduct" data-bind="kendoMultiSelect: { 
		        data: multiProductDS,
		        value: filters.ProductVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter:'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
</div>

<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">BR Head</span>
		        <select class="multifield"  id="multiBRHead" data-bind="kendoMultiSelect: { 
		        data: multiBRHeadDS,
		        value: filters.BRHeadVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter:'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Scheme</span>
		        <select class="multifield"  id="multiScheme" data-bind="kendoMultiSelect: { 
		        data: multiSchemeDS,
		        value: filters.SchemeVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter:'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
</div>

<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">RM</span>
		        <select class="multifield"  id="multiRM" data-bind="kendoMultiSelect: { 
		        data: multiRMDS,
		        value: filters.RMVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter:'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6 no-padding">
		<div class="col-md-8">
		    <div class="form-group form-group-table-name">
		        <div class="input-group input-group-sm ez width-full">
			     	<span class="input-group-addon width-100 align-right">Requested Loan Amount - Ranges</span>
			        <select class="multifield"  id="ddRLARanges" 
			        data-bind="kendoDropDownList: {data: dddata, value: filters.ddRLARangesVal, dataTextField: 'text', dataValueField: 'value'}"></select>
		        </div>
		    </div>
		</div>
		<div class="col-md-4">
		    <div class="form-group form-group-table-name">
		        <div class="input-group input-group-sm ez width-full">
			        <input id="inputRLARange" type="number" data-bind="value: filters.inputRLARangeVal"/>
		        </div>
		    </div>
		</div>
	</div>
</div>

<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Credit Analyst</span>
		        <select class="multifield"  id="multiCA" data-bind="kendoMultiSelect: { 
		        data: multiCADS,
		        value: filters.CAVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter:'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6 no-padding">
		<div class="col-md-8">
		    <div class="form-group form-group-table-name">
		        <div class="input-group input-group-sm ez width-full">
			     	<span class="input-group-addon width-100 align-right">Internal Rating</span>
			        <select class="multifield"  id="ddIR" 
			        data-bind="kendoDropDownList: { data: dddata, value: filters.ddIRRangesVal, dataTextField: 'text', dataValueField: 'value'}"></select>
		        </div>
		    </div>
		</div>
		<div class="col-md-4">
		    <div class="form-group form-group-table-name">
		        <div class="input-group input-group-sm ez width-full">
			        <input id="inputIRRange" type="number" data-bind="value: filters.inputIRRangeVal" />
		        </div>
		    </div>
		</div>
	</div>
</div>

<script type="text/javascript">
var filters = {}
filters.CustomerVal = ko.observableArray()
filters.DealNoVal = ko.observableArray()
filters.CityVal = ko.observableArray()
filters.ProductVal = ko.observableArray()
filters.BRHeadVal = ko.observableArray()
filters.SchemeVal = ko.observableArray()
filters.RMVal = ko.observableArray()
filters.ddRLARangesVal = ko.observable("gt")
filters.inputRLARangeVal = ko.observable(0)
filters.CAVal = ko.observableArray()
filters.ddIRRangesVal = ko.observable("gt")
filters.inputIRRangeVal = ko.observable(0)

var filteredCustId = ko.computed(function(){
	return _.uniq(filters.CustomerVal().concat(filters.DealNoVal()));
})

//--------------------------------------------------------------------

var generateDataSource = function(url, param, c){
	return new kendo.data.DataSource({
		serverFiltering: true,
	    transport: {
	        read: function(o) {
	        	ajaxPost(url, param, function(res){
	           		o.success(res);
	           	})
	        }
	    },
	    schema: {
	    	parse: function(data){
	    		return _.reject(
	    			_.map(
	    				_.groupBy(
	    					_.sortBy(
	    						_.map(data.data, c), function(d){
	    							return d.value
	    						}), 
	    					function(d){
	    						return d.text;
	    					}), 
	    				function(d){
	    					return d[0];
	    				}), 
	    			function(d) {
	    				return _.isEmpty(d.text)
	    			})
	    	}
	    },
	})
}

var getMasterCustomerDS = function(c) {
	return generateDataSource("/databrowser/getmastercustomerdata", {}, c)
}

var multiCustomerDS = getMasterCustomerDS(function(d){
	return {
		"text": d.customer_id + " - " + d.customer_name,
		"value": d.customer_id
	}
})

var multiDealNoDS = getMasterCustomerDS(function(d){
	return {
		"text": d.deal_no,
		"value": d.customer_id
	}
})

// --------------------------------------------------------------------

var multiCityDS = generateDataSource("/databrowser/getcustomerprofiledata", {}, function(d){
	return {
		"text": d.applicantdetail.registeredaddress.CityRegistered,
		"value": d.applicantdetail.registeredaddress.CityRegistered
	}
})

//--------------------------------------------------------------------

var getAccountDetailDS = function(c) {
	return generateDataSource("/databrowser/getaccountdetaildata", {}, c)
}

var multiProductDS = getAccountDetailDS(function(d){
	return {
		"text": d.accountsetupdetails.product,
		"value": d.accountsetupdetails.product
	}
})

var multiBRHeadDS = getAccountDetailDS(function(d){
	return {
		"text": d.accountsetupdetails.brhead,
		"value": d.accountsetupdetails.brhead
	}
})

var multiSchemeDS = getAccountDetailDS(function(d){
	return {
		"text": d.accountsetupdetails.scheme,
		"value": d.accountsetupdetails.scheme
	}
})

var multiRMDS = getAccountDetailDS(function(d){
	return {
		"text": d.accountsetupdetails.rmname,
		"value": d.accountsetupdetails.rmname
	}
})

var dddata = [
    { text: "Greater Than", value: "gt" },
    { text: "Greater Than or Equal", value: "gte" },
    { text: "Equal", value: "eq" },
    { text: "Lower Than or Equal", value: "lte" },
    { text: "Lower Than", value: "lt" }
]
$("#inputRLARange").kendoNumericTextBox();
$("#inputIRRange").kendoNumericTextBox();

var multiCADS = getAccountDetailDS(function(d){
	return {
		"text": d.accountsetupdetails.creditanalyst,
		"value": d.accountsetupdetails.creditanalyst
	}
})
</script>