<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Customer</span>
		        <select class="multifield"  id="multiCustomer" data-bind="kendoMultiSelect: { 
		        data: multiCustomerDS,
		        value: filters.CustomerVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter: 'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Dealno</span>
		        <select class="multifield"  id="multiDealno" data-bind="kendoMultiSelect: {
		        data: multiDealNoDS,
		        value: filters.DealNoVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter: 'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
</div>

<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">City</span>
		        <select class="multifield"  id="multiCity" data-bind="kendoMultiSelect: { 
		        data: multiCityDS,
		        value: filters.CityVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter: 'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Product</span>
		        <select class="multifield"  id="multiProduct" data-bind="kendoMultiSelect: { 
		        data: multiProductDS,
		        value: filters.ProductVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter: 'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
</div>

<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">BR Head</span>
		        <select class="multifield"  id="multiBRHead" data-bind="kendoMultiSelect: { 
		        data: multiBRHeadDS,
		        value: filters.BRHeadVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter: 'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Scheme</span>
		        <select class="multifield"  id="multiScheme" data-bind="kendoMultiSelect: { 
		        data: multiSchemeDS,
		        value: filters.SchemeVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter: 'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
</div>

<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">RM</span>
		        <select class="multifield"  id="multiRM" data-bind="kendoMultiSelect: { 
		        data: multiRMDS,
		        value: filters.RMVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter: 'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6 no-padding">
		<div class="col-md-8">
		    <div class="form-group form-group-table-name">
		        <div class="input-group input-group-sm ez width-full">
			     	<span class="input-group-addon width-100 align-right">Requested Loan Amount - Ranges</span>
			        <select class="multifield"  id="ddRLARanges" 
			        data-bind="kendoDropDownList: {data: dddata, value: filters.ddRLARangesVal, dataTextField: 'text', dataValueField: 'value'}"></select>
		        </div>
		    </div>
		</div>
		<div class="col-md-4">
		    <div class="form-group form-group-table-name">
		        <div class="input-group input-group-sm ez width-full">
			        <input id="inputRLARange" type="number" data-bind="value: filters.inputRLARangeVal"/>
		        </div>
		    </div>
		</div>
	</div>
</div>

<div class="col-md-12 no-padding">
	<div class="col-md-6">
	    <div class="form-group form-group-table-name">
	        <div class="input-group input-group-sm ez width-full">
		     	<span class="input-group-addon width-100 align-right">Credit Analyst</span>
		        <select class="multifield"  id="multiCA" data-bind="kendoMultiSelect: { 
		        data: multiCADS,
		        value: filters.CAVal,
		        dataValueField: 'value', 
		        dataTextField: 'text',
		        filter: 'contains'
		        }"></select>
	        </div>
	    </div>
	</div>
	<div class="col-md-6 no-padding">
		<div class="col-md-8">
		    <div class="form-group form-group-table-name">
		        <div class="input-group input-group-sm ez width-full">
			     	<span class="input-group-addon width-100 align-right">Internal Rating</span>
			        <select class="multifield"  id="ddIR" 
			        data-bind="kendoDropDownList: { data: dddata, value: filters.ddIRRangesVal, dataTextField: 'text', dataValueField: 'value'}"></select>
		        </div>
		    </div>
		</div>
		<div class="col-md-4">
		    <div class="form-group form-group-table-name">
		        <div class="input-group input-group-sm ez width-full">
			        <input id="inputIRRange" type="number" data-bind="value: filters.inputIRRangeVal" />
		        </div>
		    </div>
		</div>
	</div>
</div>

<script>document.write('<script src="/static/core/newdefaultfilter.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>