<script type="text/javascript">
  model.PageTopMenu('{{.TopMenu}}');
  model.PageId('{{.Menuname}}');
  model.BreadCrumbs.push(new BreadCrumb('{{.TopMenu}}', '{{.TopMenu}}', "#", "", ""));
  model.BreadCrumbs.push(new BreadCrumb('{{.Menuname}}', '{{.Menuname}}', "#", "active", ""));
  model.Access = ko.observable('{{.Menuid}}');
  model.View = ko.observable('{{.View}}');
  model.Create= ko.observable('{{.Create}}');
  model.Delete= ko.observable('{{.Delete}}');
  model.Process= ko.observable('{{.Process}}');
  model.Edit= ko.observable('{{.Edit}}')
  model.User= ko.observable('{{.Username}}');
  model.Rolename= ko.observable('{{.Rolename}}')
  model.Fullname = ko.observable('{{.Fullname}}');
</script>
<script src="/static/core/cibilcompany.js"></script>

<div class="col-md-12 col-sm-12 ez panel-content">
  <div class="panel-body">
    <div class="col-sm-6">
      <div class="form-group clearfix">
        <label class="col-sm-2 form-label">Search File</label>
        
        <div class="col-sm-8">
          <input type="text" id="filter" class="form-control input-sm" placeholder="Search Files..">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
     <!--  <div class="form-group clearfix">
        <button class="btn btn-sm btn-add pull-right" onclick="trans.showProm();">Add New</button>
      </div> -->
    </div>

    <div class="col-md-12">
      <div id="transgrid"></div>
    </div>
  </div>
</div>