<style type="text/css">
	.k-widget * {
		box-sizing: border-box;
	}

	p.head {
		text-align: left;
		cursor: pointer;
		cursor: hand;
	}
	.btn-space {
	    margin-right: 5px;
	}
	.finance{
		text-align: left;
	}
</style>

<div id="content4" data-bind="with:apcom" class="content-container">

	<div class="col-sm-12">
		<div class="form-group col-sm-6">
	    	<label class="col-sm-12 text-left">Date</label>
	    	<div class="col-sm-12">
	    		<input id="commentdate"
	    		data-bind="value: apcom.Date"
	    		class="input-sm form-control" style="width: 100%; margin-top: 0px; height: 27px;">
	    	</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="form-group col-sm-6">
	    	<label class="col-sm-12 text-left">Amount</label>
	    	<div class="col-sm-12">
	    		<input id="commentamount" data-bind="value: apcom.LeftAmount" class="input-sm form-control" style="width: 100%;">
	    	</div>
		</div>
		<div class="form-group col-sm-6">
	    	<label class="col-sm-12 text-left">ROI (%)</label>
	    	<div class="col-sm-12">
	    		<input id="commentroi" data-bind="value: apcom.ROI" class="input-sm form-control" style="width: 100%;">
	    	</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="form-group col-sm-6">
	    	<label class="col-sm-12 text-left">PF</label>
	    	<div class="col-sm-12">
	    		<input id="commentpf" data-bind="value: apcom.PF" class="input-sm form-control" style="width: 100%;">
	    	</div>
		</div>
		<div class="form-group col-sm-6">
	    	<label class="col-sm-12 text-left">PG</label>
	    	<div class="col-sm-12">
	    		<input id="commentpg" data-bind="value: apcom.PG" class="input-sm form-control" style="width: 100%;">
	    	</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="form-group col-sm-12">
	    	<label class="col-sm-12 text-left">Security</label>
	    	<div class="col-sm-12">
	    		<input id="commentsecurity" data-bind="value: apcom.Security" class="input-sm form-control" style="width: 100%;">
	    	</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="form-group col-sm-12">
	    	<label class="col-sm-12 text-left">Sanction Conditions</label>
	    	<div class="col-sm-12">
				<div data-bind="foreach: apcom.OtherConditions">
					<div class="col-sm-10">
						<input id="commentcondition" style="width: 100%; margin-left: -9px;margin-bottom: 5px;" data-bind="value: apcom.OtherConditions()[$index()]" class="input-sm form-control ca">
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-sm btn-flat btn-success ca" data-bind="click: apcom.addOtherCondition, visible: $index() == 0"><i class="fa fa-plus"></i></button>
						<button type="button" class="btn btn-sm btn-flat btn-danger ca" data-bind="click: apcom.removeOtherCondition.bind($data, $index()), visible: $index() > 0"><i class="fa fa-trash"></i></button>
					</div>
				</div>
	    	</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="form-group col-sm-12">
	    	<label class="col-sm-12 text-left">Committee Remarks</label>
	    	<div class="col-sm-12">
	    		<textarea id="commentremarks" data-bind="value: apcom.CommitteeRemarks" class="input-sm form-control" style="width: 100%;"></textarea>
	    	</div>
		</div>
	</div>

	<!-- <div class="panel-body col-md-12">
		<div id="grid2"></div>
	</div> -->
	<div class="col-md-12">
		<button data-bind="click: apcom.saveSanction" class="btn btn-sm btn-flat btn-space btn-confirm sanction">Sanction</button>
		<button data-bind="click: apcom.saveHold" class="btn btn-sm btn-flat btn-space btn-hold sanction">Hold</button>
	</div>
</div>
<div class="col-md-12 content-container" data-bind="with:apcom">

	<div class="col-md-12 form-group">
    	<button class="btn btn-sm btn-flat btn-save save btn-space pull-left ca" data-bind="click: apcom.sendCreditAnalyst">Save</button>
    	<button class="btn btn-sm btn-flat btn-reset btn-space pull-left ca" data-bind="click: apcom.resetCreditAnalyst">Reset</button>
    	<!-- <button class="btn btn-sm btn-flat btn-confirm btn-space pull-left">Confirm</button> -->
    	<!-- <button class="btn btn-sm btn-flat btn-reenter btn-space pull-left">Re-Enter</button> -->
	</div>
	<p class="head caret1"><span id="caret1" class="fa fa-caret-down"></span> Comments on Financials</p>
	<div class="panel-body" id="content1">
		<div class="col-md-12">
			<div class="k-grid">
        <table class="table-bordered">
            <tr>
              <td class="col-sm-4" style="padding: 0px;">
              	<table>
              		<tbody data-bind="foreach: loanapproval.commentfinance">
              			<tr>
              				<td class="finance" data-bind="text: (loanapproval.commentfinance()[$index()] != '' ? loanapproval.commentfinance()[$index()] : '&nbsp;')"></td>
              			</tr>
              		</tbody>
              	</table>
              </td>
            </tr>
        </table>
    	</div>
			<!-- <textarea class="input-sm form-control" data-bind="value: accountCommentFinancials" readonly></textarea > -->
		</div>
	</div>
	<p class="head caret2"><span id="caret2" class="fa fa-caret-down"></span> Risk / Concerns & Mitigants</p>
	<div class="panel-body" id="content2">
		<div class="col-md-12">
			<div id="grid1"></div>
		</div>
	</div>

	<p class="head caret3"><span id="caret3" class="fa fa-caret-down"></span> Final Comments</p>
	<div class="panel-body" id="content3"data-bind="with: formCreditAnalyst.FinalComment">

		<div class="col-sm-12 no-padding">
			<div class="form-group col-sm-12 no-padding">
		    	<label class="col-sm-12 text-left">Amount (Rs. Lacs)</label>
		    	<div class="col-sm-12">
		    		<input type="number" id="commentamount2" data-bind="value: apcom.Amount" class="input-sm form-control ca" style="width: 100%;">
		    	</div>
			</div>
		</div>

		<div class="col-sm-12 no-padding">
			<div class="form-group col-sm-12 no-padding">
		    	<label class="col-sm-12 text-left">Recommend Condition</label>
		    	<div class="col-sm-12">
		    		<div data-bind="foreach: apcom.formCreditAnalyst.FinalComment.RecommendedCondition">
			    		<div class="col-sm-10">
			    			<input id="commentcondition" style="width: 100%; margin-left: -9px;margin-bottom: 5px;" data-bind="value: apcom.RecCondition()[$index()]" class="input-sm form-control ca">
			    		</div>
			    		<div class="col-sm-2">
			    			<button type="button" class="btn btn-sm btn-flat btn-success ca" data-bind="click: apcom.addRecomendedCondition(), visible: $index() == 0"><i class="fa fa-plus"></i></button>
			    			<button type="button" class="btn btn-sm btn-flat btn-danger ca" data-bind="click: apcom.removeRecomendedCondition($index()), visible: $index() > 0"><i class="fa fa-trash"></i></button>
			    		</div>
		    		</div>
		    	</div>
			</div>
		</div>

		<div class="col-sm-12 no-padding">
			<div class="form-group col-sm-12 no-padding">
		    	<label class="col-sm-12 text-left">Recommendations</label>
		    	<div class="col-sm-12">
		    		<input id="commentrecommendation" data-bind="value: apcom.Recommendations" class="input-sm form-control ca" style="width: 100%;">
		    	</div>
			</div>
		</div>

		<!-- <div class="col-md-12">
			<div id="grid3"></div>
		</div> -->
	</div>

	<div class="form-group">
    	<button class="btn btn-sm btn-flat btn-save" id="send" data-bind="click: apcom.sendCreditAnalyst">Send to Decision Committee</button>
	</div>
</div>
