<div class="panel-heading"><h3 class="text-center">Key Financial Ratios</h3></div>

<div class="panel-default col-sm-6 content no-padding" style="border-right: 2px solid #fafafa">
  <div class="panel-heading">Leverage Ratios</div>
  <div class="panel-body" style="padding-bottom: 0px;margin-bottom: -8px;">
        <div id="leverageratios"></div>
    </div>
</div>

<div class="panel-default col-sm-6 content no-padding" style="border-left: 2px solid #fafafa">
    <div class="panel-heading">Operating Ratios</div>
    <div class="panel-body" style="padding-bottom: 0px;margin-bottom: -8px;">
      <div id="operatingratios"></div>
    </div>
</div>

<div class="panel-default col-sm-6 content no-padding" style="border-right: 2px solid #fafafa">
    <div class="panel-heading">Coverage Ratios</div>
    <div class="panel-body" style="padding-bottom: 0px">
      <div id="coverageratios"></div>
    </div>
</div>

<div class="panel-default col-sm-6 content no-padding most-bottom" style="border-left: 2px solid #fafafa">
    <div class="panel-heading">Liquidity Ratios</div>
    <div class="panel-body" style="padding-bottom: 0px">
      <div id="liquidityratios"></div>
    </div>
</div>

<div class="footer clearfix">
  <button onClick="r.showDetails('kfrb')" class="btn btn-sm btn-space btn-footer col-sm-3 col-sm-offset-3">Show More Details</button>
  <button data-bind="click: r.openFull" class="btn btn-sm btn-flat btn-space btn-footer col-sm-3">Open Form</button>
</div>

<script type="text/javascript">
  var diiscolor = ["#ff9300", "#00da9c", "#00aef1", "#ff0045"]

  r.generateleverageratios = function (leverageRatio){
    var series = [
      { field: 'FY13', name: 'FY13' },
      { field: 'FY14', name: 'FY14' },
      { field: 'FY15', name: 'FY15' },
    ]

    $("#leverageratios").kendoChart({
        dataSource: {
          data: leverageRatio
        },
        chartArea: {
          height: 150,
          background:"transparent"
        },
        categoryAxis: {
          field: 'name',
          labels: {
            font:"9px Arial,Helvetica,sans-serif",
            color: "black",
            // rotation: 10
          },
          majorGridLines: {
              visible: false
          },
        },
        valueAxis: {
          labels: {
            font:"9px Arial,Helvetica,sans-serif",
            color: "black",
            step:2
          },
          majorGridLines: {
              visible: false
          },
        },
        seriesDefaults: {
            type: "area",
            area: {
                line: {
                    style: "smooth"
                }
            }
        },
        legend: {
          position: "bottom",
          orientation: "horizontal",
          labels: {
            color: "black"
          }
        },
        seriesColors: diiscolor,
        series: series,
        tooltip: {
          visible: true,
          template: function (d) {
            return d.category + '<br />' + d.series.name + ' : ' + d.value
          }
        }
      });
  }

  r.generateoperatingratios = function (operatingRatio){
    categories = []
    var series = _.map(operatingRatio, function(d) {
      data = []
      for (var p in d) {
        if (d.hasOwnProperty(p) && p.indexOf('FY') > -1) {
          categories.push(p)
          data.push(d[p].replace (/,/g, ""))
        }
      }

      return {
        data: data,
        name: d.name.split(' (')[0]
      }
    })

    $("#operatingratios").kendoChart({
      chartArea: {
        height: 150,
        background:"transparent"
      },
      categoryAxis: {
        categories: _.uniq(categories),
        labels: {
          // rotation: "auto",
          font:"9px Arial,Helvetica,sans-serif",
          color: "black"
        },
        majorGridLines: {
            visible: false
        },
      },
      valueAxis: {
        labels: {
          color: "black",
          step:2,
          font:"9px Arial,Helvetica,sans-serif"
        },
        majorGridLines: {
            visible: false
        },
      },
      seriesDefaults: {
          type: "column",
            overlay: {
              gradient: "none"
          }
      },
      legend: {
        position: "bottom",
        orientation: "horizontal",
        labels: {
          color: "black"
        }
      },
      seriesColors: diiscolor,
      series: series,
      tooltip: {
        visible: true,
        template: function (d) {
          return d.category + '<br />' + d.series.name + ' : ' + d.value
        }
      }
    });
  }

  r.generatecoverageratios = function (coverageRatios){
    categories = []
    var series = _.map(coverageRatios, function(d) {
      data = []
      for (var p in d) {
        if (d.hasOwnProperty(p) && p.indexOf('FY') > -1) {
          categories.push(p)
          data.push(d[p].replace (/,/g, ""))
        }
      }

      return {
        data: data,
        name: d.name.split(' (')[0]
      }
    })

    $("#coverageratios").kendoChart({
      dataSource: {
        data: data
      },
      chartArea: {
        height: 150,
        background:"transparent"
      },
      categoryAxis: {
        categories: _.uniq(categories),
        labels: {
          // rotation: "auto",
          font:"9px Arial,Helvetica,sans-serif",
          color: "black"
        },
        majorGridLines: {
            visible: false
        },
      },
      valueAxis: {
        labels: {
          font:"9px Arial,Helvetica,sans-serif",
          color: "black",
          step:2
        },
        majorGridLines: {
            visible: false
        },
      },
      seriesDefaults: {
          type: "line",
          style: "smooth",
          markers: {
              size: 3
          }
      },
      legend: {
        visible: "false",
        position: "bottom",
        orientation: "horizontal",
        labels: {
          color: "black"
        }
      },
      seriesColors: diiscolor,
      series: series,
      tooltip: {
        visible: true,
        template: function (d) {
          return d.category + '<br />' + d.series.name + ' : ' + d.value
        }
      }
    });
  }

  r.generateliquidityratios = function (liquidityRatios){
    var series = [
      { field: 'FY13', name: 'FY13' },
      { field: 'FY14', name: 'FY14' },
      { field: 'FY15', name: 'FY15' },
    ]

    $("#liquidityratios").kendoChart({
      dataSource: {
        data: liquidityRatios
      },
      chartArea: {
        height: 150,
        background:"transparent"
      },
      categoryAxis: {
        labels: {
          font:"9px Arial,Helvetica,sans-serif",
          color: "black"
        },
        majorGridLines: {
            visible: false
        },
      },
      valueAxis: {
        labels: {
          font:"9px Arial,Helvetica,sans-serif",
          color: "black",
          step:2
        },
        majorGridLines: {
            visible: false
        },
      },
      seriesDefaults: {
          type: "bar",
            overlay: {
              gradient: "none"
          }
      },
      legend: {
        position: "bottom",
        orientation: "horizontal",
        labels: {
          color: "black"
        }
      },
      seriesColors: diiscolor,
      series: series,
      tooltip: {
        visible: true,
        template: function (d) {
          return "Current Ratio | "+d.series.name + ' : ' + d.value
        }
      }
    });
  }

  // jangan di buat susah bruuuuhhhhh
  NOPAL_SENG_NGGAWE_BUILD_KEY_FINANCIAL_RATIOS_IKI_PENTING_SENG_LAWAS_RAUSAH_DIGAWE_RA_BENEEERRRR = function (res) {
    var leverageRatio = [
      { name: "Debt to Equity", code: "DERATIO" },
      { name: "Net Debt to Equity", code: "NETDERATIO" },
      { name: "TOL / TNW", code: "TOLTNW" } // , divider: 10000 },
    ]

    var operatingRatio = [
      { name: "WC Requirement (in Lacs)", code: "WCREQ" },
      { name: "WC Gap ( Lacs) (MPBF Method)", code: "WCGAPMPBF" },
    ]

    var coverageRatios = [
      { name: "ISCR", code: "INCR" },
      { name: "DSCR", code: "DSCR" },
    ]

    var liquidityRatios = [
      { name: "Current Ratio", code: "CURATIO" },
    ]

    // confuse?, good luck understanding this code
    
    var arr = [
      { data: leverageRatio, generator: r.generateleverageratios },
      { data: operatingRatio, generator: r.generateoperatingratios },
      { data: coverageRatios, generator: r.generatecoverageratios },
      { data: liquidityRatios, generator: r.generateliquidityratios }
    ]

    //nggolek column sing audited kabeh
    columns = res.Data.AuditStatus
    columns = _.filter(columns, function(o){
       return (o.Status == "AUDITED")
    })

    columns = _.orderBy(columns, ['Date'], ['asc'])
    res.Data.FormData.forEach(function (d) {
      arr.forEach(function (k) {
        k.data.forEach(function (e) {

          if (d.FieldAlias == e.code) {
            columns.forEach(function (g) {
              var found = d.Values.find(function (f) {
                return f.Date == g.Date
              })

              //format date ben jupuk tahun 2 angka mburine
              yearFormatted = moment(g.Date,"DD-MM-YYYY").format("YY")

              e['FY' + yearFormatted] = kendo.toString(toolkit.redefine(found, { Value: 0 }).Value, "n2")

              if (e.hasOwnProperty('divider')) {
                e['FY' + yearFormatted] = toolkit.number(e['FY' + yearFormatted] / e.divider)
              }
            })
          }
        })
      })
    })

    arr.forEach(function (d) {
      d.generator(d.data)
    })
  }
</script>