<div class="panel-default content no-padding most-bottom">
	<div class="panel-heading text-center">Outstanding Debt</div>
	
	<div class="panel-body text-center">
		<div class="col-md-6 no-padding" style="padding-right: 4px;">
			<div><span type="text" class="number-label" disabled data-bind="text: ko.computed(function () { return kendo.toString(r.emiBounce(), 'n0') }, r.emiBounce)" /></div>
			<div><label>EMI Bounce</label></div>
			<div><label>(Last 6 months)</label></div>
		</div>

		<div class="col-md-6 no-padding" style="padding-left: 4px;">
			<div><span type="text" class="number-label" disabled data-bind="text: ko.computed(function () { return app.formatnum(r.monthlyEMI(), 2) }, r.monthlyEMI)" /></div>
			<div><label>Monthly EMI Obligation (Rs. Lacs)</label></div>
			<div><label>(Unsecured & Term Loans)</label></div>
		</div>
	</div>
</div>

