<style type="text/css">
	.zero{
		font-size: 30px;
		width: 30px;
		color: white;
		-ms-transform: rotate(7deg);
		-webkit-transform: rotate(7deg);
		transform: rotate(-90deg);
	}
	.no{
		font-size: 30px;
		width: 30px;
		color: white;
		transform: scaleX(-1);
	}
	.yes{
		font-size: 30px;
		width: 30px;
		color: white;
	}
	.panel-morning > .panel-body{
		padding: 0px;
	}
	.panel-morning > .panel-heading{
		padding: 3px;
	}

	.panel-morning span{
		font-size: 15px!important;
	}

	.panel-morning label{
		font-size: 11px!important;
	}

	.panel-overview .panel-default.content{
		margin-bottom: 5px;
	}

	.heightfix {
		height: 30px;
	}
</style>

<div class="panel-heading"><h3 class="text-center">Overview</h3></div>

<div class="panel-group clearfix panel-overview most-bottom">

	<div class="panel-default clearfix content no-padding">
		<div class="panel-heading text-center">Loan Details</div>

		<div class="panel-row">
			<div class="panel-default col-sm-6 panel-morning" style="border-right: 2px solid #fafafa">
				<div class="panel-heading text-center">Proposed Loan</div>

				<div class="panel-body clearfix text-center">
					<div class="col-md-4 no-padding" style="padding-right: 4px;">
						<div><span type="text" class="number-label" disabled data-bind="text: r.LD.Amount()" /></div>
						<div><label>Amount (Rs. Lacs)</label></div>
					</div>

					<div class="col-md-4 no-padding" style="padding-left: 4px; padding-right: 4px;">
						<div><span type="text" class="number-label" disabled data-bind="text: r.LD.Tenor()" /></div>
						<div><label>Tenor (Months)</label></div>
					</div>

					<div class="col-md-4 no-padding" style="padding-left: 4px;">
						<div><span type="text" class="number-label" disabled data-bind="text: r.LD.ROI()" /></div>
						<div><label>ROI</label></div>
					</div>
				</div>
			</div>

			<div class="panel-default col-sm-6 panel-morning" style="border-left: 2px solid #fafafa">
				<div class="panel-heading text-center">Existing Customer Loans</div>

				<div class="panel-body clearfix text-center">
					<div class="col-md-6 no-padding" style="padding-right: 4px;">
						<div><span type="text" class="number-label" disabled data-bind="text: 0" /></div>
						<div><label>Avg. Limit Utilization</label></div>
					</div>

					<div class="col-md-6 no-padding" style="padding-left: 4px;">
						<div><span type="text" class="number-label" disabled data-bind="text: 0" /></div>
						<div><label>Delayed Repayments</label></div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="panel-default clearfix content no-padding" style="line-height: 2">
		<div class="panel-heading text-center">Borrower Profile</div>

		<div class="panel-row" style="background-color: #8195b0; color: white; margin-top: 5px; margin-bottom: -4px">
			<div class="col-sm-8" style="border-right: 2px solid #fafafa">Business</div>
			<div class="col-sm-4 no-padding text-center">Business Mix</div>
		</div>

		<div class="panel-row">
			<div class="col-sm-8 no-padding" style="border-right: 2px solid #fafafa; margin-top: 5px">
				<div class="panel-row">
					<div class="col-sm-5" style="background-color: #bfbfbf; color: white">Segment</div>
					<div class="col-sm-7" style="background-color: #e6e6e6" data-bind="text: Segmen"></div>
				</div>
				<div class="panel-row" style="border-top: 1px solid #fafafa">
					<div class="col-sm-5" style="background-color: #bfbfbf; color: white">Vintage (Years)</div>
					<div class="col-sm-7" style="background-color: #e6e6e6" data-bind="text: ko.computed(function () { return kendo.toString(Vintage(), 'n2') }, Vintage)"></div>
				</div>
				<div class="panel-row" style="background-color: #8195b0; color: white">
					<div class="col-sm-12">Distributor</div>
				</div>
				<div class="panel-row" style="border-top: 1px solid #fafafa">
					<div class="col-sm-5" style="background-color: #bfbfbf; color: white">Lead Distributor</div>
					<div class="col-sm-7" style="background-color: #e6e6e6" data-bind="text: Distributor"></div>
				</div>
				<div class="panel-row" style="border-top: 1px solid #fafafa">
					<div class="col-sm-5" style="background-color: #bfbfbf; color: white">Avg. Repayment Delay (Days)</div>
					<div class="col-sm-7" style="background-color: #e6e6e6" data-bind="text: ko.computed(function () { return kendo.toString(AvgRDD(), 'n2') }, AvgRDD)"></div>
				</div>
			</div>

			<div class="panel-default col-sm-2 no-padding" style="border-right: 2px solid #fafafa">
				<div class="clearfix text-center" style="height: 100%;">
					<div class="col-sm-12 no-padding" style="height: 100%">
						<div class="col-sm-12 no-padding middle-centered">
							<div id="customermix" style="height: 86%"></div>
							<div class="col-sm-12 no-padding text-center">Customer</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-default col-sm-2 no-padding">
				<div class="clearfix text-center" style="height: 100%;">
					<div class="col-sm-12 no-padding" style="height: 100%">
						<div class="col-sm-12 no-padding middle-centered">
							<div id="distributormax" ></div>
							<div class="col-sm-12 no-padding text-center">Distributor</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="panel-default clearfix content no-padding">

		<div class="panel-heading text-center">Ratings, References & Compliance</div>

		<div class="panel-row">

			<div class="panel-body col-sm-2 no-padding text-center" style="border-right: 2px solid #fafafa; padding-top: 26px;">
				<div class="middle-centered">
					<div>
						<span type="text" class="number-label" disabled data-bind="text: ko.computed(function () { return kendo.toString(internalscore(), 'n2') }, internalscore)" />
					</div>
					<div><label data-bind="text: internalratingxfl">XFL-0</label></div>
					<div><label>Internal Rating</label></div>
				</div>
			</div>

			<div class="panel-column panel-body col-sm-6 no-padding">

				<script type="text/javascript" id="rating-template">
					function ratingClasses(param) {
						if(param == false)
							return "fa fa-thumbs-o-down no"
						else if(param == 'zero')
							return "fa fa-thumbs-o-down zero"
						else if(param == 'blank')
							return "fa blank"
						else
							return "fa fa-thumbs-o-up yes"
					}
					function ratingColor(param){
						if(param == false)
							return "#DF2935"
						else if(param == 'zero')
							return "#fce749"
						else if(param == 'blank')
							return "#e6e6e6"
						else
							return "#00da9c"
					}

					function ratingForeColor(param) {
						if(param == 'blank')
							return "#000"
						else
							return "#fff"
					}
				</script>
				<div class="panel-fit panel-column">
					<div class="panel-default panel-fit panel-row" style="color: white; margin-top: 0px">
							<div class="col-sm-6 no-padding ratingbox er">
								<div class="panel-body panel-row" data-bind="style: { backgroundColor: ratingColor(externalrating()), color: ratingForeColor(externalrating()), height: '100%', padding: '10px' }">
										<div class="col-sm-4 no-padding heightfix">
											<span data-bind="attr: { class: ratingClasses(externalrating()) }"></span>
										</div>
										<div class="col-sm-8 no-padding">
											<span class="middle-left">External Rating</span>
										</div>
								</div>
							</div>
							<div class="col-sm-6 no-padding ratingbox pdr" style="border-left: 2px solid #fafafa">
								<div class="panel-body panel-row" data-bind="style: { backgroundColor: ratingColor(pdremarks()), color: ratingForeColor(pdremarks()), height: '100%', padding: '10px' }">
									<div class="col-sm-4 no-padding heightfix">
										<span data-bind="attr: { class: ratingClasses(pdremarks()) }"></span>
									</div>
									<div class="col-sm-8 no-padding">
										<span class="middle-left">PD Remarks</span>
									</div>
								</div>
							</div>
					</div>
					<div class="panel-default panel-fit panel-row" style="color: white; margin-top: 2px">
							<div class="col-sm-6 no-padding ratingbox cc">
								<div class="panel-body clearfix" data-bind="style: { backgroundColor: ratingColor(commercialcibil()), color: ratingForeColor(commercialcibil()), height: '100%', padding: '10px' }">
									<div class="panel-row">
										<div class="col-sm-4 no-padding heightfix">
											<span class="heightfix" data-bind="attr: { class: ratingClasses(commercialcibil()) }"></span>
										</div>
										<div class="col-sm-8 no-padding">
											<span class="middle-left">Commercial CIBIL</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 no-padding ratingbox rc" style="border-left: 2px solid #fafafa">
								<div class="panel-body" data-bind="style: { backgroundColor: ratingColor(referencecheck()), color: ratingForeColor(referencecheck()), height: '100%', padding: '10px' }">
									<div class="panel-row">
										<div class="col-sm-4 no-padding heightfix">
											<span data-bind="attr: { class: ratingClasses(referencecheck()) }"></span>
										</div>
										<div class="col-sm-8 no-padding">
											<span class="middle-left">Reference Check</span>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>

			<div class="panel-default col-sm-2" style="border-left: 2px solid #fafafa">
				<div class="clearfix text-center" style="height: 100%;">
					<div class="col-sm-12" style="height: 100%">
						<div class="middle-centered">
							<div id="defaulterstatus"></div>
							<div class="col-sm-12 text-center">Defaulter Status</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-default col-sm-2" style="border-left: 2px solid #fafafa">
				<div class="clearfix text-center" style="height: 100%;">
					<div class="col-sm-12" style="height: 100%">
						<div class="middle-centered">
							<div id="verificationcheck" ></div>
							<div class="col-sm-12 text-center">Verification Check</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="footer clearfix">
	<button onClick="r.showDetails('overview');" class="btn btn-sm btn-space btn-footer col-sm-3 col-sm-offset-3">Show More Details</button>
	<button data-bind="click: r.openFull" class="btn btn-sm btn-flat btn-space btn-footer col-sm-3">Open Form</button>
</div>

<script>
	r.LD = {
		Amount : ko.observable(0),
		Tenor : ko.observable(0),
		ROI : ko.observable("")
	}

	r.setLD = function(ad){
		if(ad != null) {
			r.LD.Amount(ad.loandetails.requestedlimitamount)
			r.LD.Tenor(ad.loandetails.limittenor)
			r.LD.ROI(ad.loandetails.proposedrateinterest + "%")
		}
	}

	Segmen = ko.observable('')
	Distributor = ko.observable('')
	AvgRDD = ko.observable('')
	Vintage = ko.observable('')
	customerMixData = ko.observableArray([])
	distributormaxData = ko.observableArray([])

  	function borrowerdetails(){
		if(r.AllData().Data.AD[0] != undefined) {
			Segmen(r.AllData().Data.AD[0].borrowerdetails.customersegmentclasification)
			Distributor(r.AllData().Data.AD[0].accountsetupdetails.leaddistributor)
			Vintage(r.AllData().Data.AD[0].borrowerdetails.businessvintage)

			var leaddib = _.find(r.AllData().Data.AD[0].vendordetails,
				function(x){
					return x.distributorname ==  r.AllData().Data.AD[0].accountsetupdetails.leaddistributor
				})
		}

		AvgRDD(0)
		if(leaddib != undefined){
			AvgRDD(leaddib.averagedelaydays)
		}

		var i = 0
		customerMixData([])
		if(r.AllData().Data.AD[0] != undefined)
			_.each(r.AllData().Data.AD[0].customerbussinesmix, function(value, category, list){
				if(category != "status"){
					category = category == "stocksellin" ? "Stock & Sell" :
							   category == "b2bgovtin" ? "B2B - Govt." :
							   category == "b2bcorporatein" ? "B2B - Corporate" : ""

					customerMixData.push({
						category: category,
						value: value,
						color: r.colors.pie1[i]
					})
					i++
				}
			})

		distributormaxData([])
		if(r.AllData().Data.AD[0] != undefined)
			_.each(r.AllData().Data.AD[0].distributormix.Data, function(dm, i){
				distributormaxData.push({
					category: dm.Label,
					value: dm.Result,
					color: r.colors.pie1[i]
				})
			})
	}

	function startme(){
		borrowerdetails()
		ratingsandreferences()
	}

	internalscore = ko.observable(0)
	internalrating = ko.observable("")
	internalratingxfl = ko.observable('')

	externalrating = ko.observable('blank')
	commercialcibil = ko.observable('blank')
	pdremarks = ko.observable('blank')
	referencecheck = ko.observable('blank')

	defaulterstatusData = ko.observableArray([])

	verificationcheckData = ko.observableArray([])

	function ratingsandreferences(){
		internalscore(0)
		internalratingxfl('XFL-0')

		ajaxPost("/creditscorecard/getcscdata", {
		    CustomerId: filter().CustomerSearchVal(),
		    DealNo: filter().DealNumberSearchVal(),
		}, function(res){
	  		if( res.Data != null && res.Data.length > 0){
		    	var score = _.sum(res.Data[0].Data.filter(function (d) {
					return d.IsHeader
				}).map(function (d) {
					return kendo.parseFloat(d.WeightScore)
				}));

				internalscore(score)
				internalrating(
					score <= 4.5 ? "XFL-5" :
					score < 6 ? "XFL-4" :
					score < 7 ? "XFL-3" :
					score <= 8.5 ? "XFL-2" : "XFL-1"
					);
				internalratingxfl((function () {
                    if (score <= 4.5) {
                        return "XFL-5"
                    } else if (score < 6) {
                        return "XFL-4"
                    } else if (score < 7) {
                        return "XFL-3"
                    } else if (score <= 8.5) {
                        return "XFL-2"
                    } else {
                        return "XFL-1"
                    }
                })())
			}
	  	});

		if(r.AllData().Data.CIBIL.length > 0){
			if(r.AllData().Data.CIBIL[0].Rating === '' || typeof r.AllData().Data.CIBIL[0].Rating === "undefined") {
				commercialcibil('blank')
				$(".ratingbox.cc").tooltipster(r.ratingReferenceTooltip("blank"))
			} else {
				commercialcibil( (r.AllData().Data.CIBIL[0].Rating == "Positive") ? true : (r.AllData().Data.CIBIL[0].Rating == "Negative") ? false : 'zero' )
			}

			setTimeout(function(){
			 $(".ratingbox.cc").tooltipster(r.ratingReferenceTooltip(commercialcibil()))
			}, 100);

		}

		if(r.AllData().Data.AD.length > 0){
			if(r.AllData().Data.AD[0].borrowerdetails.externalrating === '') {
				externalrating('blank')
				// $(".ratingbox.er").tooltipster(r.ratingReferenceTooltip("blank"))
			} else {
				externalrating(
				(r.AllData().Data.AD[0].borrowerdetails.externalrating.toLowerCase().indexOf('moderate') > -1 ||
					r.AllData().Data.AD[0].borrowerdetails.externalrating.toLowerCase().indexOf('adequate') > -1
						? 'zero' :
					(r.AllData().Data.AD[0].borrowerdetails.externalrating.indexOf("Safety") == -1) ? false : true ))
			}

			if(r.AllData().Data.AD[0].accountsetupdetails.pdinfo.pdremarks === '') {
				pdremarks('blank')
				console.log("sarif")
				// $(".ratingbox.pdr").tooltipster(r.ratingReferenceTooltip("blank"))
			} else {
				pdremarks( (r.AllData().Data.AD[0].accountsetupdetails.pdinfo.pdremarks == "Satisfactory") ? true : false )
			}

			if(r.AllData().Data.AD[0].borrowerdetails.marketreference === '') {
				referencecheck('blank')
				// $(".ratingbox.rc").tooltipster(r.ratingReferenceTooltip("blank"))
			} else {
				referencecheck( (r.AllData().Data.AD[0].borrowerdetails.marketreference == "Positive") ? true : (r.AllData().Data.AD[0].borrowerdetails.marketreference == "Negative") ? false : 'zero' )
			}

			setTimeout(function(){
			 $(".ratingbox.er").tooltipster(r.ratingReferenceTooltip(externalrating()))
			}, 100);

			setTimeout(function(){
			 $(".ratingbox.rc").tooltipster(r.ratingReferenceTooltip(referencecheck()))
			}, 100);

			setTimeout(function(){
			 $(".ratingbox.pdr").tooltipster(r.ratingReferenceTooltip(pdremarks()))
			}, 100);
		}

		try {
			$(".ratingbox").each(function (i, e) {
		    	$(e).tooltipster('destroy');
		  	})
		} catch (e) {
		}

		ajaxPost("/duediligence/getduediligenceinputdataconfirmed", {
		    CustomerId: filter().CustomerSearchVal(),
		    DealNo: filter().DealNumberSearchVal(),
	  	}, function(res){
	  		if (res.Data.length > 0){
				defaulterstatusData((function () {
					var colors = {
						CLEAR: r.pieColors2[0],
						"NOT CLEAR": r.pieColors2[1],
						Unavailable: "#313d50"
					}

					var op1 = _.groupBy(res.Data[0].Defaulter, 'Status')
					var op2 = _.map(op1, function (v, k, i) {
						if (k == '') {
							k = 'Unavailable'
						}

						var name = ''
						if (v.length == 1) {
							name = v[0].Source
						} else if (v.length > 1) {
							name = v.map(function (d) { return d.Source }).join(', ')
						}

					    return {
					    	category: k,
					    	name: name,
					    	value: (v.length / res.Data[0].Defaulter.length) * 100,
					    	color: colors[k]
					    }
					})

					return op2
				})())

				verificationcheckData((function () {
					var colors = {
						Positif: r.pieColors2[2],
						Positive: r.pieColors2[2],
						Negative: r.pieColors2[1],
						Moderate: r.pieColors2[0],
						Unavailable: "#313d50"
					}

					var op1 = _.groupBy(res.Data[0].Verification, 'Result')
					var op2 = _.map(op1, function (v, k, i) {
						if (k == '') {
							k = 'Unavailable'
						}

					    return {
					    	category: k,
					    	value: (v.length / res.Data[0].Verification.length) * 100,
					    	color: colors[k]
					    }
					})

					return op2
				})())

			  	defaulterstatusCreate()
				verificationcheckCreate()
			}
			customerMixCreate()
			distributormaxCreate()
	  	});
	}

  	function defaulterstatusCreate() {
	  	$("#defaulterstatus").html("");
	    $("#defaulterstatus").kendoChart({
	        legend: {
	            visible: false
	        },
	        chartArea: {
	            background: "",
	            height: 60
	        },
	        seriesDefaults: {
			     holeSize: 25,
			 },
	        series: [{
	            type: "donut",
	            data: defaulterstatusData()
	        }],
	        tooltip: {
	            visible: true,
	            template: function (d) {
	            	return  '(' + d.dataItem.name + ')<br />' + d.dataItem.category + ' : ' + kendo.toString(d.dataItem.value, 'n2') + ' %'
	            }
	        },
	    });
	}

	function verificationcheckCreate() {
		$("#verificationcheck").html("");
	    $("#verificationcheck").kendoChart({
	        legend: {
	            visible: false
	        },
	        chartArea: {
	            background: "",
	            height: 60
	        },
	          seriesDefaults: {
			     holeSize: 25,
			 },
	        series: [{
	            type: "donut",
	            data: verificationcheckData()
	        }],
	        tooltip: {
	            visible: true,
	            template: "#=category # : #= kendo.toString(value, 'n2') # %"
	        },
	    });
	}

	function customerMixCreate() {
		$("#customermix").html("");
	    $("#customermix").kendoChart({
	        legend: {
	            visible: false
	        },
	        chartArea: {
	            background: "",
	            height: 100
	        },
	        series: [{
	            type: "pie",
	            data: customerMixData(),
	            overlay: {
		            gradient: "none"
		        }
	        }],
	        tooltip: {
	            visible: true,
	            template: "#=category # : #=value #%"
	        }
	    });
	}

	function distributormaxCreate() {
		$("#distributormax").html("");
	    $("#distributormax").kendoChart({
	        legend: {
	            visible: false
	        },
	        chartArea: {
	            background: "",
	            height: 100
	        },
	        series: [{
	            type: "pie",
	            data: distributormaxData(),
	            overlay: {
		            gradient: "none"
		        }
	        }],
	        tooltip: {
	            visible: true,
	            template: "#=category # : #=value #%"
	        }
	    });
	}
</script>