<script type="text/javascript">
  model.PageTopMenu('{{.TopMenu}}');
  model.PageId('{{.Menuname}}');
  model.BreadCrumbs.push(new BreadCrumb('{{.TopMenu}}', '{{.TopMenu}}', "#", "", ""));
  model.BreadCrumbs.push(new BreadCrumb('{{.Menuname}}', '{{.Menuname}}', "#", "active", ""));
  model.Access = ko.observable('{{.Menuid}}');
  model.View = ko.observable('{{.View}}');
  model.Create= ko.observable('{{.Create}}');
  model.Delete= ko.observable('{{.Delete}}');
  model.Process= ko.observable('{{.Process}}');
  model.Edit= ko.observable('{{.Edit}}')
  model.User= ko.observable('{{.Username}}');
  model.Rolename= ko.observable('{{.Rolename}}')
model.Fullname = ko.observable('{{.Fullname}}');
</script>

<script>document.write('<script src="/static/core/bank-analysis-additional.js?nochace='+  Math.floor(Math.random() * 100) + '"\><\/script>')</script>

{{template "filter.html"}}

<style>
    .SFFB {
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #ebebeb;
        padding: 3px;
        margin-bottom: 5px;
    }
    .k-grid-cancel-changes {
        margin-right: 10px;
    }
    .k-grid-save-changes {
        margin-right: 10px;
    }
    .k-grid-edit-changes {
        margin-right: 10px;
    }
    /*.banksdata-action{
    margin-right : 10px;
    margin-top: -5px;
  }*/
    
    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }
    .headerdatabankgrid {
        text-align: center;
    }
    #toptables > div > div.k-grid-content > table > tbody > tr {
        background-color: #eee;
    }
    button.saveupdate {
        margin-right: 10px;
    }
    @media (min-width: 768px) {
        .modal-dialog {
            width: 1000px;
            margin: 30px auto;
        }
    }
    .form-last-confirmation-info {
        padding-bottom: 10px;
        text-align: right;
        font-style: italic;
        color: #27ae60;
        margin-right: 16px;
    }
    .headernfb {
        background-color: rgba(119, 119, 119, 0.75);
        color: white;
        text-align: center;
    }
    .headersecfb {
        background-color: #f5f5f5;
        color: black;
        text-align: center;
    }
    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }
    .fixed {
        position: fixed;
        z-index: 100;
        width: 100%;
        margin-top: -8px;
        margin-left: -36px;
        background-color: #f0f3f4;
    }
    .static {
        position: static;
    }
    input[disabled] {
        cursor: default !important;
    }
    .hed {
        font-size: 18px;
        margin-top: -4px;
        font-weight: 800;
    }
    .swal2-confirm {
        margin-right: 10px !important;
    }
    .btn-danger {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active,
    .open>.dropdown-toggle.btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }
    .btn-warning {
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
    }
    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active,
    .btn-warning.active,
    .open>.dropdown-toggle.btn-warning {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }


</style>

<div id="Bank-Container" style="display: none" data-bind="visible: (formVisibility() == true)">
	<div class="col-md-12 col-sm-12 ez panel-content" style="padding: 20px;margin-top: -14px;">
		<div class="panel ez">
			<div class="panel-heading" style="margin-top: -10px;" >
        <div class="panel-body btnFixed" data-bind="visible:(isempty() != true && databank().length > 0)">
          <!-- <div class="col-md-3" style="margin-left: -16px;">
            <div class="col-md-4"><label style="margin-top: 5px;">Bank Stt Till:</label></div>
            <div class="col-md-8" style="margin-left: -25px;"><input type="text" id="bankstt" class="form-control input-sm banksdata-action" validationmessage="Bank Stt Till required" data-bind="value: bankaccount.bankstttill"></div>
          </div>
          <button type="button" id="add" style="margin-left: -39px;" class="btn btn-add btn-sm btn-flat mgright banksdata-action">Add Bank Data</button> -->
          <button id="bconfirm" class="btn btn-sm btn-confirm separator ontop" style="margin-right: inherit;" data-bind="text: statusPage.confirmText, enable: (!statusPage.isFreeze())">
            <span></span>
          </button>
          <button class="btn btn-sm btn-freeze separator" data-bind="text: statusPage.freezeText,visible: (unfreeze() == false), css: checkBtnFreeze" style="margin-right: inherit;" onclick="onFreeze()">
          </button>
          <!-- <button class="btn btn-sm btn-unfreeze separator" id="unf" data-bind="visible: (unfreeze() == true)" style="margin-right: inherit;" onclick="setUnFreeze()">
            Unfreeze
          </button> -->
          <span class="form-last-confirmation-info pull-right"></span>
        </div>
      </div>
      <!-- <div class="panel-heading"><h4 data-bind="html: model.currentTitle()" style="margin-top: 4px">&nbsp;</h4></div> -->
			<div id="summary-panel" class="panel-body" style="margin-top: -32px;" data-bind="visible:(isempty() != true)">
				<div class="clearfix"></div>

        <div id="toptables">
              <div class="col-md-12" style="margin-bottom: 10px;">
                <div id="bankinggrid" ></div>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-4">
                <div style="background-color: transparent;" id="oddetailgrid"></div>
              </div>

              <div class="col-md-4">
                <div id="amlgrid"></div>
              </div>
                <div class="col-md-4">
                <div style="background-color: transparent;" id="currentgrid"></div>
              </div>
          </div>

			</div>
		</div>
	</div>
</div>

<div class="col-md-12" data-bind="visible:(isempty() || databank().length == 0 )" style="margin-bottom: 30px"></div>

<div>
  <div class="col-md-12 col-sm-12 ez panel-content"  style="padding: 20px;margin-top: -28px;">
    <div class="panel ez">
      <div class="panel-heading">
        <center><div class="hed">Bank Account Details</div></center>
        <div class="pull-right">
          <!-- <button type="button" id="bconfirm" class="btn btn-confirm btn-sm btn-flat mgright banksdata-action">Confirm All</button> -->
          <div class="clearfix"></div>
          <div class="col-md-12 pull-right" style="margin-right: -42px;">
          <div class="col-md-8" style="margin-right: -22px;">
            <div class="col-md-5"><label style="margin-top: 7px;">Bank Stt Till:</label></div>
            <div class="col-md-7"><input type="text" id="bankstt" class="form-control input-sm banksdata-action" validationmessage="Bank Stt Till required" data-bind="value: bankaccount.bankstttill"></div>
          </div>
          <div class="col-md-4">
            <button type="button"  id="add" class="btn btn-add btn-sm btn-flat mgright banksdata-action" data-backdrop="static" data-keyboard="false">Add Bank Data</button>
          </div>
          </div>
        </div>
      </div>

      <div class="panel-body" data-bind="visible:(databank().length > 0 )">
        <button type="button" style="display: none" data-bind="attr:{id:'bedit0'},click: editBankData(0),visible:(isempty() != true)"  class="btn btn-warning banksdata-action"  data-target="#modalAdd" data-toggle="modal" data-backdrop="static" data-keyboard="false">Edit</button>
        <button type="button" style="display: none" data-bind="attr:{id:'bdelete0'},click: deleteBankData(0),visible:(isempty() != true)"  class="btn btn-danger">Delete</button>
      </div>
      <div data-bind="visible:(isempty() != true)">
        <div class="panel-body" data-bind="foreach:databank"   style="margin-top: -34px;">
          <div class="clearfix"></div>
            <div >
              <button type="button" data-bind="visible: ($index() > 0),attr:{id:'bedit'+$index()} ,click: editBankData($index())" style="margin-right: 3px;" class="btn btn-warning mgright pull-left banksdata-action">Edit</button>
              <button type="button" data-bind="visible: ($index() > 0),attr:{id:'bdelete'+$index()} ,click: deleteBankData($index())" class="btn btn-danger mgright pull-left">Delete</button>
              <!--<button type="button" data-bind="visible:false,attr:{id:'update'+$index()},click: updateDataBank($index())" class="btn btn-primary mgright pull-right saveupdate banksdata-action">Update</button>-->
            </div>
            <div>

            </div>
          <div class="clearfix"></div>
          <div style="margin-top:20px;">
            <div class="headerdatabankgrid header-bgcolor"><span data-bind="text:DataBank[0].BankAccount.BankName"></span></div>
            <div data-bind="attr:{id:'fundgrid'+$index()}"></div>
            <div data-bind="attr:{id:'bankdetailgrid'+$index()}"></div>
            <!--<div data-bind="attr:{id:'headersecfbs'+$index()}" style="margin-top: 15px" class="headersecfb k-header header-bgcolor">Security for Fund Based</div>-->
            <!--<div class="SFFB" data-bind="attr:{id:'secfbs'+$index()}"><span data-bind="text:DataBank[0].BankAccount.FundBased.SecurityOfFB"></span></div>-->
            <div data-bind="attr:{id:'secfbs'+$index()}"></div>
            <div data-bind="attr:{id:'headernfbs'+$index()}" style='background-color:#313d50 !important;margin-top: 15px;' class="headernfb">Non-Fund Based Detail</div>
            <div data-bind="attr:{id:'nonfundgrid'+$index()}"></div>
            <div data-bind="attr:{id:'headercurrents'+$index()}" class="headernfb">Current Detail</div>
            <div data-bind="attr:{id:'currentgrid'+$index()}"></div>
            <div data-bind="attr:{id:'currentbankdetailgrid'+$index()}"></div>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="modaldb" aria-hidden="true" aria-labelledby="modalTitle" role="dialog" tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title modal-title">Bank Data</h4>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="no-margin">Bank Account</h4>
          </div>
          <div class="panel-body" data-bind="with: bankaccount">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group col-sm-12">
                  <label for="bankname" class="col-sm-4 form-control-label">Bank Name:</label>
                  <div class="col-sm-8">
                    <input type="text" id="bankname" class="form-control input-sm" validationMessage="Bank Name Required" required data-bind="value: bankname"  />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group col-sm-12">
                  <label for="bankname" class="col-sm-4 form-control-label">Facility Type:</label>
                  <div class="col-sm-8">
                    <!--<label class="radio-inline"><input id="fbradio" data-switch-no-init="true" type="radio" name="fb">Fund Based</label>
                    <label class="radio-inline"><input id="nfbradio" data-switch-no-init="true" type="radio" name="nfb">Non-Fund Based</label>
                    <label class="radio-inline"><input id="bothradio" data-switch-no-init="true" type="radio" name="both">Both</label>-->
                    <select id="facilitytype" multiple="multiple" data-placeholder="Select Facility Type"></select>
                  </div>
                </div>
              </div>
              <div id="nfb" class="col-sm-12">
                <h4>Non-Fund Based</h4>
                <hr>
                <div class="form-group col-sm-6">
                  <div class="form-group col-sm-12">
                    <label  class="form-control-label col-sm-4">Nature of Facility:</label>
                    <div class="col-sm-8">
                      <input class="form-control input-sm" id="naturefacility">
                    </div>
                  </div>
                  <div id="othernf" class="form-group col-sm-12">
                    <label  class="form-control-label col-sm-4"></label>
                    <div class="col-sm-8">
                      <input class="form-control input-sm" id="othernaturefacility">
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <label  class="form-control-label col-sm-4">Sanction Limit (Rs. Lacs):</label>
                    <div id="nfbsl" class="col-sm-8" style="margin-left: -10px;">
                      <input type="number" id="nfbsanclimit" class="input-sm" data-bind="" validationMessage="NFB Sanc Limit Rs Lacs Required" required  />
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <label  class="form-control-label col-sm-4">Sanction Date:</label>
                    <div class="col-sm-8">
                      <input class="form-control input-sm"  id="nfbsanctiondate">
                    </div>
                  </div>
                </div>

                <div class="col-sm-6" >
                  <div class="form-group">
                    <label class="col-sm-12" data-bind="text: 'Security for NFB'" style="font-weight: normal;"></label>
                    <div class="securitynfb" class="col-sm-12" data-bind="foreach: nfbsecurity" style="margin-top: 10px;padding-left: 0px;    width: 110%;">
                      <div style=" padding-top:30px; margin-bottom: 10px;">
                        <div class="col-sm-12" style="padding-left: 0px;">
                          <div>
                            <div class="col-sm-10">
                              <textarea class="form-control" rows="1" data-bind="attr:{id: 'securitynfb'+$index()}"></textarea>
                            </div>
                            <div class="col-sm-2" style="text-align: right;">
                            <button   class="btn btn-sm btn-add promoter plus noable" style="float: left;" data-bind="click:addRowSecurityNFB(), visible: ($index() == 0)">
                              <i class="fa fa-plus"></i>
                            </button>
                              <button class="btn btn-sm btn-danger promoter bag noable" style="float: left;" data-bind="click:deleteRowSecurityNFB($index()), visible: ($index() > 0)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div id="fb" class="col-sm-12">
                <h4>Fund Based</h4>
                <hr>
                <div class="form-group col-sm-6">
                  <div class="form-group col-sm-12">
                    <label for="inputPassword3" class="col-sm-4 form-control-label">A/C Type :</label>
                    <div class="col-sm-8">
                      <!--<input type="text" id="actype" class="form-control input-sm" validationMessage="A/C Type Required" required data-bind="value: actype"/>-->
                      <input id="actype" value="1"/>
                    </div>
                  </div>

                  <div class="form-group col-sm-12">
                    <label for="inputEmail3" class="col-sm-4 form-control-label">A/C No :</label>
                    <div class="col-sm-8">
                        <input type="text" id="acno" class="form-control input-sm" validationMessage="A/C No Required" required data-bind="value: acno"/>
                    </div>
                  </div>

                  <div class="form-group col-sm-12">
                    <label for="inputEmail3" class="col-sm-4 form-control-label">A/C Holder :</label>
                    <div class="col-sm-8">
                      <input type="text" id="acholder" class="form-control input-sm" validationMessage="A/C Holder Required" required data-bind="value: acholder"/>
                    </div>
                  </div>

                  <div class="form-group col-sm-12">
                    <label for="inputEmail3" class="col-sm-4 form-control-label"><span class="hidden-sm hidden-xs">Sanction Limit (Rs. Lacs):</label>
                    <div id="ee" class="col-sm-8" style="margin-left: -10px;">
                      <input type="number" id="sanclimit" class="input-sm" validationMessage="Sanc Limit Rs.Lacs required"/>
                    </div>
                  </div>

                  <div class="form-group col-sm-12">
                    <label for="inputEmail3" class="col-sm-4 form-control-label"><span class="hidden-sm hidden-xs">ROI Per Annum (%) :</label>
                    <div id="aa" class="col-sm-8" style="margin-left: -10px;">
                      <input type="number" id="roiperannum" class=" input-sm" validationMessage="ROI PER ANNUM required"/>
                    </div>
                  </div>

                  <div class="form-group col-sm-12">
                    <label for="inputEmail3" class="col-sm-4 form-control-label">Interest Per Month (Rs. Lacs):</label>
                    <div class="col-sm-8">
                      <input type="number" disabled="disabled" id="interestpermonth" class="form-control input-sm" validationMessage="Interest Per Month required" data-bind="value: interestpermonth"/>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <label  class="form-control-label col-sm-4">Sanction Date:</label>
                    <div class="col-sm-8">
                      <input class="form-control input-sm"  id="fbsanctiondate">
                    </div>
                  </div>
                </div>

                <!--<div class="form-group col-sm-6">
                  <label  class="form-control-label col-sm-4">Security for FB:</label>
                  <label id="same" class="checkbox-inline"><input id="samenfb" data-switch-no-init="true" type="checkbox" name="sameasnnfb" />Same as NFB</label>
                  <textarea class="form-control" rows="5" id="securityfb"></textarea>
                </div>-->

                <div class="col-sm-6" >
                  <div class="form-group">
                    <label class="col-sm-6" data-bind="text: 'Security for FB '" style="font-weight: normal;"></label>
                    <label id="same" class="checkbox-inline"><input id="samenfb" data-switch-no-init="true" type="checkbox" name="sameasnnfb" />Same as NFB</label>
                    <div class="securityfb" class="col-sm-12" data-bind="foreach: fbsecurity" style="margin-top: 10px;padding-left: 0px;    width: 110%;">
                      <div style=" padding-top:30px; margin-bottom: 10px;">
                        <div class="col-sm-12" style="padding-left: 0px;">
                          <div >
                            <div class="col-sm-10">
                              <textarea class="form-control" rows="1" data-bind="attr:{id: 'securityfb'+$index()}"></textarea>
                            </div>
                            <div class="col-sm-2" style="text-align: right;">
                            <button   class="btn btn-sm btn-add promoter plus noable" style="float: left;" data-bind="click:addRowSecurityFB(), visible: ($index() == 0)">
                              <i class="fa fa-plus"></i>
                            </button>
                              <button class="btn btn-sm btn-danger promoter bag noable" style="float: left;" data-bind="click:deleteRowSecurityFB($index()), visible: ($index() > 0)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>

                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                       <div class="panel-heading"><h4 class="no-margin">Bank Details</h4></div>
                      <div id="bankdetailgridform"></div>
                    </div>
                  </div>
                </div>
              </div>
              &nbsp;
              <div id="current" class="col-sm-12">
                <h4>Current Account</h4>
                <hr>
                <div class="form-group col-sm-6">
                  <div class="form-group col-sm-12">
                    <label for="inputPassword3" class="col-sm-4 form-control-label">A/C Type :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control input-sm" id="currentactype" value="Current" disabled/>
                    </div>
                  </div>

                  <div class="form-group col-sm-12">
                    <label for="inputEmail3" class="col-sm-4 form-control-label">A/C No :</label>
                    <div class="col-sm-8">
                        <input type="text" id="currentacno" class="form-control input-sm" validationMessage="A/C No Required" required data-bind="value: currentacno"/>
                    </div>
                  </div>

                  <div class="form-group col-sm-12">
                    <label for="inputEmail3" class="col-sm-4 form-control-label">A/C Holder :</label>
                    <div class="col-sm-8">
                      <input type="text" id="currentacholder" class="form-control input-sm" validationMessage="A/C Holder Required" required data-bind="value: currentacholder"/>
                    </div>
                  </div>

                </div>

                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                       <div class="panel-heading"><h4 class="no-margin">Bank Details</h4></div>
                      <div id="currentbankdetailgridform"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="cancelbtn" class="btn btn-danger" type="button" class="btn btn-default"> Cancel</button>
          <button id="savebtn" class="btn btn-success" type="button" class="btn btn-default">Save</button>
          <button id="updatebtn" class="btn btn-warning" type="button" class="btn btn-default">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Form Modal -->



